<!DOCTYPE html>

<html>
	<head>
		<title>Pan Tadeusz</title>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/nataliatadeusz/css/bootstrap.css')}}">
	</head>
	<body>
		<div class="container-fluid">	
			
			<div class="header">
				{% block header %}
				{% endblock %}
			</div>
						
			<div class="row">
				<div class="col-md-2" >
					{% block menu %}
					{% endblock %}
				</div>

				<div class="row">
					<div class="col-md-8">
						{% block content %}
						{% endblock %}
					</div>
				</div>
			</div>
				
			<div class="footer">
				<div class="container">
					<p class="text-muted">Nataliia Stanislavska</p>
				</div>
			</div>
		
		</div>
	
	</body>
</html>
