{% extends "ShrimpsBundle::layout.html.twig" %}
{% block contents %}
	<a href="{{ path('tiger_homepage') }}">Tiger Shrimp</a><br>
	<a href="{{ path('sri_lanka_dwarf_homepage') }}">Sri Lanka Dwarf Shrimp</a><br>
	<a href="{{ path('blue_tail_homepage') }}">Blue Tail Shrimp</a><br>
{% endblock %}