{% extends "ShrimpsBundle::layout.html.twig" %}
{% block contents %}
	<h3>Tiger shrimp</h3>
		<dl>
			<dt>Size</dt>
			<dd>2.5-3.5cmm</dd>
			<dt>Water parameters</dt>
			<dd>Prefers acidic water to feel well and breed. General hardness and conductivity of the water are of no importance.</dd>
			<dt>Photo</dt>
			<dd><img src="{{ asset('bundles/shrimps/images/tiger_shrimp.jpg') }}" /></dd>
		</dl>
	<h4>Shrimps</h4>
	<a href="{{ path('tiger_homepage') }}">Tiger Shrimp</a><br>
	<a href="{{ path('sri_lanka_dwarf_homepage') }}">Sri Lanka Dwarf Shrimp</a><br>
	<a href="{{ path('blue_tail_homepage') }}">Blue Tail Shrimp</a><br>
{% endblock %}