{% extends 'NataliaTadeuszBundle::bars.html.twig' %}

{% block header %}
	<font SIZE="4"><h1 ALIGN="center">KSIĘGA DZIESIĄTA<br>
  	</font><font size="5">EMIGRACJA. JACEK</font></h1>
{% endblock %}

{% block content %}
				<div class="col-md-8">
					    
					  <font SIZE="4"><h2 ALIGN="center">Tresc:</h2>
					  <h2 ALIGN="center">Narada tyczaca sie zabezpieczenia losu zwyciezcow - Uklady z
					  Rykowem - Pozegnanie - Wazne odkrycie - Nadzieja.</font></h2>
					  <hr width="50%" size="1">
					  <p>&nbsp;</p>
					  <p>Owe obloki ranne, zrazu rozpierzchnione</p>
					  <p>Jak czarne ptaki, lecac w wyzsza nieba strone,</p>
					  <p>Coraz sie zgromadzaly; ledwie slonce zbieglo</p>
					  <p>Z poludnia, juz ich stado pol niebios obleglo</p>
					  <p>Ogromna chmura; wiatr ja pedzil coraz chyzej,</p>
					  <p>Chmura coraz gestniala, zwieszala sie nizej,</p>
					  <p>Az jedna strona na wpol od niebios oddarta,</p>
					  <p>Ku ziemi wychylona i wszerz rozpostarta,</p>
					  <p>Jak wielki zagiel, biorac wszystkie wiatry w siebie,</p>
					  <p>Od poludnia na zachod leciala po niebie.</p>
					  <p>&nbsp;</p>
					  <p>I byla chwila ciszy; i powietrze stalo</p>
					  <p>Gluche, milczace, jakby z trwogi oniemialo.</p>
					  <p>I lany zboz, co wprzody, kladac sie na ziemi</p>
					  <p>I znowu w gore trzesac klosami zlotemi,</p>
					  <p>Wrzaly jak fale, teraz stoja nieruchome</p>
					  <p>I pogladaja w niebo najezywszy slome.</p>
					  <p>I zielone przy drogach wierzby i topole,</p>
					  <p>Co pierwej, jako placzki przy grobowym dole,</p>
					  <p>Bily czolem, dlugiemi krecily ramiony,</p>
					  <p>Rozpuszczajac na wiatry warkocz posrebrzony -</p>
					  <p>Teraz jak martwe, z niemej wyrazem zaloby,</p>
					  <p>Stoja na ksztalt posagow sypilskiej Nioby.</p>
					  <p>Jedna osina drzaca wstrzasa liscie siwe.</p>
					  <p>&nbsp;</p>
					  <p>Bydlo, zwykle do domu powracac leniwe,</p>
					  <p>Teraz zbiega sie tlumnie, pasterzy nie czeka</p>
					  <p>I opuszczajac strawe, do domu ucieka.</p>
					  <p>Buhaj racica ziemie kopie, orze rogiem</p>
					  <p>I cala trzode straszy ryczeniem zlowrogiem;</p>
					  <p>Krowa coraz ku niebu wznosi wielkie oko,</p>
					  <p>Usta z dziwu otwiera i wzdycha gleboko;</p>
					  <p>A wieprz marudzi w tyle, dasa sie i zgrzyta,</p>
					  <p>I snopy zboza kradnie, i na zapas chwyta.</p>
					  <p>&nbsp;</p>
					  <p>Ptastwo skrylo sie w lasy, pod strzechy, w glab
					  trawy;</p>
					  <p>Tylko wrony, stadami obstapiwszy stawy,</p>
					  <p>Przechadzaja sie sobie powaznemi kroki,</p>
					  <p>Czarne oczy kieruja na czarne obloki;</p>
					  <p>Wytknawszy jezyk z suchej, szerokiej gardzieli</p>
					  <p>I skrzydla roztaczajac, czekaja kapieli;</p>
					  <p>Lecz i te, przewidujac nazbyt mocna burze,</p>
					  <p>Juz w las ciagna, podobne wznoszacej sie chmurze.</p>
					  <p>Ostatnia z ptakow, lotem niesciglym zuchwala</p>
					  <p>Jaskolka, czarny oblok przeszywa jak strzala,</p>
					  <p>Wreszcie spada jak kula. </p>
					  </font><p>&nbsp;</p>
					  <p>Wlasnie w owej chwili</p>
					  <p>Szlachta z Moskwa okropna walke zakonczyli</p>
					  <p>I chronia sie gromadnie w domy i stodoly,</p>
					  <p>Opuszczaja plac boju, gdzie wkrotce zywioly</p>
					  <p>Stocza walke.</p>
					  <p>&nbsp;</p>
					  </font><p>&nbsp;</p>
					  <p>Na zachod jeszcze ozlocona</p>
					  <p>Ziemia swieci ponuro, zoltawo-czerwona;</p>
					  <p>Juz chmura, roztaczajac cienie na ksztalt sieci,</p>
					  <p>Wylawia resztki swiatla, a za sloncem leci,</p>
					  <p>Jak gdyby je pochwycic chciala przed zachodem.</p>
					  <p>Kilka wichrow raz po raz przeswisnelo spodem,</p>
					  <p>Jeden za drugim leca, miecac krople dzdzyste,</p>
					  <p>Wielkie, jasne, okragle, jak grady ziarniste.</p>
					  <p>&nbsp;</p>
					  <p>Nagle wichry zwarly sie, porwaly sie wpoly,</p>
					  <p>Borykaja sie, kreca, swiszczacemi koly</p>
					  <p>Kraza po stawach, maca do dna wody w stawach;</p>
					  <p>Wpadli na laki, swiszcza po lozach i trawach,</p>
					  <p>Pryskaja loz galezie, leca traw przekosy</p>
					  <p>Na wiatr, jako garsciami wyrywane wlosy,</p>
					  <p>Zmieszane z kedziorami snopow; wiatry wyja,</p>
					  <p>Upadaja na role, tarzaja sie, ryja,</p>
					  <p>Rwa skiby, robia otwor wichrowi trzeciemu,</p>
					  <p>Ktory wydarl sie z roli jak slup czarnoziemu,</p>
					  <p>Wznosi sie, jak ruchoma piramida toczy,</p>
					  <p>Lbem grunt wierci, z nog piasek sypie gwiazdom w oczy,</p>
					  <p>Co krok wszerz wydyma sie, roztwiera ku gorze</p>
					  <p>I ogromna swa traba otrebuje burze.</p>
					  <p>Az z calym tym chaosem wody i kurzawy,</p>
					  <p>Slomy, liscia, galezi, wydartej murawy,</p>
					  <p>Wichry w las uderzyly i po glebiach puszczy</p>
					  <p>Ryknely jak niedzwiedzie. </p>
					  <p>&nbsp;</p>
					  </font><p><font SIZE="4">A juz deszcz wciaz pluszczy,</p>
					  <p>Jak z sita, w gestych kroplach; wtem rykly pioruny,</p>
					  <p>Krople zlaly sie razem; to jak proste strony</p>
					  <p>Dlugim warkoczem wiaza niebiosa do ziemi,</p>
					  <p>To jak z wiader buchaja warstami calemi.</p>
					  <p>Juz zakryly sie calkiem niebiosa i ziemia,</p>
					  <p>Noc je z burza od nocy czarniejsza zaciemia.</p>
					  <p>Czasem widnokrag peka od konca do konca,</p>
					  <p>I aniol burzy na ksztalt niezmiernego slonca</p>
					  <p>Rozswieci twarz, i znowu, okryty calunem,</p>
					  <p>Uciekl w niebo i drzwi chmur zatrzasnal piorunem.</p>
					  <p>Znowu wzmaga sie burza, ulewa nawalna</p>
					  <p>I ciemnosc gruba, gesta, prawie dotykalna.</p>
					  <p>Znowu deszcz ciszej szumi, grom na chwile usnie;</p>
					  <p>Znowu wzbudzi sie, ryknie i znow woda chlusnie.</p>
					  <p>Az sie uspokoilo wszystko; tylko drzewa</p>
					  <p>Szumia okolo domu i szemrze ulewa.</p>
					  <p>&nbsp;</p>
					  <p>W takim dniu pozadany byl czas najburzliwszy;</p>
					  <p>Bo nawalnica, boju plac mrokiem okrywszy,</p>
					  <p>Zalala drogi, mosty zerwala na rzece,</p>
					  <p>Z folwarku niedostepna zrobila fortece.</p>
					  <p>O tem wiec, co sie dzialo w obozie Soplicy,</p>
					  <p>Dzis nie mogla rozejsc sie wiesc po okolicy,</p>
					  <p>A wlasnie zawisl szlachty los od tajemnicy.</p>
					  </font><p>&nbsp;</p>
					  <p>W izbie Sedziego wazne tocza sie narady;</p>
					  <p>Bernardyn lezal w lozku, zmordowany, blady</p>
					  <p>I skrwawiony, lecz calkiem zdrowy na umysle,</p>
					  <p>Daje rozkazy, Sedzia wypelnia je scisle.</p>
					  <p>Prosi Podkomorzego, przyzywa Klucznika,</p>
					  <p>Kaze przywiesc Rykowa, potem drzwi zamyka.</p>
					  <p>Godzine cala trwaly tajemne rozmowy,</p>
					  <p>Az je przerwal kapitan Rykow temi slowy,</p>
					  <p>Rzucajac na stol kiese ciezka dukatami:</p>
					  <p>&quot;Panstwo Lachy, juz jest ta gadka miedzy wami,</p>
					  <p>Ze kazdy Moskal zlodziej; powiedzciez, kto spyta,</p>
					  <p>Ze znaliscie Moskala, ktory zwan Nikita</p>
					  <p>Nikitycz Rykow, rotny kapitan, mial osim</p>
					  <p>Medalow i trzy krzyze - to pamietac prosim:</p>
					  <p>Ten medal za Oczakow, ten za Izmailow,</p>
					  <p>Ten za bitwe pod Nowi, ten za Prejsiz-Ilow,</p>
					  <p>Tamten za Korsakowa slawna rejterade</p>
					  <p>Spod Zurich; a mial takze i za mestwo szpade,</p>
					  <p>Takze od Feldmarszalka trzy zadowolnienia,</p>
					  <p>Dwie pochwaly cesarskie i cztery wspomnienia,</p>
					  <p>Wszystko na pismie&quot;. </p>
					  <p>&nbsp;</p>
					  <p>&quot;Ale, ale, Kapitanie -</p>
					  <p>Przerwal Robak - i coz sie tedy z nami stanie,</p>
					  <p>Jesli nie chcesz zgodzic sie? Wszakze dales slowo</p>
					  <p>Zalatwic te rzecz&quot;. </p>
					  <p>&nbsp;</p>
					  <p>&quot;Prawda, slowo dam na nowo -</p>
					  <p>Rzecze Rykow - ot, slowo! Co po waszej zgubie?</p>
					  <p>Ja czlek poczciwy, ja was, Panstwo Lachy, lubie,</p>
					  <p>Ze wy ludzie weseli, dobrzy do wypitki,</p>
					  <p>I takze ludzie smiali, dobrzy do wybitki.</p>
					  <p>U nas ruskie przyslowie: Kto na wozie jedzie,</p>
					  <p>Bywa czesto pod wozem; kto dzisiaj na przedzie,</p>
					  <p>Jutro w tyle; dzis bijesz, jutro ciebie bija;</p>
					  <p>Czy o to gniew? Tak u nas po zolniersku zyja.</p>
					  <p>Skad by sie czlowiekowi tyle zlosci wzielo</p>
					  <p>Gniewac sie o przegrane! Oczakowskie dzielo</p>
					  <p>Bylo krwawe, pod Zurich zbili nam piechote,</p>
					  <p>Pod Austerlicem cala utracilem rote;</p>
					  <p>A pierwej wasz Kosciuszko pod Raclawicami -</p>
					  <p>Bylem sierzantem - wysiekl moj pluton kosami.</p>
					  <p>I coz stad? To ja znowu u Maciejowicow</p>
					  <p>Zabilem wlasnym sztykiem dwoch dzielnych
					  szlachcicow:</p>
					  <p>Jeden byl Mokronowski, szedl z kosa przed frontem</p>
					  <p>I kanonijerowi ucial reke z lontem.</p>
					  <p>Oj! wy Lachy! Ojczyzna! ja to wszystko czuje,</p>
					  <p>Ja Rykow; car tak kaze, a ja was zaluje;</p>
					  <p>Co nam do Lachow? Niechaj Moskwa dla Moskala,</p>
					  <p>Polska dla Lacha; ale coz? Car nie pozwala!&quot;</p>
					  <p>&nbsp;</p>
					  <p>Sedzia mu na to rzecze: &quot;Panie Kapitanie,</p>
					  <p>Zes czlek poczciwy, wiedza to wszyscy ziemianie,</p>
					  <p>U ktorych na kwaterach stales od lat wielu;</p>
					  <p>Za ten dar nie gniewaj sie, dobry przyjacielu,</p>
					  <p>Nie chcielismy cie skrzywdzic; te oto dukaty</p>
					  <p>Smielismy zlozyc, wiedzac, zes czlek niebogaty&quot;.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Ach, jegry! - wolal Rykow - cala rota skluta!</p>
					  <p>Moja rota! A wszystko z winy tego Pluta!</p>
					  <p>On komendant, on za to przed carem odpowie.</p>
					  <p>A wy te grosze sobie zabierzcie, Panowie.</p>
					  <p>U mnie jest kapitanski moj zold lada jaki,</p>
					  <p>A dosyc mnie na ponczyk i lulke tabaki.</p>
					  <p>A was lubie, ze z wami sobie zjem, popije,</p>
					  <p>Pohulam, pogawedze, i tak sobie zyje;</p>
					  <p>Otoz ja was obronie i, jak bedzie sledztwo,</p>
					  <p>Slowo uczciwe, ze dam za wami swiadectwo.</p>
					  <p>Powiemy, ze my przyszli tu z wizyta, pili</p>
					  <p>Sobie, tanczyli, troche sobie podchmielili,</p>
					  <p>A Plut przypadkiem ognia zakomenderowal,</p>
					  <p>Bitwa! i batalijon tak jakos zmarnowal.</p>
					  <p>Wy, Pany, tylko sledztwo pomazujcie zlotem,</p>
					  <p>Bedzie krecic sie. Ale teraz powiem o tem,</p>
					  <p>Co juz mowilem temu szlachcicu, co dlugi</p>
					  <p>Ma rapier, ze Plut pierwszy komendant, ja drugi:</p>
					  <p>Plut zostal zywy, moze on wam zagiac kruczka</p>
					  <p>Takiego, ze zginiecie, bo to chytra sztuczka;</p>
					  <p>Trzeba mu gebe zatkac bankowym papierem.</p>
					  <p>No i coz, Panie szlachcic, ty z dlugim rapierem,</p>
					  <p>Czy juz byles u Pluta, czys sie z nim naradzil?&quot;</p>
					  <p>&nbsp;</p>
					  <p>Gerwazy obejrzal sie, lysine pogladzil,</p>
					  <p>Kiwnal niedbale reka, jak gdyby znac dawal,</p>
					  <p>Ze juz wszystko zalatwil. - Lecz Rykow nastawal:</p>
					  <p>&quot;Coz, czy Plut bedzie milczec, czy slowem zareczyl?&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>Klucznik zly, ze go Rykow pytaniami dreczyl,</p>
					  <p>Powaznie palec wielki ku ziemi naginal,</p>
					  <p>A potem machnal reka, jak gdyby przecinal</p>
					  <p>Dalsza rozmowe, i rzekl: &quot;Klne sie Scyzorykiem,</p>
					  <p>Ze Plut nie wyda! gadac juz nie bedzie z nikim!&quot;</p>
					  <p>Potem dlonie opuscil i palcami chrzasnal,</p>
					  <p>Jak gdyby tajemnice cala z rak wytrzasnal.</p>
					  <p>&nbsp;</p>
					  <p>Ten ciemny gest pojeli sluchacze i stali,</p>
					  <p>Patrzac z dziwem na siebie, wzajem sie badali.</p>
					  <p>I posepne milczenie trwalo minut kilka,</p>
					  <p>Az Rykow rzekl: &quot;Nosil wilk, poniesli i wilka!&quot;</p>
					  <p>&quot;Requiescat in pace&quot; - dodal Podkomorzy.</p>
					  <p>&quot;Juzci - zakonczyl Sedzia - byl w tem palec Bozy!</p>
					  <p>Lecz ja tej krwi nie winien, jam o tym nie wiedzial&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Ksiadz porwal sie z poduszek i posepny siedzial.</p>
					  <p>Na koniec rzekl, spojrzawszy bystro na Klucznika:</p>
					  <p>&quot;Wielki grzech bezbronnego zabic niewolnika!</p>
					  <p>Chrystus zabrania mscic sie nawet i nad wrogiem!</p>
					  <p>Oj, Kluczniku! odpowiesz ty ciezko przed Bogiem.</p>
					  <p>Jedna jest restrykcyja: jesli popelniono</p>
					  <p>Nie z zemsty glupiej, ale pro publico bono&quot;.</p>
					  <p>Klucznik glowa i reka kiwal wyciagniona</p>
					  <p>I mrugajac powtarzal: Pro publico bono!</p>
					  <p>&nbsp;</p>
					  <p>Wiecej nie bylo mowy o Plucie majorze;</p>
					  <p>Nazajutrz daremnie go szukano we dworze,</p>
					  <p>Daremnie wyznaczono za trupa nagrode,</p>
					  <p>Major zginal bez sladu, jak gdyby wpadl w wode.</p>
					  <p>Co sie z nim stalo, roznie powiadano o tem,</p>
					  <p>Lecz nikt pewnie nie wiedzial ni wtenczas, ni potem.</p>
					  <p>Daremnie pytaniami Klucznika dreczono;</p>
					  <p>Nic nie wyrzekl procz tych slow: Pro publico bono.</p>
					  <p>Wojski byl w tajemnicy, lecz slowem ujety</p>
					  <p>Honorowym, staruszek milczal jak zaklety.</p>
					  <p>&nbsp;</p>
					  <p>Po zawarciu ukladow wyszedl z izby Rykow,</p>
					  <p>A Robak kazal wezwac szlachte wojownikow,</p>
					  <p>Do ktorych Podkomorzy z powaga tak mowi:</p>
					  <p>&quot;Bracia! Bog dzis naszemu szczescil orezowi,</p>
					  <p>Ale musze Wacpanstwu wyznac bez ogrodki,</p>
					  <p>Ze z tych niewczesnych bojow zle wynikna skutki;</p>
					  <p>Zbladzilismy i nikt tu z nas nie jest bez winy:</p>
					  <p>Ksiadz Robak, ze zbyt czynnie rozszerzal nowiny,</p>
					  <p>Klucznik i szlachta, ze je pojela opacznie.</p>
					  <p>Wojna z Rosyja jeszcze niepredko sie zacznie,</p>
					  <p>Tymczasem, kto mial udzial najczynniejszy w bitwie,</p>
					  <p>Ten nie moze bezpieczny zostac sie na Litwie;</p>
					  <p>Musicie wiec do Ksiestwa uciekac, Panowie,</p>
					  <p>A mianowicie Maciej, co sie Chrzciciel zowie,</p>
					  <p>Tadeusz, Konew, Brzytew - niech unosza glowy</p>
					  <p>Za Niemen, gdzie ich czeka zastep narodowy;</p>
					  <p>My na was nieobecnych cala wine zwalim</p>
					  <p>I na Pluta; tak reszte rodzenstwa ocalim.</p>
					  <p>Zegnam was nie na dlugo; sa pewne nadzieje,</p>
					  <p>Ze nam z wiosna swobody zorza zajasnieje</p>
					  <p>I Litwa, co was teraz zegna jak tulaczy,</p>
					  <p>Wkrotce jako zwycieskich swych zbawcow zobaczy.</p>
					  <p>Sedzia wszystko, co trzeba, zgotuje na droge</p>
					  <p>I ja pieniedzmi, ile zdolam, dopomoge&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Czula szlachta, ze madrze Podkomorzy radzil;</p>
					  <p>Wiadomo, ze kto z ruskim carem raz sie zwadzil,</p>
					  <p>Ten juz z nim na tej ziemi nie zgodzi sie szcz?rze</p>
					  <p>I musi albo bic sie, albo gnic w Sybirze.</p>
					  <p>Wiec nic nie mowiac, smutnie po sobie spojrzeli,</p>
					  <p>Westchneli; na znak zgody glowami skineli.</p>
					  <p>&nbsp;</p>
					  <p>Polak, chociaz stad miedzy narodami slynny,</p>
					  <p>Ze bardziej nizli zycie kocha kraj rodzinny,</p>
					  <p>Gotow zawzdy rzucic go, puscic sie w kraj swiata,</p>
					  <p>W nedzy i poniewierce przezyc dlugie lata,</p>
					  <p>Walczac z ludzmi i z losem, poki mu srod burzy</p>
					  <p>Przyswieca ta nadzieja, ze Ojczyznie sluzy.</p>
					  <p>&nbsp;</p>
					  <p>Oswiadczyli, ze zaraz wyjezdzac gotowi.</p>
					  <p>Tylko sie to nie zdalo panu Buchmanowi:</p>
					  <p>Buchman, czlowiek rozsadny, w bitwe sie nie wmieszal,</p>
					  <p>Ale slyszac, ze radza, glosowac pospieszal.</p>
					  <p>Znajdowal projekt dobrym, lecz chcial przeinaczyc,</p>
					  <p>Dokladniej go rozwinac, jasniej wytlumaczyc,</p>
					  <p>A naprzod komisyja legalnie wyznaczyc,</p>
					  <p>Ktora by rozwazyla emigracji cele,</p>
					  <p>Srodki, sposoby tudziez innych wzgledow wiele;</p>
					  <p>Nieszczesciem, krotkosc czasu byla na zawadzie,</p>
					  <p>Ze sie nie stalo zadosc Buchmanowej radzie.</p>
					  <p>Szlachta zegna sie spiesznie i juz w droge rusza.</p>
					  <p>&nbsp;</p>
					  <p>Ale Sedzia zatrzymal w izbie Tadeusza</p>
					  <p>I rzekl do Ksiedza: &quot;Czas juz, zebym ci powiedzial</p>
					  <p>To, o czem-em z pewnoscia wczoraj sie dowiedzial,</p>
					  <p>Ze nasz Tadeusz szczerze zakochany w Zosi;</p>
					  <p>Niechajze przed odjazdem o reke jej prosi;</p>
					  <p>Mowilem z Telimena; juz nam nie przeszkadza.</p>
					  <p>Zosia takze sie z wola opiekunow zgadza.</p>
					  <p>Jesli dzis slubem pary nie mozem uwienczyc,</p>
					  <p>Tocby ich, Panie Bracie, przynajmniej zareczyc</p>
					  <p>Przed odjazdem; bo serce mlode i podrozne,</p>
					  <p>Wiesz dobrze, jako miewa tentacyje rozne;</p>
					  <p>A wszakze kiedy okiem rzuci na pierscionek</p>
					  <p>I przypomni mlodzieniec, ze juz jest malzonek,</p>
					  <p>Zaraz w nim obcych pokus ostyga goraczka.</p>
					  <p>Wierzaj mi, wielka sile ma slubna obraczka.</p>
					  <p>&nbsp;</p>
					  <p>Ja sam przed lat trzydziestu wielki afekt mialem</p>
					  <p>Ku pannie Marcie, ktorej serce pozyskalem;</p>
					  <p>Bylismy zareczeni; Bog nie blogoslawil</p>
					  <p>Zwiazkowi temu i mnie sierota zostawil,</p>
					  <p>Wziawszy do chwaly swojej nadobna Wojszczanke,</p>
					  <p>Przyjaciela mojego core, Hreczeszanke.</p>
					  <p>Pozostala mi tylko pamiatka jej cnoty,</p>
					  <p>Jej wdziekow i ten oto slubny pierscien zloty.</p>
					  <p>Ilekroc nan spojrzalem, zawsze ma nieboga</p>
					  <p>Stawala przed oczyma; i tak z laski Boga</p>
					  <p>Dotad mej narzeczonej dochowalem wiary,</p>
					  <p>I nie bywszy malzonkiem, jestem wdowiec stary,</p>
					  <p>Chociaz Wojski ma druga core, dosc nadobna</p>
					  <p>I do mojej kochanej Marty dosc podobna!&quot;</p>
					  <p>&nbsp;</p>
					  <p>To mowiac, na pierscionek z czuloscia spozieral</p>
					  <p>I odwrocona reka lzy z oczu ocieral.</p>
					  <p>&quot;Bracie - konczyl - co myslisz? Zrobim zareczyny?</p>
					  <p>On kocha, a mam slowo ciotki i dziewczyny&quot;.</p>
					  </font><p>&nbsp;</p>
					  <p>Lecz Tadeusz podbiega i z zywoscia mowi:</p>
					  <p>&quot;Czymze zdolam odwdzieczyc dobremu Stryjowi,</p>
					  <p>Ktory tak o me szczescie ustawnie sie trudzi!</p>
					  <p>Ach, dobry Stryju! Bylbym najszczesliwszy z ludzi,</p>
					  <p>Gdyby mi Zosia byla dzisiaj zareczona,</p>
					  <p>Gdybym wiedzial, ze to jest moja przyszla zona.</p>
					  <p>Przeciez powiem otwarcie: dzis te zareczyny</p>
					  <p>Do skutku przyjsc nie moga; sa rozne przyczyny...</p>
					  <p>Nie pytaj wiecej. Jesli Zosia czekac raczy,</p>
					  <p>Moze mnie wkrotce lepszym, godniejszym obaczy,</p>
					  <p>Moze staloscia na jej wzajemnosc zarobie,</p>
					  <p>Moze troszeczka slawy me imie ozdobie,</p>
					  <p>Moze wkrotce w ojczyste wrocim okolice;</p>
					  <p>Wtenczas, Stryju, wspomne ci twoje obietnice,</p>
					  <p>Wtenczas na kleczkach droga powitam Zosienke</p>
					  <p>I jesli bedzie wolna, poprosze o reke;</p>
					  <p>Teraz porzucam Litwe moze na czas dlugi,</p>
					  <p>Moze Zosi tymczasem podobac sie drugi;</p>
					  <p>Wiezic jej woli nie chce; prosic o wzajemnosc,</p>
					  <p>Na ktoram nie zasluzyl, bylaby nikczemnosc&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Gdy te slowa z uczuciem mowil chlopiec mlody,</p>
					  <p>Zaswiecily mu, jako dwie wielkie jagody</p>
					  <p>Perel, dwie lzy na wielkich blekitnych zrenicach</p>
					  <p>I stoczyly sie szybko po rumianych licach.</p>
					  <p>&nbsp;</p>
					  <p>Ale Zosia ciekawa z glebiny alkowy</p>
					  <p>Sledzila przez szczeline tajemne rozmowy;</p>
					  <p>Slyszala, jak Tadeusz po prostu i smialo</p>
					  <p>Opowiedzial swa milosc, serce w niej zadrzalo,</p>
					  <p>I widziala tych wielkich dwoje lez w zrenicach.</p>
					  <p>Choc dojsc nie mogla watku w jego tajemnicach:</p>
					  <p>Dlaczego ja pokochal? dlaczego porzuca?</p>
					  <p>Gdzie odjezdza? przeciez ja ten odjazd zasmuca.</p>
					  <p>Pierwszy raz poslyszala w zyciu z ust mlodziana</p>
					  <p>Dziwna i wielka nowosc, ze byla kochana.</p>
					  <p>Biegla wiec, gdzie stal maly domowy oltarzyk,</p>
					  <p>Wyjela zen obrazek i relikwijarzyk:</p>
					  <p>Na obrazku tym byla swieta Genowefa,</p>
					  <p>A w relikwiji suknia swietego Jozefa</p>
					  <p>Oblubienca, patrona zareczonej mlodzi;</p>
					  <p>I z temi swietosciami do pokoju wchodzi.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Pan odjezdzasz tak predko? Ja Panu na droge</p>
					  <p>Dam podarunek maly i takze przestroge:</p>
					  <p>Niechaj Pan zawsze z soba relikwije nosi</p>
					  <p>I ten obrazek, a niech pamieta o Zosi.</p>
					  <p>Niech Pana Pan Bog w zdrowiu i szczesciu prowadzi</p>
					  <p>I niech predko szczesliwie do nas odprowadzi&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Umilkla i spuscila glowe; oczki modre</p>
					  <p>Ledwie stulila, z rzesow pobiegly lzy szczodre,</p>
					  <p>A Zosia z zamknietymi stojac powiekami,</p>
					  <p>Milczala, sypiac lzami jako brylantami.</p>
					  <p>&nbsp;</p>
					  <p>Tadeusz, biorac dary i calujac reke,</p>
					  <p>Rzekl: &quot;Pani! Juz ja musze pozegnac Panienke;</p>
					  <p>Badz zdrowa, wspomnij o mnie i racz czasem zmowic</p>
					  <p>Pacierz za mnie! Zofijo!...&quot; Wiecej nie mogl mowic.</p>
					  <p>&nbsp;</p>
					  <p>Lecz Hrabia, z Telimena wszedlszy niespodzianie,</p>
					  <p>Uwazal mlodej pary czule pozegnanie,</p>
					  <p>Wzruszyl sie i rzuciwszy wzrok ku Telimenie:</p>
					  <p>&quot;Ilez - rzekl - jest pieknosci choc w tak prostej scenie!</p>
					  <p>Kiedy dusza pasterki z wojownika dusza,</p>
					  <p>Jak lodz z okretem w burzy, rozlaczyc sie musza!</p>
					  <p>Zaiste! nic tak uczuc w sercu nie rozpala,</p>
					  <p>Jako kiedy sie serce od serca oddala.</p>
					  <p>Czas jest to wiatr: on tylko mala swiece zdmuchnie,</p>
					  <p>Wielki pozar od wiatru tem mocniej wybuchnie.</p>
					  <p>I moje serce zdolne mocniej kochac z dala.</p>
					  <p>Panie Soplico! Mialem ciebie za rywala;</p>
					  <p>Ten blad byl jedna z przyczyn naszej smutnej zwady,</p>
					  <p>Ktora mie przymusila dostac na was szpady.</p>
					  <p>Postrzegam blad moj, bos ty wzdychal ku pasterce,</p>
					  <p>Ja zas tej pieknej Nimfie oddalem me serce.</p>
					  <p>Niech we krwi wrogow nasze utona urazy,</p>
					  <p>Nie bedziem sie zbojczemi rozpierac zelazy.</p>
					  <p>Niech sie inaczej spor nasz zalotny rozstrzygnie:</p>
					  <p>Walczmy, kto kogo czuciem milosci wyscignie!</p>
					  <p>Zostawim oba drogie serc naszych przedmioty,</p>
					  <p>Pospieszymy obadwa na miecze, na groty;</p>
					  <p>Walczmy z soba staloscia, zalem i cierpieniem,</p>
					  <p>A wrogow naszych meznym scigajmy ramieniem&quot;.</p>
					  <p>Rzekl i na Telimene spojrzal, ale ona</p>
					  <p>Nic nie odpowiadala, strasznie zadziwiona.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Moj Hrabio - przerwal Sedzia -</p>
					  <p>po co chcesz koniecznie</p>
					  <p>Wyjezdzac? Wierz mi, w twoich dobrach siedz
					  bezpiecznie.</p>
					  <p>Szlachte biedna rzad moglby odrzec i przechlostac,</p>
					  <p>Ale ty, Hrabio, pewien jestes caly zostac;</p>
					  <p>Wiesz, w jakim rzadzie zyjesz, jestes dosc bogaty,</p>
					  <p>Wykupisz sie od wiezien polowa intraty&quot;.</p>
					  <p>&nbsp;</p>
					  <p>&quot;To niezgodna - rzekl Hrabia - z moim charakterem;</p>
					  <p>Nie moge byc kochankiem, bede bohaterem;</p>
					  <p>W milosci troskach - slawy zwe pocieszycielki;</p>
					  <p>Gdy jestem nedzarz sercem, bede reka wielki&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Telimena pytala: &quot;Ktoz Panu przeszkadza</p>
					  <p>Kochac i byc szczesliwym!&quot; - </p>
					  <p>&quot;Mych przeznaczen wladza -</p>
					  <p>Rzekl Hrabia - ciemnosc przeczuc, ktore ruchem tajnym</p>
					  <p>Rwa sie ku stronom obcym, dzielom nadzwyczajnym.</p>
					  <p>Wyznaje, ze dzis chcialem na czesc Telimenie</p>
					  <p>U oltarzow Hymena zapalic plomienie,</p>
					  <p>Ale mi dal zbyt piekny przyklad ten mlodzieniec,</p>
					  <p>Sam dobrowolnie slubny swoj zrywajac wieniec</p>
					  <p>I biegac serca swego doswiadczac w przeszkodach</p>
					  <p>Zmiennych losow i w krwawych wojennych przygodach.</p>
					  <p>Dzis otwiera sie nowa i dla mnie epoka!</p>
					  <p>Brzmiala odglosem broni mej Birbante-rokka,</p>
					  <p>Oby ten odglos rownie w Polszcze sie rozszerzyl!&quot;</p>
					  <p>Skonczyl i dumnie szpady rekojesc uderzyl.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Juzci - rzekl Robak - trudno ganic te ochote;</p>
					  <p>Jedz, wez pieniadze, mozesz usztyftowac rote,</p>
					  <p>Jak Wlodzimierz Potocki, co Francuzow zdziwil</p>
					  <p>Dajac na skarb milijon; jak ksiaze Radziwill</p>
					  <p>Dominik, co zastawil dobra swe i sprzety</p>
					  <p>I dwa uzbroil nowe konne regimenty.</p>
					  <p>Jedz, jedz, a wez pieniadze; rak tam dosyc mamy,</p>
					  <p>Ale grosza brak w Ksiestwie; jedz Wasze,
					  zegnamy&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Telimena, smutnemi rzuciwszy oczyma:</p>
					  <p>&quot;Niestety - rzekla - widze, ze cie nic nie
					  wstrzyma!</p>
					  <p>Rycerzu moj, w wojenne kiedy wstapisz szranki,</p>
					  <p>Obroc czule spojrzenie na kolor kochanki!</p>
					  <p>(Tu wstazke oderwawszy od sukni, zrobila</p>
					  <p>Kokarde i na piersiach Hrabi przyszpilila).</p>
					  <p>Niech cie ten kolor wiedzie na dziala ogniste,</p>
					  <p>Na kopije blyszczace i deszcze siarczyste,</p>
					  <p>A kiedy sie rozslawisz walecznemi czyny</p>
					  <p>I gdy niesmiertelnemi przeslonisz wawrzyny</p>
					  <p>Skrwawiony szyszak i helm twoj zwyciestwem hardy,</p>
					  <p>I wtenczas jeszcze oko zwroc do tej kokardy.</p>
					  <p>Wspomnij, czyja ten kolor przyszpilila reka!&quot;</p>
					  <p>Tu mu podala reke. </p>
					  <p>Pan Hrabia przykleka,</p>
					  <p>Caluje; Telimena zblizyla do oka</p>
					  <p>Chustke, a drugiem okiem poglada z wysoka</p>
					  <p>Na Hrabie, ktory zegnal ja mocno wzruszony.</p>
					  <p>Ona wzdychala, ale ruszyla ramiony.</p>
					  <p>&nbsp;</p>
					  <p>Lecz Sedzia rzekl: </p>
					  <p>&quot;Moj Hrabio, spiesz sie, bo juz pozno&quot;.</p>
					  <p>A ksiadz Robak: &quot;Dosc tego! - wolal z mina grozna. -</p>
					  <p>Spiesz sie, Wasze!&quot; - Tak rozkaz Sedziego i Ksiedza</p>
					  <p>Rozdziela czula pare i z izby wypedza.</p>
					  <p>&nbsp;</p>
					  <p>Tymczasem pan Tadeusz stryja obejmowal</p>
					  <p>Ze lzami i Robaka w reke pocalowal;</p>
					  <p>Robak, ku piersiom chlopca przycisnawszy skronie</p>
					  <p>I na glowie mu na krzyz polozywszy dlonie,</p>
					  <p>Spojrzal ku niebu i rzekl: &quot;Synu! z Panem Bogiem!&quot;</p>
					  <p>I zaplakal... A juz byl Tadeusz za progiem.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Jak to? - zapytal Sedzia - nic mu brat nie powie</p>
					  <p>I teraz? Biedny chlopiec, jeszcze sie nie dowie</p>
					  <p>O niczem! przed odjazdem?&quot; - </p>
					  <p>&quot;Nie - rzekl Ksiadz - o niczem</p>
					  <p>(Placzac dlugo z zakrytem rekami obliczem).</p>
					  <p>I po coz by mial wiedziec biedny, ze ma ojca,</p>
					  <p>Ktory sie skryl przed swiatem jak lotr, jak zabojca?</p>
					  <p>Bog widzi, jak pragnalbym, ale z tej pociechy</p>
					  <p>Zrobie Bogu ofiare za me dawne grzechy&quot;.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Wiec - rzecze Sedzia - teraz czas myslec o
					  sobie;</p>
					  <p>Uwaz, ze czlowiek w twoim wieku i chorobie</p>
					  <p>Nie zdolalby z innymi razem emigrowac;</p>
					  <p>Mowiles, ze wiesz domek, gdzie sie masz przechowac;</p>
					  <p>Powiedz, gdzie? Spieszmy, czeka zaprzezona bryka.</p>
					  <p>Czy nie najlepiej w puszcze, do chaty lesnika?&quot;</p>
					  <p>&nbsp;</p>
					  <p>Robak, kiwajac glowa, rzekl: &quot;Do jutra rana</p>
					  <p>Mam czas; teraz, moj bracie, poslij do plebana,</p>
					  <p>Aby tu jak najrychlej przybyl z wijatykiem.</p>
					  <p>Oddal stad wszystkich, zostan tyko sam z Klucznikiem.</p>
					  <p>Zamknij drzwi&quot;.</p>
					  <p>Sedzia spelnil Robaka rozkazy</p>
					  <p>I usiada na lozku przy nim; a Gerwazy</p>
					  <p>Stoi, lokiec przytwierdza na glowni rapiera,</p>
					  <p>A czolo pochylone na dloniach opiera.</p>
					  <p>&nbsp;</p>
					  <p>Robak, nim zaczal mowic, w Klucznika oblicze</p>
					  <p>Wzrok utkwil i milczenie chowal tajemnicze.</p>
					  <p>A jako chirurg naprzod miekka reke sklada</p>
					  <p>Na ciele chorujacem, nim ostrzem raz zada,</p>
					  <p>Tak Robak wyraz bystrych oczu swych zlagodzil,</p>
					  <p>Dlugo niemi po oczach Gerwazego wodzil,</p>
					  <p>Na koniec, jakby slepym chcial uderzyc ciosem,</p>
					  <p>Zaslonil oczy reka i rzekl mocnym glosem:</p>
					  <p>&nbsp;</p>
					  <p>&quot;Jam jest Jacek Soplica...&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>Klucznik na to slowo</p>
					  <p>Pobladnal, pochylil sie, i ciala polowa</p>
					  <p>Wygiety naprzod, stanal, zwisl na jednej nodze,</p>
					  <p>Jak glaz lecacy z gory, zatrzymany w drodze.</p>
					  <p>Oczy roztwieral, usta szeroko rozszerzal,</p>
					  <p>Grozac bialemi zeby, a wasy najezal;</p>
					  <p>Rapier z rak upuszczony przy ziemi zatrzymal</p>
					  <p>Kolanami i glownie prawa reka imal,</p>
					  <p>Cisnac ja; rapier, z tylu za nim wyciagniony,</p>
					  <p>Dlugim, czarnym swym koncem chwial sie w rozne strony.</p>
					  <p>I Klucznik byl podobny rysiowi rannemu,</p>
					  <p>Ktory z drzewa ma skoczyc w oczy mysliwemu,</p>
					  <p>Wydyma sie klebuszkiem, mruczy, krwawe slepie</p>
					  <p>Wyiskrza, wasy rusza i ogonem trzepie.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Panie Rebajlo - rzekl Ksiadz - juz mie nie
					  zatrwoza</p>
					  <p>Gniewy ludzkie, bo jestem juz pod reka Boza;</p>
					  <p>Zaklinam cie na imie Tego, co swiat zbawil</p>
					  <p>I na krzyzu zabojcom swoim blogoslawil,</p>
					  <p>I przyjal prosbe lotra, bys sie udobruchal</p>
					  <p>I to, co mam powiedziec, cierpliwie wysluchal;</p>
					  <p>Sam przyznalem sie; musze dla ulgi sumnienia</p>
					  <p>Pozyskac, a przynajmniej prosic przebaczenia.</p>
					  <p>Posluchaj mej spowiedzi; potem zrobisz sobie</p>
					  <p>Ze mna, co zechcesz&quot;. I tu zlozyl rece obie</p>
					  <p>Jak do pacierza; Klucznik cofnal sie zdumiony,</p>
					  <p>Uderzal reka w czolo i ruszal ramiony.</p>
					  <p>&nbsp;</p>
					  <p>A Ksiadz zaczal swa dawna z Horeszka zazylosc</p>
					  <p>Opowiadac i swoja z jego corka milosc,</p>
					  <p>I swe z tego powodu z Stolnikiem zatargi.</p>
					  <p>Lecz mowil nieporzadnie, czesto mieszal skargi</p>
					  <p>I zale we swa spowiedz, czesto rzecz przecinal,</p>
					  <p>Jak gdyby juz ja konczyl, i znowu zaczynal.</p>
					  <p>&nbsp;</p>
					  <p>Klucznik, dzieje Horeszkow znajacy dokladnie,</p>
					  <p>Cala te powiesc, chociaz splatana bezladnie,</p>
					  <p>Porzadkowal w pamieci i dopelniac umial;</p>
					  <p>Lecz Sedzia wielu rzeczy zgola nie rozumial.</p>
					  <p>Oba pilnie sluchali, pochyliwszy glowy,</p>
					  <p>A Jacek mowil coraz wolniejszemi slowy</p>
					  <p>I czesto zarywal sie.</p>
					  <p>*</p>
					  <p>&nbsp;</p>
					  </font><p><font SIZE="4">&quot;Wszak sam wiesz, Gerwazenku, jak Stolnik
					  zapraszal</p>
					  <p>Czesto mnie na biesiady; zdrowie moje wnaszal,</p>
					  <p>Krzyczal nieraz, do gory podnioslszy szklenice,</p>
					  <p>Ze nie mial przyjaciela nad Jacka Soplice;</p>
					  <p>Jak on mnie sciskal! Wszyscy, ktorzy to widzieli,</p>
					  <p>Myslili, ze on ze mna dusza sie podzieli.</p>
					  <p>On przyjaciel? on wiedzial, co sie wtenczas dzialo</p>
					  <p>W duszy mojej! </p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>Tymczasem juz szeptala o tem okolica,</p>
					  <p>Jaki taki gadal mi: &lt;&lt;Ej, panie Soplica!</p>
					  <p>Daremnie konkurujesz; dygnitarskie progi</p>
					  <p>Za wysokie na Jacka podczaszyca nogi&gt;&gt;.</p>
					  <p>Ja smialem sie, udajac, ze drwilem z magnatow</p>
					  <p>I z corek ich, i nie dbam o arystokratow;</p>
					  <p>Ze jesli bywam u nich, z przyjazni to robie,</p>
					  <p>A za zone nie pojme, tylko rowna sobie.</p>
					  <p>Przecie bodly mi dusze do zywca te zarty;</p>
					  <p>Bylem mlody, odwazny, swiat byl mnie otwarty</p>
					  <p>W kraju, gdzie, jako wiecie, szlachcic urodzony</p>
					  <p>Jest zarowno z panami kandydat korony!</p>
					  <p>Wszakze Teczynski niegdys z krolewskiego domu</p>
					  <p>Zadal cory, a krol mu oddal ja bez sromu.</p>
					  <p>Soplicow czyz nie rowne Teczynskim zaszczyty</p>
					  <p>Krwia, herbem, wierna sluzba Rzeczypospolit?j!</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>Jak latwo moze czlowiek popsuc szczescie drugim</p>
					  <p>W jednej chwili, a zyciem nie naprawi dlugi?m!</p>
					  <p>Jedno slowo Stolnika, jakzebysmy byli</p>
					  <p>Szczesliwi! Kto wie, moze dotad bysmy zyli,</p>
					  <p>Moze i on przy swojem kochanem dziecieciu,</p>
					  <p>Przy swojej pieknej Ewie, przy swym wdziecznym zieciu</p>
					  <p>Zestarzalby spokojny! moze wnuki swoje</p>
					  <p>Kolysalby! Teraz co? nas zgubil oboje,</p>
					  <p>I sam... i to zabojstwo... i wszystkie nastepstwa</p>
					  <p>Tej zbrodni, wszystkie moje biedy i przestepstwa!...</p>
					  <p>Ja skarzyc nie mam prawa, ja jego morderca,</p>
					  <p>Ja skarzyc nie mam prawa, przebaczam mu z serca,</p>
					  <p>Ale i on...</p>
					  </font><p>&nbsp;</p>
					  <p>Zeby juz raz otwarcie byl mnie zrekuzowal,</p>
					  <p>Bo znal nasze uczucia; gdyby nie przyjmowal</p>
					  <p>Mych odwiedzin; to kto wie? moze bym odjechal,</p>
					  <p>Pogniewal sie, polajal, w koncu go zaniechal.</p>
					  <p>Ale on, chytrze dumny, wpadl na koncept nowy:</p>
					  <p>Udawal, ze mu nawet nie przyszlo do glowy,</p>
					  <p>Zeby ja mogl sie starac o zwiazek takowy.</p>
					  <p>A bylem mu potrzebnym, mialem zachowanie</p>
					  <p>U szlachty i lubili mnie wszyscy ziemianie.</p>
					  <p>Wiec on niby milosci mojej nie dostrzegal,</p>
					  <p>Przyjmowal mnie jak dawniej, a nawet nalegal,</p>
					  <p>Abym czesciej przyjezdzal; a ilekroc sami</p>
					  <p>Bylismy, widzac oczy me przycmione lzami</p>
					  <p>I piers zbyt pelna i juz wybuchnac gotowa,</p>
					  <p>Chytry starzec, wnet wrzucil obojetne slowo</p>
					  <p>O procesach, sejmikach, lowach...</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>Ach, nieraz przy kieliszkach, gdy sie tak rozrzewnial,</p>
					  <p>Gdy mie tak sciskal i o przyjazni zapewnial,</p>
					  <p>Potrzebujac mej szabli lub kreski na sejmie,</p>
					  <p>Gdy musialem nawzajem sciskac go uprzejmie,</p>
					  <p>To tak we mnie zlosc wrzala, ze ja obracalem</p>
					  <p>Sline w gebie, a dlonia rekojesc sciskalem,</p>
					  <p>Chcac plunac na te przyjazn i wnet szabli dostac;</p>
					  <p>Ale Ewa, zwazajac moj wzrok i ma postac,</p>
					  <p>Zgadywala, nie wiem jak, co sie we mnie dzialo,</p>
					  <p>Patrzyla blagajaca, lice jej blednialo;</p>
					  <p>A byl to taki piekny golabek, lagodny,</p>
					  <p>I wzrok miala uprzejmy taki! tak pogodny!</p>
					  <p>Taki anielski, ze juz nie wiem, juz nie mialem</p>
					  <p>Odwagi zagniewac ja, zatrwozyc - milczalem.</p>
					  <p>I ja, zawadyjaka slawny w Litwie cal?j,</p>
					  <p>Co przede mna najwieksze pany nieraz drzaly,</p>
					  <p>Com nie zyl dnia bez bitki, co nie Stolnikowi,</p>
					  <p>Alebym sie pokrzywdzic nie dal i krolowi,</p>
					  <p>Co we wscieklosc najmniejsza wprawiala mie sprzeczka,</p>
					  <p>Ja wtenczas, zly i pjany, milczal jak owieczka!</p>
					  <p>Jak gdybym Sanctissimum ujrzal!</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>Ilez to razy chcialem serce me otworzyc</p>
					  <p>I juz sie nawet przed nim do prosb upokorzyc,</p>
					  <p>Lecz spojrzawszy mu w oczy, spotkawszy wejrzenia</p>
					  <p>Zimne jak lod, wstyd mi bylo mojego wzruszenia;</p>
					  <p>Spieszylem znowu jak najzimniej dyskurowac</p>
					  <p>O sprawach, o sejmikach, a nawet zartowac.</p>
					  <p>Wszystko to, prawda, z pychy, zeby nie ublizyc</p>
					  <p>Imieniowi Soplicow, zeby sie nie znizyc</p>
					  <p>Przed panem prosba prozna, nie dostac odmowy,</p>
					  <p>Bo jakiez by to byly miedzy szlachta mowy,</p>
					  <p>Gdyby wiedziano, ze ja, Jacek...</p>
					  <p>&nbsp;</p>
					  <p>Soplicy Horeszkowie odmowili dziewke!</p>
					  <p>Ze mnie, Jackowi, czarna podano polewke!</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>&quot;W koncu, sam juz nie wiedzac, jak sobie
					  poradzic,</p>
					  <p>Umyslilem ze szlachty maly pulk zgromadzic</p>
					  <p>I opuscic na zawsze powiat i Ojczyzne,</p>
					  <p>Wyniesc sie gdzie na Moskwe lub na Tatarszczyzne</p>
					  <p>I zaczac wojne. Jade pozegnac Stolnika,</p>
					  <p>W nadziei, ze gdy ujrzy wiernego stronnika,</p>
					  <p>Dawnego przyjaciela, prawie domownika,</p>
					  <p>Z ktorym pil i wojowal przez tak dlugie lata,</p>
					  <p>Teraz zegnajacego i kedys w kraj swiata</p>
					  <p>Jadacego - ze moze starzec sie poruszy</p>
					  <p>I pokaze mi przeciez troche ludzkiej duszy,</p>
					  <p>Jak slimak rogow!</p>
					  <p>&nbsp;</p>
					  <p>Ach! kto choc na dnie serca ma dla przyjaciela</p>
					  <p>Chocby iskierke czucia, gdy sie z nim rozdziela,</p>
					  <p>Dobedzie sie iskierka ta przy pozegnaniu,</p>
					  <p>Jako ostatni plomyk zycia przy skonaniu!</p>
					  <p>Raz ostatni dotknawszy przyjaciela skroni,</p>
					  <p>Czestokroc najzimniejsze oko lze uroni!</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>&quot;Biedna, slyszac o moim odjezdzie, pobladla,</p>
					  <p>Bez przytomnosci, ledwie ze trupem nie padla,</p>
					  <p>Nie mogla nic przemowic, az sie jej rzucily</p>
					  <p>Strumieniem lzy - poznalem, jak jej bylem mily!</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>Pomne, pierwszy raz w zyciu jam sie lzami zalal</p>
					  <p>Z radosci i z rozpaczy, zapomnial sie, szalal.</p>
					  <p>Juz chcialem znowu upasc ojcu jej pod nogi,</p>
					  <p>Wic sie jak waz u kolan, wolac: &lt;&lt;Ojcze drogi,</p>
					  <p>Wez za syna lub zabij!&gt;&gt; Wtem Stolnik posepny,</p>
					  <p>Zimny jako slup soli, grzeczny, obojetny,</p>
					  <p>Wszczal dyskurs, o czem? o czem? O corki weselu!</p>
					  <p>W tej chwili! O Gerwazy! uwaz, przyjacielu,</p>
					  <p>Masz ludzkie serce! ... </p>
					  </font><p>&nbsp;</p>
					  <p>Stolnik rzekl: &lt;&lt;Panie Soplica,</p>
					  <p>Wlasnie przyjechal do mnie swat Kasztelanica;</p>
					  <p>Ty jestes moj przyjaciel, coz ty mowisz na to?</p>
					  <p>Wiesz Wasze, ze mam corke piekna i bogata,</p>
					  <p>A kasztelan witebski! wszakze to w senacie</p>
					  <p>Niskie, drazkowe krzeslo. Coz mi radzisz, bracie?&gt;&gt;</p>
					  <p>Nie pamietam juz zgola, co mu na to rzeklem,</p>
					  <p>Podobno nic - na konia wsiadlem i ucieklem!&quot;</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>&quot;Jacku! - zawolal Klucznik. - Madre ty przyczyny</p>
					  <p>Wynajdujesz; coz? one nie zmniejsza twej winy!</p>
					  <p>Bo wszakze zdarzalo sie juz nieraz na swiecie,</p>
					  <p>Ze kto pokochal panskie lub krolewskie dziecie,</p>
					  <p>Staral sie gwaltem zdobyc, przemyslal wykradac,</p>
					  <p>Mscil sie otwarcie - ale tak chytrze smierc zadac!</p>
					  <p>Panu polskiemu! w Polszcze, i w zmowie z Moskalem!&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>&quot;Nie bylem w zmowie! -</p>
					  <p>Jacek odpowiedzial z zalem. -</p>
					  <p>Gwaltem porwac? wszak moglbym, zza krat i zza klamek</p>
					  <p>Wydarlbym ja, rozbilbym w puch ten jego zamek!</p>
					  <p>Mialem za soba Dobrzyn i cztery zascianki.</p>
					  <p>Ach, gdyby ona byla jak nasze szlachcianki,</p>
					  <p>Silna i zdrowa! gdyby ucieczki, pogoni</p>
					  <p>Nie zlekla sie i mogla sluchac szczeku broni!</p>
					  <p>Lecz ona biedna! tak ja rodzice piescili,</p>
					  <p>Slaba, lekliwa! byl to robaczek motyli,</p>
					  <p>Wiosenna gasieniczka! I tak ja zagrabic,</p>
					  <p>Dotknac ja zbrojna reka - byloby ja zabic.</p>
					  <p>Nie moglem! Nie.</p>
					  <p>&nbsp;</p>
					  <p>Mscic sie otwarcie, szturmem zamek zwalic w gruzy,</p>
					  <p>Wstyd, boby powiedziano, zem mscil sie rekuzy!</p>
					  <p>Kluczniku, twoje serce poczciwe nie umie</p>
					  <p>Uczuc, ile jest piekla w obrazonej dumie.</p>
					  <p>&nbsp;</p>
					  <p>Szatan dumy zaczal mi lepsze plany raic:</p>
					  <p>Zemscic sie krwawo, ale powod zemsty taic,</p>
					  <p>Nie bywac w zamku, milosc z serca wykorzenic,</p>
					  <p>Puscic w niepamiec Ewe, z inna sie ozenic,</p>
					  <p>A potem, potem jaka wynalezc zaczepke,</p>
					  <p>Pomscic sie.</p>
					  <p>&nbsp;</p>
					  <p>I zdalo mi sie zrazu, zem juz serce zmienil,</p>
					  <p>I rad bylem z wymyslu, i - jam sie ozenil</p>
					  <p>Z pierwsza, ktoram napotkal dziewczyna uboga!</p>
					  <p>Zlem zrobil - jakze bylem ukarany srogo!</p>
					  <p>Nie kochalem jej. Biedna matka Tadeusza,</p>
					  <p>Najprzywiazansza do mnie, najpoczciwsza dusza -</p>
					  <p>Ale ja dawna milosc i zlosc w sercu dusil,</p>
					  <p>Bylem jakby szalony, darmom siebie musil</p>
					  <p>Zajac sie gospodarstwem albo interesem;</p>
					  <p>Wszystko na prozno! Zemsty opetany biesem,</p>
					  <p>Zly, opryskliwy, znalezc nie moglem pociechy</p>
					  <p>W niczem na swiecie - </p>
					  <p>i tak z grzechow w nowe grzechy...</p>
					  </font><p>&nbsp;</p>
					  <p>Zaczalem pic.</p>
					  <p>&nbsp;</p>
					  <p>I tak niedlugo zona ma z zalu umarla</p>
					  <p>Zostawiwszy to dziecie, a mnie rozpacz zarla!</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>Jakze mocno musialem kochac te nieboge,</p>
					  <p>Tyle lat! gdziem ja nie byl! a dotad nie moge</p>
					  <p>Jej zapomniec i zawzdy jej postac kochana</p>
					  <p>Stoi mi przed oczyma jakby malowana!</p>
					  <p>Pilem, nie moglem zapic pamieci na chwile</p>
					  <p>Ani pozbyc sie, chociaz przebieglem ziem tyle!</p>
					  <p>Teraz oto w habicie jestem Bozym sluga,</p>
					  <p>Na lozu, we krwi... O niej mowilem tak dlugo! -</p>
					  <p>W tej chwili, o tych rzeczach mowic? Bog wybaczy!</p>
					  <p>Musicie wiedziec, w jakim zalu i rozpaczy</p>
					  <p>Popelnilem...</p>
					  <p>&nbsp;</p>
					  </font><p>&nbsp;</p>
					  <p>Bylo to wlasnie wkrotce po jej zareczynach;</p>
					  <p>Wszedzie gadano tylko o jej zareczynach:</p>
					  <p>Powiadano, ze Ewa, gdy brala obraczke</p>
					  <p>Z rak Wojewody, mdlala, ze wpadla w goraczke,</p>
					  <p>Ze ma poczatki suchot, ze ustawnie szlocha;</p>
					  <p>Zgadywano, ze kogos potajemnie kocha...</p>
					  <p>Ale Stolnik, jak zawsze, spokojny, wesoly,</p>
					  <p>Dawal na zamku bale, zbieral przyjacioly,</p>
					  <p>Mnie juz nie prosil - na coz bylem mu potrzebny?</p>
					  <p>Moj bezlad w domu, bieda, moj nalog haniebny</p>
					  <p>Podaly mnie na wzgarde i na smiech przed swiatem!</p>
					  <p>Mnie, com niegdys, rzec moge, trzasl calym powiatem!</p>
					  <p>Mnie, ktorego Radziwill nazywal: kochanku!</p>
					  <p>Mnie, com kiedy wyjezdzal z mojego zascianku,</p>
					  <p>To liczniejszy dwor mialem nizeli ksiazecy!</p>
					  <p>Kiedym szable dostawal, to kilka tysiecy</p>
					  <p>Szabel blyszczalo wkolo, straszac zamki panskie!</p>
					  <p>A potem ze mnie dzieci smialy sie wloscianskie!</p>
					  <p>Tak zrobilem sie nagle w oczach ludzkich lichy!</p>
					  <p>Jacek Soplica! - Kto zna, co jest czucie pychy...&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>Tu Bernardyn oslabial i upadl na loze,</p>
					  <p>A Klucznik rzekl wzruszony: &quot;Wielkie sady Boze!</p>
					  <p>Prawda! prawda! wiec to ty? i tyzes to, Jacku</p>
					  <p>Soplico? pod kapturem? zyles po zebracku!</p>
					  <p>Ty, ktorego pamietam, gdy zdrowy, rumiany,</p>
					  <p>Piekny szlachcic, gdy tobie pochlebialy pany,</p>
					  <p>Gdy za toba kobiety szalaly! Wasalu!</p>
					  <p>Nie tak to dawno. takes zestarzal sie z zalu!</p>
					  <p>Jakzem ciebie nie poznal po owym wystrzale,</p>
					  <p>Kiedys tak do niedzwiedzia trafil doskonale?</p>
					  <p>Bo nad ciebie nie miala strzelca Litwa nasza,</p>
					  <p>Byles takze po Macku pierwszy do palasza!</p>
					  <p>Prawda! o tobie niegdys spiewaly szlachcianki:</p>
					  <p>&lt;&lt;Oto Jacek was kreci, trzesa sie zascianki,</p>
					  <p>A komu na swym wasie wezelek zawiaze,</p>
					  <p>Ten zadrzy, chocby to byl sam Radziwill ksiaze&gt;&gt;.</p>
					  <p>Zawiazales ty wezel i mojemu panu!</p>
					  <p>Nieszczesniku! i tyzes? do takiego stanu?</p>
					  <p>Jacek Wasal kwestarzem! wielkie sady boze!</p>
					  <p>I teraz! ha! bezkarnie ujsc tobie nie moze,</p>
					  <p>Przysiaglem: kto Horeszkow krwi krople wysaczyl...&quot;</p>
					  <p>&nbsp;</p>
					  <p>Tymczasem Ksiadz na lozu usiadl i tak konczyl:</p>
					  <p>&quot;Jezdzilem kolo zamku; ile biesow w glowie</p>
					  <p>I w sercu mialem, kto ich imiona wypowie!</p>
					  <p>Stolnik! zabija dziecie wlasne, mnie juz zabil,</p>
					  <p>Zniszczyl - Jade pod brame, szatan mie tam wabil.</p>
					  <p>Patrz, jak on hula! co dzien w zamku pijatyka,</p>
					  <p>Ile swiec w oknach, jaka brzmi w salach muzyka!</p>
					  <p>I ten zamek na lysa glowe mu nie runie...</p>
					  <p>Pomysl o zemscie, to wnet szatan bron podsunie.</p>
					  <p>Ledwiem pomyslil, szatan nasyla Moskali.</p>
					  <p>Stalem patrzac; wiesz, jak wasz zamek szturmowali.</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>Bo falsz, zebym byl w jakiej z Moskalami zmowie.</p>
					  <p>&nbsp;</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  <p>&quot;Patrzylem; rozne mysli snuly sie po glowie,</p>
					  <p>Zrazu z usmiechem glupim, jak na pozar dziecko,</p>
					  <p>Patrzylem, potem radosc uczulem zbojecka,</p>
					  <p>Czekajac, rychlo zacznie palic sie i walic;</p>
					  <p>Czasem mysl przychodzila: skoczyc, ja ocalic,</p>
					  <p>Nawet Stolnika...</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>Broniliscie sie, ty wiesz, dzielnie i przytomnie.</p>
					  <p>Zdziwilem sie; Moskale padali wkolo mnie,</p>
					  <p>Bydleta, zle strzelaja! - Na widok ich kleski</p>
					  <p>Zlosc mie znowu porwala. - Ten Stolnik zwycieski!</p>
					  <p>I tak-ze mu na swiecie wszystko sie powodzi?</p>
					  <p>I z tej strasznej napasci z tryumfem wychodzi?</p>
					  <p>Odjezdzalem ze wstydem - wlasnie byl poranek,</p>
					  <p>Wtem ujrzalem, poznalem: wystapil na ganek</p>
					  <p>I brylantowa szpinka ku sloncu migotal,</p>
					  <p>I was pokrecal dumnie i wzrok dumny miotal,</p>
					  <p>I zdalo mi sie, ze mnie szczegolniej uragal,</p>
					  <p>Ze mnie poznal i ku mnie reke t a k wyciagal,</p>
					  <p>Szydzac i grozac. - Chwytam karabin Moskala;</p>
					  <p>Ledwiem przylozyl, prawie nie mierzyl - wypala!</p>
					  <p>Wiesz!...</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>Przekleta bron ognista! Kto mieczem zabija,</p>
					  <p>Musi skladac sie, natrzec, odbija, wywija,</p>
					  <p>Moze rozbroic wroga, miecz w pol drogi wstrzymac;</p>
					  <p>Ale ta bron ognista, dosyc zamek imac,</p>
					  <p>Chwila, jedna iskierka...</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>Czyz uciekalem, kiedys mierzyl do mnie z gory?</p>
					  <p>Utkwilem oczy we dwie twojej broni rury,</p>
					  <p>Rozpacz jakas! zal dziwny do ziemi mnie przybil!</p>
					  <p>Czemuz, ach, moj Gerwazy, czemus wtenczas chybil?</p>
					  <p>Laske bys zrobil! Widac, za pokute grzechu</p>
					  <p>Trzeba bylo...&quot;</p>
					  <p>&nbsp;</p>
					  <p>Tu znowu braklo mu oddechu.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Bog widzi - rzecze Klucznik -</p>
					  <p>szczerze trafic chcialem!</p>
					  <p>Ilez ty krwi wylales twoim jednym strzalem,</p>
					  <p>Ilez klesk spadlo na nas i na twa rodzine,</p>
					  <p>A wszystko to przez Wasza, Panie Jacku, wine!</p>
					  <p>A wszakze gdy dzis jegry Hrabie na cel wzieli,</p>
					  <p>Ostatniego z Horeszkow, chociaz po kadzieli,</p>
					  <p>Tys go zaslonil, i gdy Moskal do mnie palil,</p>
					  <p>Tys mie rzucil o ziemie, tak nas dwoch ocalil.</p>
					  <p>Jesli prawda, ze jestes ksiedzem zakonnikiem,</p>
					  <p>Juzci sukienka broni cie przed Scyzorykiem.</p>
					  <p>Badz zdrow, wiecej na Waszym nie postane progu,</p>
					  <p>Z nami kwita - zostawmy reszte Panu Bogu&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Jacek reke wyciagnal - cofnal sie Gerwazy:</p>
					  <p>&quot;Nie moge - rzekl - bez mego szlachectwa obrazy</p>
					  <p>Dotykac reke, takiem morderstwem skrwawiona</p>
					  <p>Z prywatnej zemsty, nie zas pro publico bono&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Ale Jacek, z poduszek na loze upadlszy,</p>
					  <p>Zwrocil sie ku Sedziemu, a byl coraz bladszy</p>
					  <p>I niespokojnie pytal o ksiedza plebana,</p>
					  <p>I wolal na Klucznika: &quot;Zaklinam Wacpana,</p>
					  <p>Abys zostal; wnet skoncze, ledwie mam dosc mocy</p>
					  <p>Zakonczyc... Panie Klucznik!... ja umre tej nocy!&quot;</p>
					  <p>&nbsp;</p>
					  <p>&quot;Co, bracie? - krzyknal Sedzia - widzialem,
					  wszak rana</p>
					  <p>Niewielka, co ty mowisz? po ksiedza plebana?</p>
					  <p>Moze zle opatrzono - zaraz po doktora,</p>
					  <p>W apteczce jest...&quot;</p>
					  <p>Ksiadz przerwal: &quot;Bracie, juz nie pora.</p>
					  <p>Mialem tam strzal dawniejszy, dostalem pod Jena,</p>
					  <p>Zle zgojony, a teraz drasniono - gangrena</p>
					  <p>Juz tu - znam sie na ranach, patrz, jaka krew czarna</p>
					  <p>Jak sadza; co tu doktor? Ale to rzecz marna;</p>
					  <p>Raz umieramy, jutro czy dzis oddac dusze... -</p>
					  <p>Panie Klucznik, przebaczysz mnie, ja skonczyc musze!</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>Jest w tem zasluga: nie chciec zostac winowajca</p>
					  <p>Narodowym, choc narod okrzyczy cie zdrajca!</p>
					  <p>Zwlaszcza w kim taka, jaka byla we mnie duma!</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>Imie zdrajcy przylgnelo do mnie jako dzuma.</p>
					  <p>Odwracali ode mnie twarz obywatele,</p>
					  <p>Uciekali ode mnie dawni przyjaciele;</p>
					  <p>Kto byl lekliwy, z dala wital sie i stronil;</p>
					  <p>Nawet lada chlop, lada Zyd, choc sie poklonil,</p>
					  <p>To mie z boku szyderskim przebijal usmiechem;</p>
					  <p>Wyraz &lt;&lt;zdrajca&gt;&gt; brzmial w uszach, odbijal sie echem</p>
					  <p>W domie, w polu; ten wyraz od rana do zmroku</p>
					  <p>Wil sie przede mna, jako plama w chorym oku.</p>
					  <p>Przeciez nie bylem zdrajca kraju!...</p>
					  <p>&nbsp;</p>
					  <p>Moskwa mnie uwazala gwaltem za stronnika,</p>
					  <p>Dano Soplicom znaczna czesc dobr nieboszczyka,</p>
					  <p>Targowiczanie potem chcieli mnie zaszczycic</p>
					  <p>Urzedem. Gdybym wtenczas chcial sie przemoskwicic!</p>
					  <p>Szatan radzil - juz bylem mozny i bogaty;</p>
					  <p>Gdybym zostal Moskalem? Najpierwsze magnaty</p>
					  <p>Szukalyby mych wzgledow; nawet szlachta braty,</p>
					  <p>Nawet gmin, ktory swoim tak lacnie uwlacza,</p>
					  <p>Tym, ktorzy Moskwie sluza, szczesliwszym - przebacza!</p>
					  <p>Wiedzialem to, a przeciez - nie moglem.</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>Ucieklem z kraju!</p>
					  <p>Gdziem nie byl! com nie cierpial!</p>
					  <p>&nbsp;</p>
					  <p>Az Bog raczyl lekarstwo jedyne objawic.</p>
					  <p>Poprawic sie potrzeba bylo i naprawic,</p>
					  <p>Ile moznosci to...</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  </font><p>&nbsp;</p>
					  <p>&quot;Corka Stolnika, ze swym mezem Wojewoda</p>
					  <p>Gdzies w Sybir wywieziona, tam umarla mlodo;</p>
					  <p>Zostawila te w kraju corke, mala Zosie,</p>
					  <p>Kazalem ja hodowac.</p>
					  <p>&nbsp;</p>
					  <p>*</p>
					  <p>&nbsp;</p>
					  <p>&quot;Bardziej nizli z milosci, moze z glupiej pychy</p>
					  <p>Zabilem; wiec pokora... wszedlem miedzy mnichy,</p>
					  <p>&nbsp;</p>
					  <p>Ja, niegdys dumny z rodu, ja, com byl junakiem,</p>
					  <p>Spuscilem glowe, kwestarz, zwalem sie Robakiem,</p>
					  <p>Ze jako robak w prochu...</p>
					  <p>&nbsp;</p>
					  <p>&quot;Zly przyklad dla Ojczyzny, zachete do zdrady,</p>
					  <p>Trzeba bylo okupic dobremi przyklady,</p>
					  <p>Krwia, poswieceniem sie...</p>
					  <p>&nbsp;</p>
					  <p>Bilem sie za kraj; gdzie? jak? zmilcze; nie dla
					  chwaly</p>
					  <p>Ziemskiej bieglem tylekroc na miecze, na strzaly.</p>
					  <p>Milej sobie wspominam nie dziela waleczne</p>
					  <p>I glosne, ale czyny ciche, uzyteczne,</p>
					  <p>I cierpienia, ktorych nikt...</p>
					  </font><p>&nbsp;</p>
					  <p>Udalo mi sie nieraz do kraju przedzierac,</p>
					  <p>Rozkazy wodzow nosic, wiadomosci zbierac,</p>
					  <p>Ukladac zmowy... Znaja i Galicyjanie</p>
					  <p>Ten kaptur mnisi - znaja i Wielkopolanie!</p>
					  <p>Pracowalem przy taczkach rok w pruskiej fortecy,</p>
					  <p>Trzy razy Moskwa kijmi zranila me plecy,</p>
					  <p>Raz juz wiedli na Sybir; potem Austryjacy</p>
					  <p>W Szpilbergu zakopali mnie w lochach do pracy,</p>
					  <p>W carcer durum - a Pan Bog wybawil mie cudem</p>
					  <p>I pozwolil umierac miedzy swoim ludem,</p>
					  <p>Z Sakramentami.</p>
					  </font><p>&nbsp;</p>
					  <p>Moze i teraz, kto wie? mozem znowu zgrzeszyl!</p>
					  <p>Mozem nad rozkaz wodzow powstanie przyspieszyl!</p>
					  <p>Ta mysl, ze dom Soplicow pierwszy sie uzbroi,</p>
					  <p>Ze pierwsza Pogon w Litwie zatkna krewni moi!...</p>
					  <p>Ta mysl... zdaje sie czysta...</p>
					  <p>&nbsp;</p>
					  <p>Chciales zemsty? masz! bos ty byl narzedziem kary</p>
					  <p>Bozej! twoim Bog mieczem rozcial me zamiary.</p>
					  <p>Tys watek spisku, tyle lat snowany, splatal!</p>
					  <p>Cel wielki, ktory cale zycie me zaprzatal,</p>
					  <p>Ostatnie moje ziemskie uczucie na swiecie,</p>
					  <p>Ktorem tulil, hodowal, jak najmilsze dziecie,</p>
					  <p>Tys zabil w oczach ojca, a jam ci przebaczyl!</p>
					  <p>Ty!...&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>&quot;Oby tylko rownie Bog przebaczyc raczyl! -</p>
					  <p>Przerwal Klucznik. - Jezeli masz przyjac wijatyk,</p>
					  <p>Ksieze Jacku, toc ja nie luter, nie syzmatyk!</p>
					  <p>Kto umierajacego smuci, wiem, ze grzeszy.</p>
					  <p>Powiem tobie cos, pewnie to ciebie pocieszy:</p>
					  <p>Kiedy nieboszczyk pan moj upadal zraniony,</p>
					  <p>A ja, kleczac nad jego piersia pochylony</p>
					  <p>I miecz maczajac w rane, zemste zaprzysiagnal,</p>
					  <p>Pan glowe wstrzasnal, reke ku bramie wyciagnal</p>
					  <p>W strone, gdzie stales, i krzyz w powietrzu naznaczyl;</p>
					  <p>Mowic nie mogl, lecz dal znak, ze zbojcy przebaczyl.</p>
					  <p>Ja tez pojalem, ale tak sie z gniewu wscieklem,</p>
					  <p>Ze o tym krzyzu nigdy i slowa nie rzeklem&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Tu rozmowe przerwaly chorego cierpienia</p>
					  <p>I nastapila dluga godzina milczenia.</p>
					  <p>Oczekuja plebana. </p>
					  <p>&nbsp;</p>
					  </font><p><font SIZE="4">Podkowy zagrzmialy,</p>
					  <p>Zastukal do komnaty arendarz zdyszaly:</p>
					  <p>List ma wazny, samemu Jackowi pokaze.</p>
					  <p>Jacek bratu oddaje, glosno czytac kaze.</p>
					  <p>List od Fiszera, ktory byl natenczas szefem</p>
					  <p>Sztabu armiji polskiej pod ksieciem Jozefem.</p>
					  <p>Donosi, ze w cesarskim tajnym gabinecie</p>
					  <p>Stanela wojna; Cesarz juz po calym swiecie</p>
					  <p>Oglasza ja; sejm walny w Warszawie zwolany,</p>
					  <p>I skonfederowane Mazowieckie Stany</p>
					  <p>Wyrzeka uroczyscie przylaczenie Litwy.</p>
					  <p>&nbsp;</p>
					  <p>Jacek, sluchajac, cicho odmowil modlitwy,</p>
					  <p>Przycisnawszy do piersi swiecona gromnice,</p>
					  <p>Podniosl w niebo zatlone nadzieja zrenice</p>
					  <p>I zalal sie ostatnich lez rozkosznych zdrojem:</p>
					  <p>&quot;Teraz - rzekl - Panie, sluge Twego pusc z pokojem!&quot;</p>
					  <p>&nbsp;</p>
					  <p>Wszyscy uklekli; a wtem ozwal sie pod progiem</p>
					  <p>Dzwonek: znak, ze przyjechal pleban z Panem Bogiem.</p>
					  <p>&nbsp;</p>
					  </font><p><font SIZE="4">Wlasnie juz noc schodzila i przez niebo
					  mleczne,</p>
					  <p>Rozowe, biega pierwsze promyki sloneczne;</p>
					  <p>Wpadly przez szyby jako strzaly brylantowe,</p>
					  <p>Odbily sie na lozu o chorego glowe</p>
					  <p>I ubraly mu zlotem oblicze i skronie,</p>
					  <p>Ze blyszczal jako swiety w ognistej koronie.</p>
 
				</div>
{% endblock %}