{% extends 'NataliaTadeuszBundle::bars.html.twig' %}

{% block header %}
	<font SIZE="4"><h1 ALIGN="center">KSIĘGA JEDENASTA<br>
  	</font><font size="5">ROK 1812</font></h1>
{% endblock %}

{% block content %}
	<div class="col-md-8">
					    
					  <font SIZE="4"><h2 ALIGN="center">Tresc:</h2>
					  <h2 ALIGN="center">Wrozby wiosenne - Wkroczenie wojsk - Nabozenstwo - Rehabilitacja
					  urzedowa sp. Jacka Soplicy - Z rozmow Gerwazego i Protazego wnosic mozna bliski
					  koniec procesu - Umizgi ulana z dziewczyna - Rozstrzyga sie spor o Kusego i Sokola -
					  Zaczem goscie zgromadzaja sie na biesiade - Przedstawienie wodzom par narzeczonych.</font></h2>
					  <hr width="50%" size="1">
					  <p>&nbsp;</p>
					  <p>O roku ow! kto ciebie widzial w naszym kraju!</p>
					  <p>Ciebie lud zowie dotad rokiem urodzaju,</p>
					  <p>A zolnierz rokiem wojny; dotad lubia starzy</p>
					  <p>O tobie bajac, dotad piesn o tobie marzy.</p>
					  <p>Z dawna byles niebieskim oznajmiony cudem</p>
					  <p>I poprzedzony glucha wiescia miedzy ludem;</p>
					  <p>Ogarnelo Litwinow serca z wiosny sloncem</p>
					  <p>Jakies dziwne przeczucie, jak przed swiata koncem,</p>
					  <p>Jakies oczekiwanie teskne i radosne.</p>
					  <p>&nbsp;</p>
					  <p>Kiedy pierwszy raz bydlo wygnano na wiosne,</p>
					  <p>Uwazano, ze chociaz zglodniale i chude,</p>
					  <p>Nie bieglo na run, co juz umaila grude,</p>
					  <p>Lecz kladlo sie na role i schyliwszy glowy,</p>
					  <p>Ryczalo albo zulo swoj pokarm zimowy.</p>
					  <p>&nbsp;</p>
					  <p>I wiesniacy ciagnacy na jarzyne plugi</p>
					  <p>Nie ciesza sie, jak zwykle, z konca zimy dlugi?j,</p>
					  <p>Nie spiewaja piosenek, pracuja leniwo,</p>
					  <p>Jakby nie pamietali na zasiew i zniwo.</p>
					  <p>Co krok wstrzymuja woly i podjezdki w bronie</p>
					  <p>I pogladaja z trwoga ku zachodniej stronie,</p>
					  <p>Jakby z tej strony mial sie objawic cud jaki,</p>
					  <p>I uwazaja z trwoga wracajace ptaki.</p>
					  <p>Bo juz bocian przylecial do rodzinnej sosny</p>
					  <p>I rozpial skrzydla biale, wczesny sztandar wiosny;</p>
					  <p>A za nim, krzykliwemi nadciagnawszy pulki,</p>
					  <p>Gromadzily sie ponad wodami jaskulki</p>
					  <p>I z ziemi zmarzlej braly bloto na swe domki.</p>
					  <p>W wieczor slychac w zaroslach szept ciagnacej slomki,</p>
					  <p>I stada dzikich gesi szumia ponad lasem,</p>
					  <p>I znuzone na popas spadaja z halasem,</p>
					  <p>A w glebi ciemnej nieba wciaz jecza zurawie.</p>
					  <p>Slyszac to nocni stroze pytaja w obawie,</p>
					  <p>Skad w krolestwie skrzydlatem tyle zamieszania,</p>
					  <p>Jaka burza te ptaki tak wczesnie wygania.</p>
					  </font><p>&nbsp;</p>
					  <p>Az oto nowe stada, jakby gilow, siewek</p>
					  <p>I szpakow, stada jasnych kit i choragiewek</p>
					  <p>Zajasnialy na wzgorkach, spadaja na blonie:</p>
					  <p>Konnica! dziwne stroje, niewidziane bronie,</p>
					  <p>Polk za polkiem, a srodkiem, jak stopione sniegi,</p>
					  <p>Plyna drogami kute zelazem szeregi;</p>
					  <p>Z lasow czernia sie czapki, rzed bagnetow blyska,</p>
					  <p>Roja sie niezliczone piechoty mrowiska.</p>
					  <p>&nbsp;</p>
					  <p>Wszyscy na polnoc! Rzeklbys, ze wonczas z wyraju</p>
					  <p>Za ptastwem i lud ruszyl do naszego kraju,</p>
					  <p>Pedzony niepojeta, instynktowa moca.</p>
					  <p>&nbsp;</p>
					  <p>Konie, ludzie, armaty, orly dniem i noca</p>
					  <p>Plyna; na niebie gora tu i owdzie luny,</p>
					  <p>Ziemia drzy, slychac, bija stronami pioruny. -</p>
					  <p>&nbsp;</p>
					  <p>Wojna! wojna! Nie bylo w Litwie kata ziemi,</p>
					  <p>Gdzie by jej huk nie doszedl; pomiedzy ciemnemi</p>
					  <p>Puszczami chlop, ktorego dziady i rodzice</p>
					  <p>Pomarli nie wyjrzawszy za lasu granice,</p>
					  <p>Ktory innych na niebie nie rozumial krzykow</p>
					  <p>Procz wichrow, a na ziemi procz bestyi rykow,</p>
					  <p>Gosci innych nie widzial oprocz spollesnikow -</p>
					  <p>Teraz widzi: na niebie dziwna luna pala,</p>
					  <p>W puszczy loskot, to kula od jakiegos dziala,</p>
					  <p>Zbladziwszy z pola bitwy, drog w lesie szukala,</p>
					  <p>Rwac pnie, siekac galezie. Zubr, brodacz sedziwy,</p>
					  <p>Zadrzal we mchu, najezyl dlugie wlosy grzywy,</p>
					  <p>Wstaje na wpol, na przednich nogach sie opiera</p>
					  <p>I potrzasajac broda, zdziwiony spoziera</p>
					  <p>Na blyskajace nagle miedzy lomem zgliszcze:</p>
					  <p>Byl to zblakany granat, kreci sie, wre, swiszcze,</p>
					  <p>Pekl z hukiem jakby piorun; zubr pierwszy raz w zyciu</p>
					  <p>Zlakl sie i uciekl w glebszem schowac sie ukryciu.</p>
					  <p>&nbsp;</p>
					  <p>Bitwa! gdzie? w ktorej stronie? - pytaja mlodzience,</p>
					  <p>Chwytaja bron; kobiety wznosza w niebo rece;</p>
					  <p>Wszyscy, pewni zwyciestwa, wolaja ze lzami:</p>
					  <p>&quot;Bog jest z Napoleonem, Napoleon z nami!&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>O wiosno! kto cie widzial wtenczas w naszym kraju,</p>
					  <p>Pamietna wiosno wojny, wiosno urodzaju!</p>
					  <p>O wiosno! kto cie widzial, jak bylas kwitnaca</p>
					  <p>Zbozami i trawami, a ludzmi blyszczaca,</p>
					  <p>Obfita we zdarzenia, nadzieja brzemienna!</p>
					  <p>Ja ciebie dotad widze, piekna maro senna!</p>
					  <p>Urodzony w niewoli, okuty w powiciu,</p>
					  <p>Ja tylko jedna taka wiosne mialem w zyciu.</p>
					  <p>&nbsp;</p>
					  <p>Soplicowo lezalo tuz przy wielkiej drodze,</p>
					  <p>Ktora od strony Niemna ciagneli dwaj wodze:</p>
					  <p>Nasz Ksiaze Jozef i krol westfalski Hieronim.</p>
					  <p>Juz zajeli czesc Litwy od Grodna po Slonim,</p>
					  <p>Gdy krol rozkazal wojsku dac trzy dni wytchnienia.</p>
					  <p>Ale polscy zolnierze mimo utrudzenia</p>
					  <p>Skarzyli sie, ze krol im marszu nie dozwala;</p>
					  <p>Tak radzi by co predzej doscignac Moskala.</p>
					  <p>&nbsp;</p>
					  <p>W miescie pobliskim stanal glowny sztab
					  ksiazecy,</p>
					  <p>A w Soplicowie oboz czterdziestu tysiecy</p>
					  <p>I ze sztabami swemi jeneral Dabrowski,</p>
					  <p>Kniaziewicz, Malachowski, Giedrojc i Grabowski.</p>
					  <p>&nbsp;</p>
					  <p>Pozno bylo, gdy weszli; wiec kazdy, gdzie moze,</p>
					  <p>Zabieraja kwatery w zamczysku, we dworze;</p>
					  <p>Skoro dano rozkazy, rozstawiono czaty,</p>
					  <p>Kazdy strudzony poszedl spac do swej komnaty.</p>
					  <p>Z noca wszystko ucichlo: oboz, dwor i pole;</p>
					  <p>Widac tylko, jak cienie, bladzace patrole</p>
					  <p>I gdzieniegdzie blyskania ognisk obozowych,</p>
					  <p>Slychac kolejne hasla stanowisk wojskowych.</p>
					  <p>&nbsp;</p>
					  <p>Spali: gospodarz domu, wodze i zolnierze;</p>
					  <p>Oczu tylko Wojskiego sen slodki nie bierze ;</p>
					  <p>Bo Wojski ma na jutro biesiade wyprawic,</p>
					  <p>Ktora chce dom Soplicow na wiek wiekow wslawic:</p>
					  <p>Biesiade godna milych sercom polskim gosci</p>
					  <p>I odpowiednia wielkiej dnia uroczystosci,</p>
					  <p>Co jest swietem koscielnem i swietem rodziny;</p>
					  <p>Jutro odbyc sie maja trzech par zareczyny,</p>
					  <p>Zas jeneral Dabrowski oswiadczyl z wieczora,</p>
					  <p>Ze chce miec obiad polski. </p>
					  <p>&nbsp;</p>
					  </font><p><font SIZE="4">Choc spozniona pora,</p>
					  <p>Wojski zebral co predzej z sasiedztwa kucharzy;</p>
					  <p>Pieciu ich bylo; sluza, on sam gospodarzy.</p>
					  <p>Jako kuchmistrz bialym sie fartuchem opasal,</p>
					  <p>Wdzial szlafmyce, a rece do lokciow zakasal;</p>
					  <p>W reku ma placke musza, owad lada jaki</p>
					  <p>Odpedza wpadajacy chciwie na przysmaki;</p>
					  <p>Druga reka przetarte okulary wlozyl,</p>
					  <p>Dobyl z zanadrza ksiege, odwinal, otworzyl.</p>
					  <p>&nbsp;</p>
					  <p>Ksiega ta miala tytul: <i>Kucharz doskonaly</i>.</p>
					  <p>W niej spisane dokladnie wszystkie specyjaly</p>
					  <p>Stolow polskich; podlug niej Hrabia na Teczynie</p>
					  <p>Dawal owe biesiady we wloskiej krainie,</p>
					  <p>Ktorym sie Ojciec Swiety Urban Osmy dziwil;</p>
					  <p>Podlug niej pozniej Karol Kochanku-Radziwill,</p>
					  <p>Gdy przyjmowal w Nieswizu krola Stanislawa,</p>
					  <p>Sprawil pamietna owa uczte, ktorej slawa</p>
					  <p>Dotad zyje na Litwie we gminnej powiesci.</p>
					  <p>&nbsp;</p>
					  <p>Co Wojski wyczytawszy pojmie i obwiesci,</p>
					  <p>To natychmiast kucharze robia umiejetni.</p>
					  <p>Wre robota, piecdziesiat nozow w stoly tetni,</p>
					  <p>Zwijaja sie kuchciki czarne jak szatany:</p>
					  <p>Ci niosa drwa, ci z mlekiem i z winem sagany,</p>
					  <p>Leja w kotly, skowrody, w radle, dym wybucha;</p>
					  <p>Dwoch kuchcikow przy piecu siedzi, w mieszki dmucha.</p>
					  <p>Wojski, azeby ogien tem lacniej rozpalac,</p>
					  <p>Rozkazal stopionego masla na drwa nalac</p>
					  <p>(Zbytek ten dozwolony jest w dostatnim domu).</p>
					  <p>Kuchciki sypia w ogien suche peki lomu.</p>
					  <p>Inni na rozny sadza ogromne pieczenie</p>
					  <p>Wolowe, sarnie, cabry dzicze i jelenie;</p>
					  <p>Ci skubia stosy ptastwa; leca puchow chmury,</p>
					  <p>Obnazaja sie gluszce, cietrzewie i kury.</p>
					  <p>Lecz kur niewiele bylo; od owej wyprawy,</p>
					  <p>Ktora w czasie zajazdu Dobrzynski Sak krwawy</p>
					  <p>Zrobil na kurnik, kedy Zosi gospodarstwo</p>
					  <p>Zniszczyl, nie zostawiwszy sztuki na lekarstwo -</p>
					  <p>Jeszcze nie moglo ptastwem zakwitnac na nowo</p>
					  <p>Slawne niegdys ze drobiu swego Soplicowo.</p>
					  <p>Zreszta zas mies wszelkich byl wielki dostatek,</p>
					  <p>Co sie zgromadzic dalo i z domu, i z jatek,</p>
					  <p>I z lasow, i z sasiedztwa, z bliska i z daleka:</p>
					  <p>Rzeklbys, ptasiego tylko niedostaje mleka.</p>
					  <p>Dwie rzeczy, ktorych hojny pan uczty szuka,</p>
					  <p>Lacza sie w Soplicowie: dostatek i sztuka.</p>
					  <p>&nbsp;</p>
					  <p>Juz wschodzil uroczysty </p>
					  <p>dzien N a j s w i e t s z e j P a n n y</p>
					  <p>K w i e t n e j. Pogoda byla przesliczna, czas ranny,</p>
					  <p>Niebo czyste, wokolo ziemi obciagniete,</p>
					  <p>Jako morze wiszace, ciche, wkleslo-wgiete;</p>
					  <p>Kilka gwiazd swieci z glebi, jako perly ze dna</p>
					  <p>Przez fale; z boku chmurka biala, sama jedna,</p>
					  <p>Podlatuje i skrzydla w blekicie zanurza,</p>
					  <p>Podobne do niknacych pior Aniola Stroza,</p>
					  <p>Ktory nocna modlitwa ludzi przytrzymany</p>
					  <p>Spoznil sie, spieszy wracac miedzy spolniebiany.</p>
					  <p>&nbsp;</p>
					  <p>Juz ostatnie perly gwiazd zamierzchly i na dnie</p>
					  <p>Niebios zgasly, i niebo srodkiem czola bladnie,</p>
					  <p>Prawa skronia zlozone na wezglowiu cieni,</p>
					  <p>Jeszcze smaglawe, lewa coraz sie rumieni;</p>
					  <p>A dalej okrag, jakby powieka szeroka,</p>
					  <p>Rozsuwa sie i w srodku widac bialek oka,</p>
					  <p>Widac tecze, zrenice - juz promien wytrysnal,</p>
					  <p>Po okraglych niebiosach wygiety przeblysnal</p>
					  <p>I w bialej chmurce jako zloty grot zawisnal.</p>
					  <p>Na ten strzal, na dnia haslo, pek ogniow wylata,</p>
					  <p>Tysiac rac krzyzuje sie po okregu swiata,</p>
					  <p>A oko slonca weszlo. Jeszcze nieco senne</p>
					  <p>Przymruza sie, drzac wstrzasa swe rzesy promienne,</p>
					  <p>Siedmia barw blyszczy razem: szafirowe razem,</p>
					  <p>Razem krwawi sie w rubin i zolknie topazem,</p>
					  <p>Az rozlsnilo sie jako krysztal przezroczyste,</p>
					  <p>Potem jak brylant swiatle, na koniec ogniste,</p>
					  <p>Jak ksiezyc wielkie, jako gwiazda migajace:</p>
					  <p>Tak po niezmiernem niebie szlo samotne slonce.</p>
					  <p>&nbsp;</p>
					  <p>Dzis pospolstwo litewskie z calej okolicy</p>
					  <p>Zebralo sie przed wschodem wokolo kaplicy,</p>
					  <p>Jak gdyby na nowego ogloszenie cudu.</p>
					  <p>Zbior ten pochodzil w czesci z poboznosci ludu,</p>
					  <p>A w czesci z ciekawosci: bo dzis w Soplicowie</p>
					  <p>Na nabozenstwie maja byc jeneralowie,</p>
					  <p>Slawni dowodcy owi naszych legijonow,</p>
					  <p>Ktorych lud znal imiona i czcil jak patronow,</p>
					  <p>Ktorych wszystkie tulactwa, wyprawy i bitwy</p>
					  <p>Byly ewangelija narodowa Litwy.</p>
					  <p>&nbsp;</p>
					  <p>Juz przyszlo oficerow kilku, tlum zolnierzy;</p>
					  <p>Lud ich otacza, patrzy, ledwie oczom wierzy,</p>
					  <p>Ogladajac rodakow mundury noszacych,</p>
					  <p>Zbrojnych, wolnych i polskim jezykiem mowiacych.</p>
					  <p>&nbsp;</p>
					  <p>Wyszla msza. Nie obejmie swiatynia malenka</p>
					  <p>Calego zgromadzenia; lud na trawie kleka,</p>
					  <p>Patrzac we drzwi kaplicy, odkrywaja glowy:</p>
					  <p>Wlos litewskiego ludu, bialy albo plowy,</p>
					  <p>Pozlacal sie jako lan dojrzalego zyta;</p>
					  <p>Gdzieniegdzie krasna glowka dziewicza wykwita,</p>
					  <p>Ubrana w swieze kwiaty albo w pawie oczy</p>
					  <p>I wstegi rozplecione, ozdoby warkoczy,</p>
					  <p>Srod glow meskich, jak w zbozu blawat i kakole.</p>
					  <p>Kleczacy roznobarwny tlum okrywa pole,</p>
					  <p>A na glos dzwonka, niby na wiatru powianie,</p>
					  <p>Chyla sie wszystkie glowy jak klosy na lanie.</p>
					  <p>&nbsp;</p>
					  <p>Wiesniaczki dzis na oltarz Matki Zbawiciela</p>
					  <p>Niosa pierwszy dar wiosny, swieze snopki ziela;</p>
					  <p>Wszystko wkolo ubrane w bukiety i w wianki:</p>
					  <p>Oltarz, obraz, a nawet dzwonnica i ganki.</p>
					  <p>Czasem poranny wietrzyk, gdy ze wschodu wionie,</p>
					  <p>Zrywa wianki i rzuca na kleczacych skronie,</p>
					  <p>I rozlewa jak z mszalnej kadzielnicy wonie.</p>
					  </font><p>&nbsp;</p>
					  <p>A gdy w kosciele bylo po mszy i kazaniu,</p>
					  <p>Wyszedl przewodniczacy calemu zebraniu</p>
					  <p>Podkomorzy, niedawno przez powiatu stany</p>
					  <p>Zgodnie konfederackim marszalkiem obrany.</p>
					  <p>Mial mundur wojewodztwa: zupan zlotem szyty,</p>
					  <p>Kontusz gredyturowy z fredzla i pas lity,</p>
					  <p>Przy ktorym karabela z glownia jaszczurowa;</p>
					  <p>Na szyi swiecil wielka szpinka brylantowa;</p>
					  <p>Konfederatka biala, a na niej pek gruby</p>
					  <p>Drogich piorek; byly to bialych czapel czuby</p>
					  <p>(Na fest kladnie sie tylko kitka tak bogata,</p>
					  <p>Ktorej kazde pioreczko kosztuje dukata).</p>
					  <p>Tak ubrany, na wzgorek wstapil przed kosciolem,</p>
					  <p>Wiesniacy i zolnierstwo scisnelo sie kolem.</p>
					  <p>On rzekl :</p>
					  <p>&nbsp;</p>
					  <p>&quot;Bracia! Oglosil wam ksiadz na ambonie</p>
					  <p>Wolnosc, ktora Cesarz-Krol przywrocil Koronie,</p>
					  <p>A teraz Litewskiemu Ksiestwu, Polszcze cal?j</p>
					  <p>Przywraca; slyszeliscie rzadowe uchwaly</p>
					  <p>I zwolujace walny sejm uniwersaly.</p>
					  <p>Ja tylko mam slow pare przemowic do gminy</p>
					  <p>W rzeczy, ktora sie tycze Soplicow rodziny,</p>
					  <p>Tutejszych panow. </p>
					  </font><p>&nbsp;</p>
					  <p>Cala pomni okolica,</p>
					  <p>Co tu zbroil nieboszczyk - pan Jacek Soplica;</p>
					  <p>Ale kiedy o grzechach jego wszyscy wiecie,</p>
					  <p>Czas i zaslugi jego oglosic na swiecie:</p>
					  <p>Obecni tu sa naszych wojsk jeneralowie,</p>
					  <p>Od ktorych uslyszalem wszystko, co wam mowie.</p>
					  <p>Ten Jacek nie byl umarl (jak gloszono) w Rzymie,</p>
					  <p>Tylko odmienil zycie dawne, stan i imie;</p>
					  <p>A wszystkie przeciw Bogu i Ojczyznie winy</p>
					  <p>Zgladzil przez zywot swiety i przez wielkie czyny.</p>
					  </font><p>&nbsp;</p>
					  <p>On to pod Hohenlinden, gdy Ryszpans jeneral</p>
					  <p>Na pol pobity juz sie do odwrotu zbieral,</p>
					  <p>Nie wiedzac, ze Kniaziewicz ciagnie ku odsieczy,</p>
					  <p>On to Jacek, zwan Robak, srod grotow i mieczy</p>
					  <p>Przeniosl od Kniaziewicza listy Ryszpansowi,</p>
					  <p>Donoszace, ze nasi biora tyl wrogowi.</p>
					  <p>On potem w Hiszpaniji, gdy nasze ulany</p>
					  <p>Zdobyly Samosiery grzbiet oszancowany,</p>
					  <p>Obok Kozietulskiego byl ranny dwa razy!</p>
					  <p>Nastepnie, jak wyslaniec, z tajnemi rozkazy</p>
					  <p>Biegal po roznych stronach ducha ludzi badac,</p>
					  <p>Towarzystwa tajemne wiazac i zakladac;</p>
					  <p>Na koniec w Soplicowie, w swem ojczystym gniezdzie,</p>
					  <p>Gdy gotowal powstanie, zginal na zajezdzie.</p>
					  <p>Wlasnie o jego smierci nadeszla wiadomosc</p>
					  <p>Do Warszawy w te chwile, gdy Cesarz Jegomosc</p>
					  <p>Raczyl mu dac za dawne czyny bohaterskie</p>
					  <p>Legiji Honorowej znaki kawalerskie.</p>
					  </font><p>&nbsp;</p>
					  <p>Owoz te wszystkie rzeczy majac na uwadze,</p>
					  <p>Ja, reprezentujacy wojewodztwa wladze,</p>
					  <p>Moja konfederacka oglaszam wam laska:</p>
					  <p>Ze Jacek wierna sluzba i cesarska laska</p>
					  <p>Zniosl infamiji plame, powraca do czesci</p>
					  <p>I znowu sie w rzed prawych patryjotow miesci;</p>
					  <p>Wiec kto bedzie smial Jacka zmarlego rodzinie</p>
					  <p>Wspomniec kiedy o dawnej, zagladzonej winie,</p>
					  <p>Ten podpadnie za kare takiego wyrzutu</p>
					  <p>Gravis notae maculae, wedle slow Statutu</p>
					  <p>Karzacych tak militem, jak i skartabela,</p>
					  <p>Co by sial infamija na obywatela;</p>
					  <p>A ze teraz jest rownosc, wiec artykul trzeci</p>
					  <p>Obowiazuje rownie i mieszczan, i kmieci.</p>
					  <p>Ten wyrok marszalkowski pan pisarz umiesci</p>
					  <p>W aktach jeneralnosci, a wozny obwiesci.</p>
					  <p>&nbsp;</p>
					  <p>Co sie tycze Legiji Honorowej krzyza,</p>
					  <p>Ze pozno przyszedl, nic to slawie nie ubliza;</p>
					  <p>Jesli Jackowi nie mogl sluzyc ku ozdobie,</p>
					  <p>Niech sluzy ku pamiatce, wieszam go na grobie.</p>
					  <p>Trzy dni tu bedzie wisial, potem do kaplicy</p>
					  <p>Zlozy sie jako wotum dla Boga Rodzicy&quot;.</p>
					  <p>&nbsp;</p>
					  <p>To powiedziawszy, order wydobyl z pokrowca</p>
					  <p>I zawiesil na skromnym krzyzyku grobowca</p>
					  <p>Uwiazana w kokarde wstazeczke czerwona</p>
					  <p>I krzyz bialy gwiazdzisty ze zlota korona;</p>
					  <p>Przeciw sloncu promienie gwiazdy zajasnialy</p>
					  <p>Jako ostatni odblysk ziemskiej Jacka chwaly.</p>
					  <p>Tymczasem lud na kleczkach Aniol Panski mowi,</p>
					  <p>Upraszajac o wieczny pokoj grzesznikowi;</p>
					  <p>Sedzia obchodzi gosci i wiejska gromade,</p>
					  <p>Wszystkich do Soplicowa wzywa na biesiade.</p>
					  <p>&nbsp;</p>
					  <p>Ale na przyzbie domu usiedli dwaj starce,</p>
					  <p>Majac u kolan pelne miodu dwa polgarce;</p>
					  <p>Patrza w sad, gdzie wsrod paczkow barwistego maku</p>
					  <p>Stal ulan jak slonecznik w blyszczacym kolpaku</p>
					  <p>Strojnym blacha zlocista i piorem koguta;</p>
					  <p>Przy nim dziewcze, w zielonej sukience jak ruta</p>
					  <p>Pozioma, wznosi oczki blekitne jak bratki</p>
					  <p>Ku oczom chlopca; dalej panny rwaly kwiatki</p>
					  <p>Po ogrodzie, umyslnie odwracajac glowy</p>
					  <p>Od kochankow, zeby im nie mieszac rozmowy.</p>
					  <p>&nbsp;</p>
					  <p>Ale starce miod pija, tabakierka z kory</p>
					  <p>Czestujac sie nawzajem, tocza rozhowory.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Tak, tak, moj Protazenku&quot; - rzekl klucznik
					  Gerwazy.</p>
					  <p>&quot;Tak, tak, moj Gerwazenku&quot; - rzekl wozny Protazy.</p>
					  <p>&quot;Tak to, tak!&quot; - powtorzyli zgodnie kilka
					  razy,</p>
					  <p>Kiwajac w takt glowami; wreszcie Wozny rzecze:</p>
					  <p>&quot;Iz proces nasz skonczy sie dziwnie, ja nie przecze;</p>
					  <p>Wszakze byly przyklady; pamietam procesy,</p>
					  <p>W ktorych sie dzialy gorsze niz u nas ekscesy,</p>
					  <p>A intercyza caly zakonczyla klopot:</p>
					  <p>Tak z Borzdobohatymi pogodzil sie Lopot,</p>
					  <p>Krepsztulowie z Kupsciami, Putrament z Pikturna,</p>
					  <p>Z Odyncami Mackiewicz, z Kwileckimi Turno.</p>
					  <p>Co mowie! wszak Polacy miewali zamieszki</p>
					  <p>Z Litwa gorsze nizeli z Soplica Horeszki,</p>
					  <p>A gdy na rozum wziela krolowa Jadwiga,</p>
					  <p>To sie bez sadow owa skonczyla intryga.</p>
					  <p>&nbsp;</p>
					  <p>Dobrze, gdy strony maja panny albo wdowy</p>
					  <p>Na wydaniu: to zawsze kompromis gotowy.</p>
					  <p>Najdluzszy proces zwykle bywa z duchowienstwem</p>
					  <p>Katolickiem albo tez z bliskiem pokrewienstwem,</p>
					  <p>Bo wtenczas sprawy skonczyc nie mozna malzenstwem.</p>
					  <p>Stad to Lachy z Rusami w sporach nieskonczonych,</p>
					  <p>Idac z Lecha i Rusa, dwu braci rodzonych;</p>
					  <p>Stad sie tyle procesow litewskich ciagnelo</p>
					  <p>Dlugo z ksiezmi Krzyzaki, az wygral Jagiello.</p>
					  <p>Stad na koniec pendebat dlugo przed aktami</p>
					  <p>Slawny ow proces Rymszow z dominikanami,</p>
					  <p>Az wygral wreszcie syndyk klasztorny ksiadz Dymsza,</p>
					  <p>Skad jest przyslowie: Wiekszy Pan Bog niz pan Rymsza;</p>
					  <p>Ja zas doloze: lepszy miod od Scyzoryka&quot;.</p>
					  <p>To mowiac, polgarcowka przepil do Klucznika.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Prawda! prawda! - rzekl na to Gerwazy wzruszony.
					  -</p>
					  <p>Dziwnec to byly losy tej naszej Korony</p>
					  <p>I naszej Litwy! wszak to jak malzonkow dwoje!</p>
					  <p>Bog zlaczyl, a czart dzieli, Bog swoje, czart swoje!</p>
					  <p>Ach, bracie Protazenku! ze to oczy nasze</p>
					  <p>Widza! ze znowu do nas ci Koronijasze</p>
					  <p>Zawitali! Sluzylem ja z nimi przed laty,</p>
					  <p>Pamietam, dzielne byly z nich konfederaty!</p>
					  <p>Gdyby nieboszczyk pan moj Stolnik dozyl chwili!</p>
					  <p>O Jacku! Jacku! - lecz coz bedziemy kwilili?</p>
					  <p>Skoro dzis znowu Litwa laczy sie z Korona,</p>
					  <p>Toc tem samym juz wszystko zgodzono, zgladzono&quot;.</p>
					  <p>&nbsp;</p>
					  <p>&quot;I to dziw - rzekl Protazy - ze o tej to Zosi,</p>
					  <p>O ktorej reke teraz nasz Tadeusz prosi,</p>
					  <p>Bylo przed rokiem omen, jakoby znak z nieba!&quot;</p>
					  <p>&quot;Panna Zofija - przerwal Klucznik - zwac ja trzeba,</p>
					  <p>Bo juz dorosla, nie jest dziewczyna maluczka,</p>
					  <p>Przy tym z krwi dygnitarskiej, jest Stolnika
					  wnuczka&quot;.</p>
					  <p>&quot;Owoz - konczyl Protazy - byl to znak proroczy</p>
					  <p>O jej losie, widzialem znak na wlasne oczy.</p>
					  <p>&nbsp;</p>
					  <p>Przed rokiem tu siedziala w swieto czeladz nasza</p>
					  <p>Pijac miod, alic patrzym: pec, pada z poddasza</p>
					  <p>Dwoch wroblow bijacych sie, oba samcy stare,</p>
					  <p>Jeden, mlodszy cokolwiek, mial podgarle szare,</p>
					  <p>Drugi czarne; dalejze tluc sie po podworzu,</p>
					  <p>Przewracac kulki, ze az zaryli sie w kurzu;</p>
					  <p>My patrzym, a tymczasem szepca sobie slugi,</p>
					  <p>Ze ten czarny niech bedzie Horeszko, a drugi</p>
					  <p>Soplica; wiec ilekroc szary byl na gorze,</p>
					  <p>Krzycza: &lt;&lt;Wiwat Soplica! pfe, Horeszki tchorze!&gt;&gt;</p>
					  <p>A gdy spadal, wolali: &lt;&lt;Popraw sie, Soplica!</p>
					  <p>Nie daj sie magnatowi, to wstyd na szlachcica!&gt;&gt;</p>
					  <p>Tak smiejac sie czekamy, kto kogo pokona;</p>
					  <p>Wtem Zosienka, nad ptastwem litoscia wzruszona,</p>
					  <p>Podbiegla i nakryla raczka te rycerze;</p>
					  <p>Jeszcze sie w reku bili, az lecialo pierze,</p>
					  <p>Taka byla zawzietosc w tem malenkiem lichu.</p>
					  <p>Baby, patrzac na Zosie, gadaly po cichu,</p>
					  <p>Ze pewnie przeznaczeniem bedzie tej dziewczyny</p>
					  <p>Pogodzic dwie od dawna zwasnione rodziny.</p>
					  <p>A widze, ze sie dzisiaj ziscil omen babi.</p>
					  <p>Prawdac to, ze naonczas myslano o Hrabi,</p>
					  <p>Nie zas o Tadeuszu&quot;. </p>
					  <p>&nbsp;</p>
					  <p>Na to Klucznik rzecze:</p>
					  <p>&quot;Dziwne sa sprawy w swiecie; kto wszystko
					  dociecze!</p>
					  <p>Ja tez powiem Waszeci rzecz, choc nie tak cudna</p>
					  <p>Jak ow omen, a przeciez do pojecia trudna.</p>
					  <p>Wiesz, iz dawniej rad bym byl Soplicow rodzine</p>
					  <p>W lyzce wody utopic; a tego chlopczyne,</p>
					  <p>Tadeusza, od dziecka niezmierniem polubil.</p>
					  <p>Uwazalem, ze gdy sie z chlopietami czubil,</p>
					  <p>Zawsze ich zbil; wiec ilekroc do zamku biegal,</p>
					  <p>Jam go zawsze do trudnych imprezow podzegal.</p>
					  <p>Wszystko mu sie udalo; czy wydrzec golebie</p>
					  <p>Na wiezy, czy jemiole oberwac na debie,</p>
					  <p>Czyli z najwyzszej sosny zlupic wronie gniazdo,</p>
					  <p>Wszystko umial; myslilem: pod szczesliwa gwiazda</p>
					  <p>Urodzil sie ten chlopiec; szkoda, ze Soplica!</p>
					  <p>Ktoz by zgadl, ze w nim zamku powitam dziedzica,</p>
					  <p>Meza panny Zofiji, mej Wielmoznej Pani!&quot;</p>
					  <p>&nbsp;</p>
					  <p>Tu skonczyli rozmowe, pija zadumani,</p>
					  <p>Slychac tylko niekiedy te krotkie wyrazy:</p>
					  <p>&quot;Tak, tak, Panie Gerwazy&quot;. - &quot;Tak, Panie
					  Protazy&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Przyzba tykala kuchni, ktorej okna staly</p>
					  <p>Otworem i dym jako z pozaru buchaly,</p>
					  <p>Az z klebow dymu, niby biala golebica,</p>
					  <p>Mignela swiecaca sie kuchmistrza szlafmyca.</p>
					  <p>Wojski przez okno kuchni, ponad starcow glowy</p>
					  <p>Wytknawszy glowe, milczkiem sluchal ich rozmowy</p>
					  <p>I podal im nareszcie filizanki spodek</p>
					  <p>Pelen biszkoktow, mowiac: &quot;Zakascie wasz miodek.</p>
					  <p>A ja wam tez opowiem historia ciekawa</p>
					  <p>Sporu, ktory mial bitwa zakonczyc sie krwawa,</p>
					  <p>Gdy polujacy w glebi nalibockich lasow</p>
					  <p>Rejtan wyplatal sztuke ksiazeciu Denassow.</p>
					  <p>Tej sztuki omal wlasnem nie przyplacil zdrowiem;</p>
					  <p>Jam klotnie panow zgodzil, jak to wam opowiem&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Ale Wojskiego powiesc przerwali kucharze</p>
					  <p>Pytajac, komu serwis ustawiac rozkaze.</p>
					  <p>&nbsp;</p>
					  <p>Wojski odszedl, a starcy, zaczerpnawszy miodu,</p>
					  <p>Zadumani zwrocili oczy w glab ogrodu,</p>
					  <p>Gdzie ow dorodny ulan rozmawial z panienka.</p>
					  <p>Wlasnie ulan ujawszy jej dlon lewa reka</p>
					  <p>(Prawa mial na temlaku, widac, ze byl ranny),</p>
					  <p>Z takiemi odezwal sie slowami do panny:</p>
					  <p>&nbsp;</p>
					  <p>&quot;Zofijo, musisz to mnie koniecznie powiedziec,</p>
					  <p>Nim zamienim pierscionki, musze o tem wiedziec.</p>
					  <p>I coz, ze przeszlej zimy bylas juz gotowa</p>
					  <p>Dac slowo mnie? Ja wtenczas nie przyjalem slowa:</p>
					  <p>Bo i coz mi po takiem wymuszonem slowie?</p>
					  <p>Wtenczas bawilem bardzo krotko w Soplicowie;</p>
					  <p>Nie bylem taki prozny, azebym sie ludzil,</p>
					  <p>Zem jednem mem spojrzeniem milosc w tobie wzbudzil.</p>
					  <p>Ja nie fanfaron; chcialem ma wlasna zasluga</p>
					  <p>Zyskac twe wzgledy, chocby przyszlo czekac dlugo.</p>
					  <p>Teraz jestes laskawa twe slowo powtorzyc;</p>
					  <p>Czymze na tyle laski umialem zasluzyc?</p>
					  <p>Moze mnie bierzesz, Zosiu, nie tak z przywiazania,</p>
					  <p>Tylko ze stryj i ciotka do tego cie sklania;</p>
					  <p>Ale malzenstwo, Zosiu, jest rzecz wielkiej wagi;</p>
					  <p>Radz sie serca wlasnego, niczyjej powagi</p>
					  <p>Tu nie sluchaj, ni stryja grozb, ni namow cioci;</p>
					  <p>Jesli nie czujesz dla mnie nic oprocz dobroci,</p>
					  <p>Mozem te zareczyny czas jakis odwlekac;</p>
					  <p>Wiezic twej woli nie chce, bedziem, Zosiu, czekac.</p>
					  <p>Nic nas nie nagli, zwlaszcza ze wczora wieczorem</p>
					  <p>Dano mi rozkaz zostac w Litwie instruktorem</p>
					  <p>W pulku tutejszym, nim sie z mych ran nie wylecze.</p>
					  <p>I coz, kochana Zosiu?&quot;</p>
					  <p>&nbsp;</p>
					  <p>Na to Zosia rzecze,</p>
					  <p>Wznoszac glowe i patrzac w oczy mu niesmialo:</p>
					  <p>&quot;Nie pamietam juz dobrze, co sie dawniej dzialo;</p>
					  <p>Wiem, ze wszyscy mowili, iz za maz isc trzeba</p>
					  <p>Za Pana; ja sie zawsze zgadzam z wola Nieba</p>
					  <p>I z wola starszych&quot;. Potem, spusciwszy oczeta,</p>
					  <p>Dodala: &quot;Przed odjazdem, jesli Pan pamieta,</p>
					  <p>Kiedy umarl ksiadz Robak, w owa burze nocna,</p>
					  <p>Widzialam, ze Pan jadac zalowal nas mocno:</p>
					  <p>Pan lzy mial w oczach; te lzy, powiem Panu szczerze,</p>
					  <p>Wpadly mnie az do serca; odtad Panu wierze,</p>
					  <p>Ze mnie lubisz; ilekroc mowilam pacierze</p>
					  <p>Za Pana powodzenie, zawsze przed oczami</p>
					  <p>Stal Pan z temi duzemi, blyszczacemi lzami.</p>
					  <p>Potem Podkomorzyna do Wilna jezdzila,</p>
					  <p>Wziela mie tam na zime, alem ja tesknila</p>
					  <p>Do Soplicowa i do tego pokoiku,</p>
					  <p>Gdzie mnie Pan naprzod w wieczor spotkal przy stoliku,</p>
					  <p>Potem pozegnal; nie wiem, skad pamiatka Pana,</p>
					  <p>Cos niby jak rozsada w jesieni zasiana,</p>
					  <p>Przez cala zime w mojem sercu sie krzewila,</p>
					  <p>Ze jako mowie Panu - ustawniem tesknila</p>
					  <p>Do tego pokoiku i cos mi szeptalo,</p>
					  <p>Ze tam znow Pana znajde, i tak sie tez stalo.</p>
					  <p>Majac to w glowie, czesto tez mialam na ustach</p>
					  <p>Imie Pana - bylo to w Wilnie za zapustach;</p>
					  <p>Panny mowily, ze ja jestem zakochana:</p>
					  <p>Juzci, jezeli kocham, to juz chyba Pana&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Tadeusz, rad z takiego milosci dowodu,</p>
					  <p>Wzial ja pod reke, scisnal i wyszli z ogrodu</p>
					  <p>Do pokoju damskiego, do owej komnaty,</p>
					  <p>Kedy Tadeusz mieszkal przed dziesiecia laty.</p>
					  <p>&nbsp;</p>
					  <p>Teraz bawil tam Rejent, cudnie wystrojony</p>
					  <p>I uslugiwal damie, swojej narzeczon?j,</p>
					  <p>Biegajac i podajac sygnety, lancuszki,</p>
					  <p>Sloiki i flaszeczki, i proszki, i muszki;</p>
					  <p>Wesol, na panne mloda patrzyl tryumfalnie.</p>
					  <p>Panna mloda konczyla robic gotowalnie;</p>
					  <p>Siedziala przed zwierciadlem, radzac sie bostw wdzieku;</p>
					  <p>Pokojowe zas - jedne z zelazkami w reku</p>
					  <p>Odswiezaja nadstygle warkoczow pierscionki,</p>
					  <p>Drugie kleczac pracuja okolo falbonki.</p>
					  <p>&nbsp;</p>
					  <p>Gdy sie tak Rejent bawi ze swa narzeczona,</p>
					  <p>Kuchcik stuknal don w okno: kota postrzezono!</p>
					  <p>Kot, wykradlszy sie z lozy, przesmignal po lace</p>
					  <p>I wskoczyl w sad pomiedzy jarzyny wschodzace;</p>
					  <p>Tam siedzi, wystraszyc go lacno z rozsadniku</p>
					  <p>I uszczuc, postawiwszy charty na przesmyku.</p>
					  <p>Biezy Asesor, ciagnac za obroz Sokola,</p>
					  <p>Pospiesza za nim Rejent i Kusego wola.</p>
					  <p>Wojski obu z chartami przy plocie ustawil,</p>
					  <p>A sam sie z placka musza do sadu wyprawil.</p>
					  <p>Depcac, swiszczac i klaszczac, bardzo zwierza trwozy:</p>
					  <p>Szczwacze, trzymajac kazdy charta na obrozy,</p>
					  <p>Ukazuja palcami, skad zajac wyruszy,</p>
					  <p>Cmokaja z cicha; charty nadstawily uszy,</p>
					  <p>Wytknely pyski na wiatr i drza niecierpliwie,</p>
					  <p>Jak dwie strzaly zlozone na jednej cieciwie.</p>
					  <p>Wtem Wojski krzyknal: &quot;Wycz-ha!&quot;</p>
					  <p><font SIZE="4">Zajac smyk zza plotu</p>
					  <p>Na lake, charty za nim, i wnet bez obrotu</p>
					  <p>Sokol i Kusy razem spadli na szaraka</p>
					  <p>Ze dwoch stron w jednej chwili, jak dwa skrzydla ptaka.</p>
					  <p>I zeby mu jak szpony zatopili w grzbiecie.</p>
					  <p>Kot jeknal raz, jak nowo narodzone dziecie.</p>
					  <p>Zalosnie! Biega szczwacze: juz lezy bez ducha,</p>
					  <p>A charty mu sierc biala targaja spod brzucha.</p>
					  <p>&nbsp;</p>
					  <p>Szczwacze poglaskali psy, a Wojski tymczasem</p>
					  <p>Dobyl nozyk strzelecki wiszacy za pasem,</p>
					  <p>Oderznal skoki i rzekl: &quot;Dzis rowna odprawe</p>
					  <p>Wezma pieski, bo rowna pozyskali slawe;</p>
					  <p>Rowna ich byla raczosc, rowna byla praca;</p>
					  <p>Godzien jest palac Paca, godzien Pac palaca,</p>
					  <p>Godni sa szczwacze chartow, godne szczwaczow charty;</p>
					  <p>Otoz skonczony spor wasz dlugi i zazarty;</p>
					  <p>Ja, ktoregoscie sedzia zakladu obrali,</p>
					  <p>Wydaje wreszcie wyrok: obascie wygrali.</p>
					  <p>Wracam fanty, niech kazdy przy swoim zostanie,</p>
					  <p>A wy podpiszcie zgode&quot;. </p>
					  <p>Na starca wezwanie</p>
					  <p>Szczwacze zwrocili na sie rozjasnione lice</p>
					  <p>I dlugo rozdzielone zlaczyli prawice.</p>
					  </font><p>&nbsp;</p>
					  <p>Wtem rzekl Rejent: </p>
					  <p>&quot;Stawilem niegdys konia z rzedem,</p>
					  <p>Opisalem sie takze przed ziemskim urzedem,</p>
					  <p>Iz pierscien moj sedziemu w salaryjum zloze;</p>
					  <p>Fant postawiony w zaklad wracac sie nie moze.</p>
					  <p>Pierscien niechaj Pan Wojski na pamiatke przymie</p>
					  <p>I kaze na nim wyryc albo swoje imie,</p>
					  <p>Lub, gdy zechce, herbowne Hreczechow ozdoby;</p>
					  <p>Krwawnik jest gladki, zloto jedenastej proby.</p>
					  <p>Konia teraz ulani pod jazde zabrali,</p>
					  <p>Rzed zostal przy mnie; kazdy znawca ten rzed chwali,</p>
					  <p>Iz jest wygodny, trwaly, a piekny jak cacko:</p>
					  <p>Kulbaczka waska, moda z turecka kozacka,</p>
					  <p>Kula na przodzie, w kuli sa drogie kamienie,</p>
					  <p>Poduszeczka z rubrontu wysciela siedzenie,</p>
					  <p>A kiedy na lek wskoczysz, na tym miekkim puszku</p>
					  <p>Miedzy kulami siedzisz wygodnie jak w lozku;</p>
					  <p>A gdy w galop puscisz sie (tu rejent Bolesta,</p>
					  <p>Ktory, jako wiadomo, bardzo lubil gesta,</p>
					  <p>Rozstawil nogi, jakby na konia wskakiwal,</p>
					  <p>Potem galop udajac powoli sie kiwal),</p>
					  <p>A gdy w galop puscisz sie, natenczas z czapraka</p>
					  <p>Blask bije, jakby zloto kapalo z rumaka,</p>
					  <p>Bo tabenki sa gesto zlotem nakrapiane</p>
					  <p>I szerokie strzemiona srebrne pozlacane;</p>
					  <p>Na rzemieniach munsztuka i na uzdzienicy</p>
					  <p>Polyskaja guziki perlowej macicy,</p>
					  <p>U napiersnika wisi ksiezyc w ksztalt Leliwy,</p>
					  <p>To jest w ksztalt nowiu. Caly ten sprzet osobliwy,</p>
					  <p>Zdobyty (jak wiesc niesie) w boju podhajeckim</p>
					  <p>Na jakims bardzo znacznym szlachcicu tureckim,</p>
					  <p>Przyjm, Asesorze, w dowod mojego szacunku&quot;.</p>
					  </font><p>&nbsp;</p>
					  <p>A na to rzekl Asesor, wesol z podarunku:</p>
					  <p>&quot;Ja niegdys darowane od ksiecia Sanguszki</p>
					  <p>Stawilem w zaklad moje przesliczne obrozki,</p>
					  <p>Jaszczurem wykladane, z kolcami ze zlota,</p>
					  <p>I utkana z jedwabiu smycz, ktorej robota</p>
					  <p>Rownie droga jak kamien, co sie na niej swieci.</p>
					  <p>Chcialem sprzet ten zostawic w dziedzictwie dla dzieci;</p>
					  <p>Dzieci pewnie miec bede, wiesz, ze sie dzis zenie;</p>
					  <p>Ale ten sprzet, Rejencie, prosze unizenie,</p>
					  <p>Badz laskaw przyjac w zamian za twoj rzed bogaty</p>
					  <p>I na pamiatke sporu, co dlugiemi laty</p>
					  <p>Toczyl sie i nareszcie zakonczyl zaszczytnie</p>
					  <p>Dla nas obu. - Niech zgoda miedzy nami kwitnie!&quot;</p>
					  <p>&nbsp;</p>
					  <p>Wiec wracali do domu oznajmic za stolem,</p>
					  <p>Ze sie skonczyl spor miedzy Kusym i Sokolem.</p>
					  <p>&nbsp;</p>
					  <p>Byla wiesc, ze zajaca tego Wojski w domu</p>
					  <p>Wyhodowal i w ogrod puscil po kryjomu,</p>
					  <p>Azeby szczwaczow zgodzic zbyt latwa zdobycza.</p>
					  <p>Staruszek tak swa sztuke zrobil tajemniczo,</p>
					  <p>Ze oszukal zupelnie cale Soplicowo.</p>
					  <p>Kuchcik w lat kilka pozniej szepnal o tem slowo,</p>
					  <p>Chcac Asesora sklocic z Rejentem na nowo;</p>
					  <p>Ale prozno krzywdzace chartow wiesci szerzyl:</p>
					  <p>Wojski zaprzeczyl i nikt kuchcie nie uwierzyl.</p>
					  <p>&nbsp;</p>
					  <p>Juz goscie, zgromadzeni w wielkiej zamku sali,</p>
					  <p>Czekajac uczty, wkolo stolu rozmawiali,</p>
					  <p>Gdy pan Sedzia w mundurze wojewodzkim wchodzi</p>
					  <p>I pana Tadeusza z Zofija przywodzi.</p>
					  <p>Tadeusz, lewa dlonia dotykajac glowy,</p>
					  <p>Pozdrowil swych dowodcow przez uklon wojskowy.</p>
					  <p>Zofija z opuszczonem ku ziemi wejrzeniem,</p>
					  <p>Zaploniwszy sie, gosci witala dygnieniem</p>
					  <p>(Od Telimeny pieknie dygac wyuczona).</p>
					  <p>Miala wianek na glowie jako narzeczona,</p>
					  <p>Zreszta ubior ten samy, w jakim dzis w kaplicy</p>
					  <p>Skladala snop wiosenny dla Boga Rodzicy.</p>
					  <p>Uzela znow dla gosci nowy snopek ziela;</p>
					  <p>Jedna reka zen kwiaty i trawy rozdziela,</p>
					  <p>Druga swoj sierp blyszczacy poprawia na glowie.</p>
					  <p>Brali ziolka, calujac jej rece, wodzowie.</p>
					  <p>Zosia znowu dygala w kolej, zaploniona.</p>
					  <p>&nbsp;</p>
					  <p>Wtem jeneral Kniaziewicz wzial ja za ramiona</p>
					  <p>I zlozywszy ojcowski calus na jej czole,</p>
					  <p>Podniosl w gore dziewczyne, postawil na stole,</p>
					  <p>A wszyscy, klaszczac w dlonie zawolali: &quot;Brawo!&quot; -</p>
					  <p>Zachwyceni dziewczyny uroda, postawa,</p>
					  <p>A szczegolniej jej strojem litewskim prostaczym;</p>
					  <p>Bo dla tych wodzow, ktorzy w swem zyciu tulacz?m</p>
					  <p>Tak dlugo blakali sie w obcych stronach swiata,</p>
					  <p>Dziwne miala powaby narodowa szata,</p>
					  <p>Ktora im wspominala i mlode ich lata,</p>
					  <p>I dawne ich milostki; wiec ze lzami prawie</p>
					  <p>Skupili sie do stolu, patrzyli ciekawie.</p>
					  <p>Ci prosza, aby Zosia wzniosla nieco czolo</p>
					  <p>I oczy pokazala; ci, azeby wkolo</p>
					  <p>Raczyla sie obrocic; dziewczyna wstydliwa</p>
					  <p>Obraca sie, lecz oczy rekami zakrywa.</p>
					  <p>Tadeusz patrzyl wesol i zacieral rece.</p>
					  <p>&nbsp;</p>
					  <p>Czy ktos Zosi poradzil wyjsc w takiej sukience,</p>
					  <p>Czy instynktem wiedziala (bo dziewczyna zgadnie</p>
					  <p>Zawsze instynktem, co jej do twarzy przypadnie),</p>
					  <p>Dosyc, ze Zosia pierwszy raz w zyciu dzis z rana</p>
					  <p>Byla od Telimeny za upor lajana,</p>
					  <p>Nie chcac modnego stroju, az wymogla placzem,</p>
					  <p>Ze ja tak zostawiono, w ubraniu prostaczem.</p>
					  <p>&nbsp;</p>
					  <p>Spodniczke miala dluga, biala; suknie krotka</p>
					  <p>Z zielonego kamlotu, z rozowa obwodka;</p>
					  <p>Gorset takze zielony, rozowemi wstegi</p>
					  <p>Od lona az do szyi sznurowany w pregi;</p>
					  <p>Pod nim piers jako paczek pod listkiem sie tuli.</p>
					  <p>Od ramion swieca biale rekawy koszuli,</p>
					  <p>Jako skrzydla motyle do lotu wydete,</p>
					  <p>U dloni skarbowane i wstazka opiete;</p>
					  <p>Szyja takze koszulka obcisniona waska,</p>
					  <p>Kolnierzyk zadzierzgniony rozowa zawiazka;</p>
					  <p>Zauszniczki wyrzniete sztucznie z pestek wiszni,</p>
					  <p>Ktorych sie wyrobieniem Sak Dobrzynski pyszni</p>
					  <p>(Byly tam dwa serduszka z grotem i plomykiem,</p>
					  <p>Dane dla Zosi, gdy Sak byl jej zalotnikiem);</p>
					  <p>Na kolnierzyku wisza dwa sznurki bursztynu,</p>
					  <p>Na skroniach zielonego wianek rozmarynu.</p>
					  <p>Wstazki warkoczow Zosia rzucila na barki,</p>
					  <p>A na czolo wlozyla zwyczajem zniwiarki</p>
					  <p>Sierp krzywy, swiezem zeciem traw oszlifowany,</p>
					  <p>Jasny jak now miesieczny nad czolem Dyjany.</p>
					  <p>&nbsp;</p>
					  <p>Wszyscy chwala, klaskaja. Jeden z oficerow</p>
					  <p>Dobyl z kieszeni portefeuille z plikami papierow,</p>
					  <p>Rozlozyl je, olowek przycial, w ustach zmoczyl,</p>
					  <p>Patrzy w Zosie, rysuje. Ledwie Sedzia zoczyl</p>
					  <p>Papiery i olowki, poznal rysownika,</p>
					  <p>Choc go bardzo odmienil mundur pulkownika,</p>
					  <p>Bogate szlify, mina prawdziwie ulanska</p>
					  <p>I wasik poczerniony, i brodka hiszpanska.</p>
					  <p>Sedzia poznal: &quot;Jak sie masz, moj Jasnie Wielmozny</p>
					  <p>Hrabio? I w ladownicy masz twoj sprzet podrozny</p>
					  <p>Do malarstwa!&quot; - W istocie byl to Hrabia mlody,</p>
					  <p>Niedawny zolnierz, lecz ze wielkie mial dochody</p>
					  <p>I swoim kosztem caly pulk jazdy wystawil,</p>
					  <p>I w pierwszej zaraz bitwie wybornie sie sprawil,</p>
					  <p>Cesarz go polkownikiem dzis wlasnie mianowal:</p>
					  <p>Wiec Sedzia wital Hrabie i rangi winszowal,</p>
					  <p>Ale Hrabia nie sluchal, a pilnie rysowal.</p>
					  <p>&nbsp;</p>
					  <p>Tymczasem weszla druga para narzeczona:</p>
					  <p>Asesor, niegdys cara, dzis Napoleona</p>
					  <p>Wierny sluga; zandarmow oddzial mial w komendzie,</p>
					  <p>A choc ledwie dwadziescia godzin byl w urzedzie,</p>
					  <p>Juz wlozyl mundur siny z polskiemi wylogi</p>
					  <p>I ciagnal krzywa szable, i dzwonil w ostrogi.</p>
					  <p>Obok powaznym krokiem szla jego kochanka,</p>
					  <p>Ubrana bardzo strojnie, Tekla Hreczeszanka;</p>
					  <p>Bo Asesor juz dawno Telimene rzucil</p>
					  <p>I aby te kokietke tym mocniej zasmucil,</p>
					  <p>Ku Wojszczance afekty serdeczne obrocil.</p>
					  <p>Panna nie nadto mloda, juz pono polwieczna,</p>
					  <p>Lecz gospodyni dobra, osoba stateczna</p>
					  <p>I posazna, bo oprocz swej dziedzicznej wioski</p>
					  <p>Sumka z daru Sedziego powiekszala wnioski.</p>
					  <p>&nbsp;</p>
					  <p>Trzeciej pary daremnie czekaja czas dlugi.</p>
					  <p>Sedzia niecierpliwi sie i wysyla slugi;</p>
					  <p>Wracaja: powiadaja, ze trzeci malzonek,</p>
					  <p>Pan Rejent, szczujac kota, zgubil swoj pierscionek</p>
					  <p>Slubny, szuka na lace; a Rejenta dama</p>
					  <p>Jeszcze u gotowalni, choc spieszy sie sama</p>
					  <p>I choc jej pomagaja sluzebne kobiety,</p>
					  <p>Nie mogla w zaden sposob skonczyc toalety;</p>
					  <p>Ledwie bedzie gotowa na godzine czwarta.</p>
					  <p>&nbsp;</p>
					 
				</div>
{% endblock %}