
{% extends 'NataliaTadeuszBundle::bars.html.twig' %}

{% block header %}
	<font SIZE="4"><h1 ALIGN="CENTER">KSIĘGA SZÓSTA<br>
 	</font><font size="5">ZAŚCIANEK</font></h1>
{% endblock %}

{% block content %}
<div class="col-md-8">
					  <font SIZE="4"><h2 ALIGN="CENTER">Tresc:</font></h2>
					  <font SIZE="4"><h2 ALIGN="CENTER">Pierwsze ruchy wojenne zajazdu - Wyprawa Protazego -
					  Robak z panem Sedzia radza o rzeczy publicznej - Dalszy ciag wyprawy Protazego,
					  bezskutecznej - Ustep o konopiach - Zascianek szlachecki Dobrzyn - Opisanie domostwa i
					  osoby Macka Dobrzynskiego.</font></h2>
					  <hr width="50%" size="1">
					  <p>&nbsp;</p>
					  <p>Nieznacznie z wilgotnego wykradal sie mroku</p>
					  <p>Swit bez rumienca, wiodac dzien bez swiatla w oku.</p>
					  <p>Dawno wszedl dzien, a jeszcze ledwie jest widomy.</p>
					  <p>Mgla wisiala nad ziemia, jak strzecha ze slomy</p>
					  <p>Nad uboga Litwina chatka; w stronie wschodu</p>
					  <p>Widac z bielszego nieco na niebie obwodu,</p>
					  <p>Ze slonce wstalo, tedy ma zstapic na ziemie,</p>
					  <p>Lecz idzie niewesolo i po drodze drzemie.</p>
					  <p>&nbsp;</p>
					  <p>Za przykladem niebieskim wszystko sie spoznilo</p>
					  <p>Na ziemi; bydlo pozno na pasze ruszylo</p>
					  <p>I zdybalo zajace przy poznem sniadaniu;</p>
					  <p>One zwykly do gajow wracac o switaniu,</p>
					  <p>Dzis, okryte tumanem, te mokrzyce chrupia,</p>
					  <p>Te, jamki w roli kopiac, parami sie kupia</p>
					  <p>I na wolnem powietrzu mysla uzyc wczasu;</p>
					  <p>Ale przed bydlem musza powracac do lasu.</p>
					  <p>&nbsp;</p>
					  <p>I w lasach cisza. Ptaszek zbudzony nie spiewa,</p>
					  <p>Otrzasnal pierze z rosy, tuli sie do drzewa,</p>
					  <p>Glowe wciska w ramiona, oczy znowu mruzy</p>
					  <p>I czeka slonca. Kedys u brzegow kaluzy</p>
					  <p>Klekce bocian; na kopach siedza wrony zmokle,</p>
					  <p>Rozdziawiwszy sie ciagna gawedy rozwlokle,</p>
					  <p>Obrzydle gospodarzom jako wrozby sloty.</p>
					  <p>Gospodarze juz dawno wyszli do roboty.</p>
					  <p>&nbsp;</p>
					  <p>Juz zaczely zniwiarki swa piosnke zwyczajna,</p>
					  <p>Jak dzien slotny ponura, teskna, jednostajna,</p>
					  <p>Tem smutniejsza, ze dzwiek jej w mgle bez echa wsiaka;</p>
					  <p>Chrzasnely sierpy w zbozu, ozwala sie laka,</p>
					  <p>Rzad kosiarzy otawe siekacych wciaz brzaka,</p>
					  <p>Pogwizdujac piosenke; z koncem kazdej zwrotki</p>
					  <p>Staja, ostrza zelezca i w takt kuja w mlotki.</p>
					  <p>Ludzi we mgle nie widac, tylko sierpy, kosy</p>
					  <p>I piesni brzmia jak muzyk niewidzialnych glosy.</p>
					  <p>&nbsp;</p>
					  <p>W srodku na snopie zboza ekonom usiadlszy,</p>
					  <p>Nudzi sie, kreci glowa, roboty nie patrzy,</p>
					  <p>Poglada na gosciniec, na drogi rozstajne,</p>
					  <p>Kedy dzialy sie jakies rzeczy nadzwyczajne.</p>
					  <p>&nbsp;</p>
					  <p>Na goscincu i drogach od samego ranka</p>
					  <p>Panuje ruch niezwykly; stad chlopska furmanka</p>
					  <p>Skrzypi, lecac jak poczta, stad szlachecka bryka</p>
					  <p>Czwalem tarkocze, druga i trzecia spotyka;</p>
					  <p>Z lewej drogi poslaniec jak kuryjer goni,</p>
					  <p>Z prawej przebieglo w zawod kilkanascie koni,</p>
					  <p>Wszyscy spiesza, ku roznym kieruja sie stronom.</p>
					  <p>Co to ma znaczyc? Powstal ze snopa ekonom,</p>
					  <p>Chcial przypatrzyc sie, spytac; dlugo stal nad droga,</p>
					  <p>Daremnie wolal, nie mogl zatrzymac nikogo</p>
					  <p>Ni poznac we mgle. Jezdni migaja jak duchy,</p>
					  <p>Tylko slychac raz po raz tetent kopyt gluchy</p>
					  <p>I, co dziwniejsza jeszcze, szczekanie palaszy:</p>
					  <p>Bardzo to ekonoma i cieszy, i straszy.</p>
					  <p>Bo choc na Litwie bylo naonczas spokojnie,</p>
					  <p>Dawno juz wiesci gluche biegaly o wojnie,</p>
					  <p>O Francuzach, Dabrowskim, o Napoleonie.</p>
					  <p>Mialyzby wojne wrozyc ci jezdzcy? te bronie?</p>
					  <p>Ekonom pobiegl wszystko Sedziemu powiedziec,</p>
					  <p>Spodziewajac sie i sam czegos sie dowiedziec.</p>
					  <p>&nbsp;</p>
					  <p>W Soplicowie domowi i goscie, po klotni</p>
					  <p>Wczorajszej wstali z siebie nieradzi i smutni.</p>
					  <p>Prozno Wojszczanka damy na kabale sprasza,</p>
					  <p>Mezczyznom prozno karty daja do mariasza:</p>
					  <p>Nie chca bawic sie ni grac, siedza cicho w
					  katkach,</p>
					  <p>Mezczyzni pala lulki, kobiety przy pratkach;</p>
					  <p>Nawet spia muchy. </p>
					  <p>&nbsp;</p>
					  <p>Wojski, rzuciwszy lopatke,</p>
					  <p>Znudzony cisza, idzie pomiedzy czeladke.</p>
					  <p>Woli w kuchennej sluchac ochmistrzyni krzykow,</p>
					  <p>Grozb i razow kucharza, halasu kuchcikow;</p>
					  <p>Az go powoli wprawil w przyjemne marzenie</p>
					  <p>Ruch jednostajny roznow krecacych pieczenie.</p>
					  <p>&nbsp;</p>
					  <p>Sedzia od rana pisal, zamknawszy sie w izbie,</p>
					  <p>Wozny od rana czekal pod oknem na przyzbie;</p>
					  <p>Sedzia, skonczywszy pozew, Protazego wzywa,</p>
					  <p>Skarge przeciw Hrabiemu glosno odczytywa:</p>
					  <p>O skrzywdzenie honoru, zelzywe wyrazy,</p>
					  <p>Zas przeciw Gerwazemu o gwalty i razy;</p>
					  <p>Obudwu o przechwalki, o koszta z powodu</p>
					  <p>Procesu - ciagnie w rejestr taktowy do grodu.</p>
					  <p>Pozew dzis trzeba wreczyc ustnie, oczywisto,</p>
					  <p>Nim zajdzie slonce. Wozny z mina uroczysta</p>
					  <p>Wyciagnal sluch i reke, skoro pozew zoczyl;</p>
					  <p>Stal powaznie, a rad by z radosci podskoczyl.</p>
					  <p>Na sama mysl procesu czul, ze sie odmlodzil:</p>
					  <p>Wspomnial na dawne lata, gdy z pozwami chodzil</p>
					  <p>Po guzy, ale razem po zaplaty hojne.</p>
					  <p>Tak zolnierz, ktory strawil zycie toczac wojne,</p>
					  <p>A na starosc w szpitalach spoczywa kaleki,</p>
					  <p>Skoro uslyszy trabe lub beben daleki,</p>
					  <p>Chwyta sie z loza, krzyczy przez sen: &quot;Bij Moskala!&quot;</p>
					  <p>I na drewnianej nodze skacze ze szpitala</p>
					  <p>Tak predko, ze go ledwie moze zlowic mlodziez.</p>
					  <p>&nbsp;</p>
					  <p>Protazy spieszyl wlozyc swa woznienska odziez.</p>
					  <p>Przeciez zupana ani kontusza nie kladzie,</p>
					  <p>One sluza ku wielkiej sadowej paradzie;</p>
					  <p>Na podroz ma stroj inny: szerokie rajtuzy</p>
					  <p>I kurte, ktorej poly, podpiete na guzy,</p>
					  <p>Mozna zakasac albo spuscic na kolana;</p>
					  <p>Czapka z uszami, sznurkiem u wierzchu zwiazana,</p>
					  <p>Wznosi sie na pogode, spuszcza sie przed slota.</p>
					  <p>Tak ubrany, wzial palke i ruszyl piechota.</p>
					  <p>Bo wozni przed procesem, jak szpiegi przed bojem,</p>
					  <p>Musza kryc sie pod rozna postacia i strojem.</p>
					  <p>&nbsp;</p>
					  <p>Dobrze zrobil Protazy, ze w droge pospieszyl,</p>
					  <p>Bo niedlugo by swoim pozwem sie nacieszyl.</p>
					  <p>W Soplicowie zmieniano kampaniji plany.</p>
					  <p>Do Sedziego wpadl nagle Robak zadumany</p>
					  <p>I rzekl: &quot;Sedzio, to bieda nam z ta pania ciotka,</p>
					  <p>Z ta pania Telimena, kokietka i trzpiotka!</p>
					  <p>Kiedy Zosia zostala dzieckiem w biednym stanie,</p>
					  <p>Jacek ja Telimenie dal na wychowanie,</p>
					  <p>Slyszac, ze jest osoba dobra, swiat znajaca,</p>
					  <p>A postrzegam, ze ona cos tu nam zamaca,</p>
					  <p>Intryguje i pono Tadeuszka wabi;</p>
					  <p>Sledze ja; albo moze bierze sie do Hrabi,</p>
					  <p>Moze do obu razem. Obmyslmy wiec srodki,</p>
					  <p>Jak sie jej pozbyc, bo stad moga urosc plotki,</p>
					  <p>Zly przyklad i pomiedzy mlokosami zwady,</p>
					  <p>Ktore moga pomieszac twe prawne uklady&quot;.</p>
					  <p>&quot;Uklady? - krzyknal Sedzia z niezwyklym zapalem -</p>
					  <p>Z ukladow kwita, juz je skonczylem, zerwalem&quot;.</p>
					  <p>&quot;A to co? - przerwal Robak. - Gdzie rozum? gdzie glowa?</p>
					  <p>Co tu mi Wasze bajasz? jaka burda nowa?&quot;</p>
					  <p>&quot;Nie z mej winy - rzekl Sedzia. - Proces to
					  wyjasni:</p>
					  <p>Hrabia, pyszalek, glupiec, byl przyczyna wasni,</p>
					  <p>I Gerwazy lotr; lecz to do sadu nalezy.</p>
					  <p>Szkoda, zes nie byl, Ksieze, w zamku na wieczerzy,</p>
					  <p>Poswiadczylbys, jak Hrabia srodze mnie obrazil&quot;.</p>
					  <p>&quot;Po cos Wasc - krzyknal Robak - do tych ruin lazil?</p>
					  <p>Wiesz, jak zamku nie cierpie; odtad moja noga</p>
					  <p>Tam nie postanie. Znowu klotnia! kara Boga!</p>
					  <p>Jakze tam bylo? powiedz; trzeba te rzecz zatrzec.</p>
					  <p>Juz mie znudzilo wreszcie na tyle glupstw patrzec.</p>
					  <p>Wazniejsze ja mam sprawy niz godzic pieniaczy,</p>
					  <p>Ale jeszcze raz zgodze&quot;. </p>
					  <p>&quot;Zgodzic? Coz to znaczy!</p>
					  <p>A idzze mi Wasc wreszcie z ta zgoda do licha! -</p>
					  <p>Przerwal Sedzia, tupnawszy noga. - Patrzcie mnicha!</p>
					  <p>Ze go przyjmuje grzecznie, chce mnie za nos wodzic.</p>
					  <p>Wiedz Wasze, ze Soplice nie zwykli sie godzic;</p>
					  <p>Gdy pozwa, musza wygrac: nieraz w ich imieniu</p>
					  <p>Trwal proces, az wygrali w szostym pokoleniu.</p>
					  <p>Dosyc zrobilem glupstwa, z porady Waszeci,</p>
					  <p>Zwolujac podkomorskie sady po raz trzeci.</p>
					  <p>Od dzisiaj nie ma zgody; nie ma, nie ma, nie ma!</p>
					  <p>(I krzyczac chodzil, tupal nogami obiema).</p>
					  <p>Procz tego za wczorajszy niegrzeczny uczynek</p>
					  <p>Musi mnie deprekowac, albo pojedynek!&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>&quot;Ale, Sedzio, coz bedzie, jak sie Jacek dowie?</p>
					  <p>Wszak on umrze z rozpaczy! Czyliz Soplicowie</p>
					  <p>Nie nabroili jeszcze w tym zamku dosc zlego!</p>
					  <p>Bracie! wspominac nie chce wypadku strasznego.</p>
					  <p>Wiesz takze, ze czesc gruntow od zamku dziedzica</p>
					  <p>Zabrala i Soplicom dala Targowica.</p>
					  <p>Jacek za grzech zalujac, musial byl slubowac</p>
					  <p>Pod absolucja dobra te restytuowac.</p>
					  <p>Wzial wiec Zosie, Horeszkow dziedziczke uboga,</p>
					  <p>Hodowac, wychowanie jej oplacal drogo.</p>
					  <p>Chcial ja Tadeuszkowi swojemu wyswatac</p>
					  <p>I tak dwa poroznione domy znowu zbratac,</p>
					  <p>I dziedziczce bez wstydu ustapic grabiezy&quot;.</p>
					  <p>&quot;Lecz coz to? - krzyknal Sedzia - co do mnie nalezy?</p>
					  <p>Ja sie nie znalem, nawet nie widzialem z Jackiem;</p>
					  <p>Ledwiem slyszal o jego zyciu hajdamackiem,</p>
					  <p>Siedzac wtenczas retorem w jezuickiej szkole,</p>
					  <p>Potem u wojewody sluzac za pachole.</p>
					  <p>Dano mi dobra, wzialem; kazal przyjac Zosie,</p>
					  <p>Przyjalem, hodowalem, mysle o jej losie.</p>
					  <p>Dosc mnie nudzi ta cala historyja babia!</p>
					  <p>A potem, czegoz jeszcze wlazl mi tu ten Hrabia?</p>
					  <p>Z jakim prawem do zamku? Wszak wiesz, przyjacielu,</p>
					  <p>On Horeszkom dziesiata woda na kisielu!</p>
					  <p>I ma mnie lzyc? a ja go zapraszac do zgody!&quot;</p>
					  <p>&nbsp;</p>
					  <p>&quot;Bracie! - rzekl ksiadz - wazne sa do tego
					  powody.</p>
					  <p>Pamietasz, ze Jacek chcial do wojska slac syna,</p>
					  <p>Potem w Litwie zostawil: coz w tym za przyczyna?</p>
					  <p>Oto w domu Ojczyznie potrzebniejszy bedzie.</p>
					  <p>Slyszales pewnie, o czem juz gadaja wszedzie,</p>
					  <p>O czem ja wiadomostki przynosilem nieraz:</p>
					  <p>Teraz czas juz powiedziec wszystko, czas juz teraz!</p>
					  <p>Wazne rzeczy, moj bracie! Wojna tuz nad nami!</p>
					  <p>Wojna o Polske! bracie! Bedziem Polakami!</p>
					  <p>Wojna niechybna! Kiedy z poselstwem tajemnem</p>
					  <p>Tu bieglem, wojsk forpoczty juz staly nad Niemnem;</p>
					  <p>Napoleon juz zbiera armije ogromna,</p>
					  <p>Jakiej czlowiek nie widzial i dzieje nie pomna;</p>
					  <p>Obok Francuzow ciagnie polskie wojsko cale,</p>
					  <p>Nasz Jozef, nasz Dabrowski, nasze orly biale!</p>
					  <p>Juz sa w drodze, na pierwszy znak Napoleona</p>
					  <p>Przejda Niemen i - bracie! Ojczyzna wskrzeszona!&quot;</p>
					  <p>&nbsp;</p>
					  <p>Sedzia, sluchajac, z wolna okulary skladal</p>
					  <p>I wpatrujac sie mocno w Ksiedza, nic nie gadal,</p>
					  <p>Westchnal gleboko, w oczach lzy sie zakrecily...</p>
					  <p>Wreszcie porwal za szyje Ksiedza z calej sily:</p>
					  <p>&quot;Moj Robaku! - wolajac - czy to tylko prawda?</p>
					  <p>Moj Robaku! - powtarzal - czy to tylko prawda?</p>
					  <p>Ilez razy zwodzono! Pamietasz? gadali:</p>
					  <p>Napoleon juz idzie! i my juz czekali!</p>
					  <p>Gadano: juz w Koronie, juz Prusaka pobil,</p>
					  <p>Wkracza do nas! A on - co? Pokoj w Tylzy zrobil!</p>
					  <p>Czy tylko prawda? Czy ty nie zwodzisz sam siebie?&quot;</p>
					  <p>&quot;Prawda - zawolal Robak - jak Pan Bog na
					  niebie!&quot;</p>
					  <p>&quot;Blogoslawionez niechaj beda usta, ktore</p>
					  <p>To zwiastuja! - rzekl Sedzia wznoszac rece w gore. -</p>
					  <p>Nie pozalujesz twego poselstwa, Robaku,</p>
					  <p>Nie pozaluje klasztor; dwiescie owiec z braku</p>
					  <p>Daje na klasztor. Ksieze, tys sie wczora palil</p>
					  <p>Do mojego kasztanka i gniadosza chwalil,</p>
					  <p>Dzis zaraz w twym kwestarskim wozie pojda oba;</p>
					  <p>Dzis pros mnie, o co zechcesz, co ci sie podoba,</p>
					  <p>Nie odmowie! Lecz o tym interesie calym</p>
					  <p>Z Hrabia, daj pokoj; skrzywdzil mnie, juz zapozwalem,</p>
					  <p>Czyz wypada...&quot;</p>
					  <p>Zalamal rece Ksiadz zdziwiony.</p>
					  <p>Wlepiwszy oczy w Sedzie, ruszywszy ramiony,</p>
					  <p>Rzekl: &quot;To gdy Napoleon wolnosc Litwie niesie,</p>
					  <p>Gdy swiat drzy caly, to ty myslisz o procesie?</p>
					  <p>I jeszczez po tem wszystkim, com tobie powiedzial,</p>
					  <p>Bedziesz spokojnie, rece zalozywszy, siedzial,</p>
					  <p>Gdy dzialac trzeba!&quot;</p>
					  <p>&nbsp;</p>
					  <p>- &quot;Dzialac? Coz?&quot; - Sedzia zapytal.</p>
					  <p>&quot;Jeszczes - rzekl Robak - z oczu moich nie
					  wyczytal?</p>
					  <p>Jeszcze serce nic tobie nie gada? Ach, bracie!</p>
					  <p>Jesli Soplicowskiej krwi krople w zylach macie,</p>
					  <p>Uwaz tylko: Francuzi uderzaja z przodu?...</p>
					  <p>A gdyby z tylu zrobic powstanie narodu?</p>
					  <p>Co myslisz? Niech no Pogon zarzy, niech na Zmudzi</p>
					  <p>Niedzwiedz ryknie! Ach, gdyby jakie tysiac ludzi,</p>
					  <p>Gdyby choc piecset z tylu na Moskwe natarlo,</p>
					  <p>Powstanie jako pozar wkolo rozpostarlo,</p>
					  <p>Gdybysmy my, nabrawszy Moskwie harmat, znakow,</p>
					  <p>Zwyciezcy szli powitac wybawcow rodakow?</p>
					  <p>Ciagniemy! Napoleon widzac nasze lance</p>
					  <p>Pyta: &lt;&lt;Co to za wojsko?&gt;&gt; My krzyczym: &lt;&lt;Powstance,</p>
					  <p>Najjasniejszy Cesarzu! Litwa ochotnicy!&gt;&gt;</p>
					  <p>Pyta: &lt;&lt;Pod czyja wodza?&gt;&gt; - &lt;&lt;Sedziego
					  Soplicy!&gt;&gt;</p>
					  <p>Ach, ktoz by potem pisnac smial o Targowicy?</p>
					  <p>Bracie, poki Ponarom stac, Niemnowi plynac,</p>
					  <p>Poty w Litwie Soplicow imieniowi slynac;</p>
					  <p>Wnukow, prawnukow bedzie Jagiellow stolica</p>
					  <p>Wskazywac palcem, mowiac: oto jest Soplica,</p>
					  <p>Z tych Soplicow, co pierwsi zrobili powstanie!&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>A na to Sedzia: &quot;Mniejsza o ludzkie gadanie;</p>
					  <p>Nigdy nie dbalem bardzo o pochwaly swiata,</p>
					  <p>Bog swiadkiem, zem nie winien grzechow mego brata;</p>
					  <p>W polityke jam nigdy bardzo sie nie wdawal,</p>
					  <p>Urzedujac i orzac mojej ziemi kawal;</p>
					  <p>Lecz jestem szlachcic, rad bym plame domu zmazac,</p>
					  <p>Jestem Polak, dla kraju rad bym cos dokazac,</p>
					  <p>Choc dusze oddac. W szable nie bylem zbyt tegi,</p>
					  <p>Wszakze bierali ludzie i ode mnie ciegi;</p>
					  <p>Wie swiat, ze w czasie polskich ostatnich sejmikow</p>
					  <p>Wyzwalem i zranilem dwoch braci Buzwikow,</p>
					  <p>Ktorzy... Ale to mniejsza. Jakze Wasze mysli?</p>
					  <p>Czy potrzeba, zebysmy zaraz w pole wyszli?</p>
					  <p>Strzelcow zebrac - rzecz latwa; prochu mam dostatek,</p>
					  <p>W plebaniji u ksiedza jest kilka armatek;</p>
					  <p>Przypominam, iz Jankiel mowil, iz u siebie</p>
					  <p>Ma groty do lanc, ze je moge wziac w potrzebie;</p>
					  <p>Te groty przywiozl w pakach gotowych z Krolewca</p>
					  <p>Pod sekretem; wezmiem je, zaraz zrobim drzewca,</p>
					  <p>Szabel nam nie zabraknie, szlachta na kon wsiedzie,</p>
					  <p>Ja z synowcem na czele i? - jakos to bedzie !&quot;</p>
					  <p>&nbsp;</p>
					  <p>&quot;O polska krwi!&quot; - zawolal Bernardyn
					  wzruszony,</p>
					  <p>Z otwartemi skoczywszy na Sedzie ramiony. -</p>
					  <p>&quot;Prawe dziecie Soplicow! Tobie Bog przeznacza</p>
					  <p>Oczyscic grzechy brata twojego, tulacza;</p>
					  <p>Zawszem ciebie szanowal, ale od tej chwili</p>
					  <p>Kocham cie, jak gdybysmy bracia sobie byli!</p>
					  <p>Przygotujemy wszystko, lecz wyjsc nie czas jeszcze;</p>
					  <p>Ja sam wyznacze miejsce i czas wam obwieszcze.</p>
					  <p>Wiem, ze car wyslal goncow do Napoleona</p>
					  <p>Prosic o pokoj; wojna nie jest ogloszona;</p>
					  <p>Lecz ksiaze Jozef slyszal od pana Biniona,</p>
					  <p>Francuza; co nalezy do cesarskiej rady,</p>
					  <p>Ze sie na niczem skoncza wszystkie te uklady,</p>
					  <p>Ze bedzie wojna. Ksiaze wyslal mnie na zwiady</p>
					  <p>Z rozkazem, zeby byli Litwini gotowi</p>
					  <p>Dowiesc przychodzacemu Napoleonowi,</p>
					  <p>Ze chca zlaczyc sie znowu z siostra swa, Korona,</p>
					  <p>I zadaja, azeby Polske przywrocono.</p>
					  <p>Tymczasem bracie, z Hrabia trzeba przyjsc do zgody;</p>
					  <p>Jest to dziwak, fantastyk troche, ale mlody,</p>
					  <p>Poczciwy, dobry Polak; potrzebny nam taki;</p>
					  <p>W rewolucyjach bardzo potrzebne dziwaki,</p>
					  <p>Wiem z doswiadczenia; nawet glupi sie przydadza,</p>
					  <p>Byle tylko poczciwi i pod madrych wladza.</p>
					  <p>Hrabia pan, ma u szlachty wielkie zachowanie;</p>
					  <p>Caly powiat ruszy sie, jesli on powstanie;</p>
					  <p>Znajac jego majatek, kazdy szlachcic powie:</p>
					  <p>Musi to byc rzecz pewna, gdy z nia sa panowie.</p>
					  <p>Biege do niego zaraz&quot;. </p>
					  <p>&nbsp;</p>
					  <p>&quot;Niech sie pierwszy zglosi -</p>
					  <p>Rzekl Sedzia - niech przyjedzie tu, mnie niech przeprosi;</p>
					  <p>Wszak jestem starszy wiekiem, jestem na urzedzie!</p>
					  <p>Co sie tycze procesu, sad arbitrow bedzie...&quot;</p>
					  <p>Bernardyn trzasnal drzwiami. &quot;No, szczesliwa droga!&quot; -</p>
					  <p>Rzekl Sedzia. </p>
					  <p>&nbsp;</p>
					  <p>Ksiadz wpadl w powoz stojacy u proga,</p>
					  <p>Tnie biczem konie, lechce lejcami po bokach;</p>
					  <p>Furknela kalamaszka, ginie w mgly oblokach,</p>
					  <p>Tylko kiedy niekiedy kaptur mnicha bury</p>
					  <p>Wznosi sie nad tumany jako sep nad chmury.</p>
					  <p>&nbsp;</p>
					  <p>Wozny juz dawniej wyszedl ku domowi Hrabi.</p>
					  <p>Jak lis bywalec, gdy go won sloniny wabi,</p>
					  <p>Biezy ku niej, a strzelcow zna fortele skryte,</p>
					  <p>Biezy, staje, przysiada coraz, wznosi kite</p>
					  <p>I wiatr nia jak wachlarzem ku swym nozdrzom tuli,</p>
					  <p>Pyta wiatru, czy strzelcy jadla nie zatruli:</p>
					  <p>Protazy zeszedl z drogi i wzdluz sianozeci</p>
					  <p>Krazy okolo domu: palke w reku kreci,</p>
					  <p>Udaje, ze obaczyl kedys bydlo w szkodzie;</p>
					  <p>Tak zrecznie lawirujac stanal przy ogrodzie;</p>
					  <p>Schylil sie, biezy, rzeklbys, iz derkacza tropi,</p>
					  <p>Az nagle skoczyl przez plot i wpadl do konopi.</p>
					  <p>&nbsp;</p>
					  <p>W tej zielonej, pachnacej i gestej krzewinie,</p>
					  <p>Kolo domu, jest pewny przytulek zwierzynie</p>
					  <p>I ludziom. Nieraz zajac zdybany w kapuscie</p>
					  <p>Skacze skryc sie w konopiach bezpieczniej niz w chruscie,</p>
					  <p>Bo go dla gestwi ziela ani chart nie zgoni,</p>
					  <p>Ani ogar wywietrzy dla zbyt tegiej woni.</p>
					  <p>W konopiach czlowiek dworski, uchodzac kanczuka</p>
					  <p>Lub piesci, siedzi cicho, az sie pan wyfuka.</p>
					  <p>I nawet czesto zbiegli od rekruta chlopi,</p>
					  <p>Gdy ich rzad sledzi w lasach, siedza srod konopi.</p>
					  <p>I stad w czasie bitew, zajazdow, tradowan</p>
					  <p>Obie strony nie szczedza wielkich usilowan,</p>
					  <p>Azeby stanowisko zajac konopiane,</p>
					  <p>Ktore z przodu ciagnie sie az pod dworska sciane,</p>
					  <p>A z tylu, pospolicie stykajac sie z chmielem,</p>
					  <p>Kryje atak i odwrot przed nieprzyjacielem.</p>
					  </font><p>&nbsp;</p>
					  <p>Protazy, choc czlek smialy, uczul nieco strachu,</p>
					  <p>Bo przypomnial z samego rosliny zapachu</p>
					  <p>Rozne swoje dawniejsze woznienskie przypadki,</p>
					  <p>Jedne po drugich, biorac konopie na swiadki:</p>
					  <p>Jako raz zapozwany szlachcic z Telsz, Dzindolet,</p>
					  <p>Rozkazal mu, oparlszy o piersi pistolet,</p>
					  <p>Wlezc pod stol i ow pozew psim glosem odszczekac,</p>
					  <p>Ze Wozny musial co tchu w konopie uciekac.</p>
					  <p>Jak pozniej Wolodkowicz, pan dumny, zuchwaly,</p>
					  <p>Co rozpedzal sejmiki, gwalcil trybunaly,</p>
					  <p>Przyjawszy urzedowy pozew, zdarl na sztuki</p>
					  <p>I postawiwszy przy drzwiach z kijami hajduki,</p>
					  <p>Sam nad Woznego glowa trzymal goly rapier,</p>
					  <p>Krzyczac: &quot;Albo cie zetne, albo zjedz twoj papier!&quot;</p>
					  <p>Wozny niby jesc zaczal, jak czlowiek roztropny,</p>
					  <p>Az skradlszy sie do okna, wpadl w ogrod konopny.</p>
					  <p>&nbsp;</p>
					  <p>Wprawdzie juz wtenczas w Litwie nie bylo zwyczajem</p>
					  <p>Opedzac sie od pozwow szabla lub nahajem</p>
					  <p>I ledwie wozny czasem uslyszal lajanie,</p>
					  <p>Ale Protazy o tej obyczajow zmianie</p>
					  <p>Wiedziec nie mogl, bo dawno juz pozwow nie naszal.</p>
					  <p>Choc zawsze gotow, choc sie Sedziemu sam wpraszal,</p>
					  <p>Sedzia dotad, przez winny wzglad na lata stare,</p>
					  <p>Odmawial jego prosbom; dzis przyjal ofiare</p>
					  <p>Dla naglacej potrzeby. </p>
					  <p>Wozny patrzy, czuwa -</p>
					  <p>Cicho wszedzie - w konopie z wolna rece wsuwa</p>
					  <p>I rozchylajac gestwe badylow, w jarzynie</p>
					  <p>Jako rybak pod woda nurkujacy plynie;</p>
					  <p>Wzniosl glowe - cicho wszedzie - do okien sie skrada -</p>
					  <p>Cicho wszedzie - przez okna glab palacu bada -</p>
					  <p>Pusto wszedzie. - Na ganek wchodzi nie bez strachu,</p>
					  <p>Odmyka klamke - pusto jak w zakletym gmachu;</p>
					  <p>Dobywa pozew, czyta glosno oswiadczenie.</p>
					  <p>A wtem uslyszal tarkot, uczul serca drzenie,</p>
					  <p>Chcial uciec, gdy ode drzwi zaszla mu osoba -</p>
					  <p>Szczesciem znajoma! Robak! Zdziwili sie oba.</p>
					  <p>&nbsp;</p>
					  <p>Widno, ze Hrabia kedys ruszyl z calym dworem</p>
					  <p>I bardzo spieszyl, bo drzwi zostawil otworem.</p>
					  <p>Widac, ze sie uzbrajal; lezaly dworurki</p>
					  <p>I sztucce na podlodze, dalej sztenfle, kurki</p>
					  <p>I narzedzia slusarskie, ktoremi rynsztunki</p>
					  <p>Poprawiano; proch, papier: robiono ladunki.</p>
					  <p>Czy Hrabia z calym dworem wyjechal na lowy?</p>
					  <p>Ale po coz bron reczna? Tu szabla bez glowy</p>
					  <p>Zardzewiala, tam lezy szpada bez temlaku:</p>
					  <p>Zapewne wybierano orez z tego braku</p>
					  <p>I poruszono nawet stare broni sklady.</p>
					  <p>Robak obejrzal pilnie rusznice i szpady,</p>
					  <p>A potem do folwarku wybral sie na zwiady,</p>
					  <p>Szukajac slug, zeby sie rozpytac o Hrabie;</p>
					  <p>W pustym folwarku ledwie wynalazl dwie babie,</p>
					  <p>Od ktorych slyszy, ze pan i dworska druzyna</p>
					  <p>Ruszyli tlumnie, zbrojnie - droga do Dobrzyna.</p>
					  <p>&nbsp;</p>
					  <p>Slynie szeroko w Litwie Dobrzynski zascianek</p>
					  <p>Mestwem swoich szlachcicow, pieknoscia
					  szlachcianek.</p>
					  <p>Niegdys mozny i ludny; bo gdy krol Jan Trzeci</p>
					  <p>Obwolal pospolite ruszenie przez wici,</p>
					  <p>Chorazy wojewodztwa z samego Dobrzyna</p>
					  <p>Przywiodl mu szescset zbrojnej szlachty. Dzis rodzina</p>
					  <p>Zmniejszona, zubozala; dawniej w panskich dworach</p>
					  <p>Lub wojsku, na zajazdach, sejmikowych zborach,</p>
					  <p>Zwykli byli Dobrzynscy zyc o latwym chlebie.</p>
					  <p>Teraz zmuszeni sami pracowac na siebie</p>
					  <p>Jako zaciezne chlopstwo! Tylko ze siermiegi</p>
					  <p>Nie nosza, lecz kapoty biale w czarne pregi,</p>
					  <p>A w niedziele kontusze. Stroj takze szlachcianek</p>
					  <p>Najubozszych rozni sie od chlopskich katanek:</p>
					  <p>Zwykle chodza w drylichach albo perkaliczkach,</p>
					  <p>Bydlo pasa nie w lapciach z kory, lecz w trzewiczkach,</p>
					  <p>I zna zboze, a nawet przeda - w rekawiczkach.</p>
					  <p>&nbsp;</p>
					  <p>Roznili sie Dobrzynscy miedzy Litwa bracia</p>
					  <p>Jezykiem swoim tudziez wzrostem i postacia.</p>
					  <p>Czysta krew lacka, wszyscy mieli czarne wlosy,</p>
					  <p>Wysokie czola, czarne oczy, orle nosy;</p>
					  <p>Z Dobrzynskiej Ziemi rod swoj starozytny wiedli.</p>
					  <p>A choc od lat czterystu na Litwie osiedli,</p>
					  <p>Zachowali mazurska mowe i zwyczaje.</p>
					  <p>Jezli ktory z nich dziecku imie na chrzcie daje,</p>
					  <p>Zawsze zwykl za patrona brac Koronijasza:</p>
					  <p>Swietego Bartlomieja albo Matyjasza.</p>
					  <p>Tak syn Macieja zawzdy zwal sie Bartlomiejem,</p>
					  <p>A znowu Bartlomieja syn zwal sie Maciejem;</p>
					  <p>Kobiety wszystkie chrzczono Kachny lub Maryny.</p>
					  </font><p>&nbsp;</p>
					  <p>By rozeznac sie wposrod takiej mieszaniny,</p>
					  <p>Brali rozne przydomki, od jakiej zalety</p>
					  <p>Lub wady, tak mezczyzni, jako i kobiety.</p>
					  <p>Mezczyznom czasem kilka dawano przydomkow</p>
					  <p>Na znak pogardy albo szacunku spolziomkow;</p>
					  <p>Czasem jedenze szlachcic inaczej w Dobrzynie,</p>
					  <p>A pod innym nazwiskiem u sasiadow slynie.</p>
					  <p>Dobrzynskich nasladujac, inna szlachta bliska</p>
					  <p>Brala rowniez przydomki, zwane i m i o n i s k a.</p>
					  <p>Teraz ich kazda prawie uzywa rodzina,</p>
					  <p>A rzadki wie, iz maja poczatek z Dobrzyna;</p>
					  <p>I byly tam potrzebne, kiedy w reszcie kraju</p>
					  <p>Glupim nasladownictwem weszly do zwyczaju.</p>
					  <p>&nbsp;</p>
					  <p>Wiec Matyjasz Dobrzynski, ktory stal na czele</p>
					  <p>Calej rodziny, zwan byl K u r k i e m n a k o s c i e l e.</p>
					  <p>Potem z siedemset dziewiecdziesiat czwartym rokiem</p>
					  <p>Odmieniwszy przydomek, ochrzcil sie Z a b o k i e m;</p>
					  <p>Toz K r o 1 i k i e m Dobrzynscy mianuja go sami,</p>
					  <p>A Litwini nazwali M a c k i e m n a d M a c k a m i.</p>
					  <p>&nbsp;</p>
					  <p>Jak on nad Dobrzynskimi, dom jego nad siolem</p>
					  <p>Panowal, stojac miedzy karczma i kosciolem.</p>
					  <p>Widac rzadko zwiedzany, mieszka w nim holota,</p>
					  <p>Bo brama sterczy bez wrot, ogrody bez plota,</p>
					  <p>Nie zasiane, na grzedach juz porosly brzozki;</p>
					  <p>Przeciez ten folwark zdal sie byc stolica wioski,</p>
					  <p>Iz ksztaltniejszy od innych chat, bardziej rozlegly,</p>
					  <p>I prawa strone, gdzie jest swietlica, mial z cegly.</p>
					  <p>Obok lamus, spichrz, gumno, obora i stajnie,</p>
					  <p>Wszystko w kupie, jak bywa u szlachty zwyczajnie.</p>
					  </font><p>&nbsp;</p>
					  <p>Wszystko nadzwyczaj stare, zgnile; domu dachy</p>
					  <p>Swiecily sie, jak gdyby od zielonej blachy,</p>
					  <p>Od mchu i trawy, ktora buja jak na lace.</p>
					  <p>Po strzechach gumien - niby ogrody wiszace</p>
					  <p>Roznych roslin: pokrzywa i krokos czerwony,</p>
					  <p>Zolta dziewanna, szczyru barwiste ogony,</p>
					  <p>Gniazda ptastwa roznego, w strychach golebniki,</p>
					  <p>W oknach gniazda jaskolcze, u progu kroliki</p>
					  <p>Biale skacza i ryja w niedeptanej darni.</p>
					  <p>Slowem, dwor na ksztalt klatki albo krolikarni.</p>
					  <p>&nbsp;</p>
					  <p>A dawniej byl obronny! Pelno wszedzie sladow,</p>
					  <p>Ze wielkich i ze czestych doznawal napadow.</p>
					  <p>Pod brama dotad w trawie, jak dziecieca glowa</p>
					  <p>Wielka, lezala kula zelazna dzialowa</p>
					  <p>Od czasow szwedzkich; niegdys skrzydlo wrot otwarte</p>
					  <p>Bywalo o te kule jak o glaz oparte.</p>
					  <p>Na dziedzincu spomiedzy piolunu i chwastu</p>
					  <p>Wznosza sie stare szczety krzyzow kilkunastu</p>
					  <p>Na ziemi nieswieconej; znak, ze tu chowano</p>
					  <p>Poleglych smiercia nagla i niespodziewana.</p>
					  <p>Kto by uwazal z bliska lamus, spichrz i chate,</p>
					  <p>Ujrzy sciany od ziemi do szczytu pstrokate</p>
					  <p>Niby rojem owadow czarnych; w kazdej plamie</p>
					  <p>Siedzi we srodku kula jak trzmiel w ziemnej jamie.</p>
					  <p>&nbsp;</p>
					  <p>U drzwi domostwa wszystkie klamki, cwieki, haki,</p>
					  <p>Albo uciete, albo nosza szabel znaki:</p>
					  <p>Pewnie tu probowano hartu zygmuntowek,</p>
					  <p>Ktoremi mozna smialo cwieki obciac z glowek</p>
					  <p>Lub hak przerznac, w brzeszczocie nie zrobiwszy szczerby.</p>
					  <p>Nade drzwiami Dobrzynskich widne byly herby;</p>
					  <p>Lecz armature - serow zaslonily pulki</p>
					  <p>I zasklepily gesto gniazdami jaskolki.</p>
					  <p>&nbsp;</p>
					  <p>Wewnatrz samego domu, w stajni i wozowni,</p>
					  <p>Pelno znajdziesz rynsztunkow, jak w starej zbrojowni.</p>
					  <p>Pod dachem wisza cztery ogromne szyszaki,</p>
					  <p>Ozdoby czol marsowych: dzis Wenery ptaki,</p>
					  <p>Golebie, w nich gruchajac karmia swe piskleta.</p>
					  <p>W stajni kolczuga wielka nad zlobem rozpieta</p>
					  <p>I pierscieniasty pancerz sluza za drabine,</p>
					  <p>W ktora chlopiec zarzuca zrebcom dziecieline.</p>
					  <p>W kuchni kilka rapierow kucharka bezbozna</p>
					  <p>Odhartowala, kladac je w piec zamiast rozna;</p>
					  <p>Bunczukiem, lupem z Wiednia, otrzepywa zarna:</p>
					  <p>Slowem, wygnala Marsa Ceres gospodarna</p>
					  <p>I panuje z Pomona, Flora i Wertumnem</p>
					  <p>Nad Dobrzynskiego domem, stodola i gumnem.</p>
					  <p>&nbsp;</p>
					  <p>Ale dzis musza znowu ustapic boginie:</p>
					  <p>Mars powraca. </p>
					  </font><p>&nbsp;</p>
					  <p>O swicie zjawil sie w Dobrzynie</p>
					  <p>Konny poslaniec; biega od chaty do chaty,</p>
					  <p>Budzi jak na panszczyzne; wstaja szlachta braty,</p>
					  <p>Napelniaja sie cizba zascianku ulice,</p>
					  <p>Slychac krzyk w karczmie, widac w plebaniji swi?ce;</p>
					  <p>Biega; jeden drugiego pyta, co to znaczy,</p>
					  <p>Starzy skladaja rade, mlodz konie kulbaczy,</p>
					  <p>Kobiety zatrzymuja, chlopcy sie szamoca,</p>
					  <p>Rwa sie biec, bic sie, ale nie wiedza, z kim, o co?</p>
					  <p>Musza chcac nie chcac zostac. W mieszkaniu plebana</p>
					  <p>Trwa rada dluga, tlumna, strasznie zamieszana,</p>
					  <p>Az nie mogac zdan zgodzic, na koniec stanowi</p>
					  <p>Przelozyc cala sprawe ojcu Maciejowi.</p>
					  <p>&nbsp;</p>
					  <p>Siedemdziesiat dwa lat liczyl Maciej, starzec
					  dziarski,</p>
					  <p>Niskiego wzrostu, dawny konfederat barski.</p>
					  <p>Pamietaja i swoi, i nieprzyjaciele</p>
					  <p>Jego damaskowana krzywa karabele,</p>
					  <p>Ktora piki i sztyki rzezal na ksztalt sieczki</p>
					  <p>I ktorej zartem skromne dal imie R o z e c z k i.</p>
					  <p>Z konfederata stal sie stronnikiem krolewskim</p>
					  <p>I trzymal z Tyzenhauzem, podskarbim litewskim;</p>
					  <p>Lecz gdy krol w Targowicy przyjal uczestnictwo,</p>
					  <p>Maciej opuscil znowu krolewskie stronnictwo,</p>
					  <p>I stad to, ze przechodzil partyi tak wiele,</p>
					  <p>Nazywany byl dawniej K u r k i e m n a k o s c i e l
					  e,</p>
					  <p>Ze jak kurek za wiatrem choragiewke zwracal.</p>
					  <p>Przyczyne zmian tak czestych na prozno bys macal:</p>
					  <p>Moze Maciej zbyt wojne lubil; zwyciezony</p>
					  <p>W jednej stronie, znow bitwy szukal z drugiej strony?</p>
					  <p>Moze, bystry polityk, duch czasu zbadywal</p>
					  <p>I tam szedl, gdzie Ojczyzny dobro upatrywal?</p>
					  <p>Kto wie! To pewna, ze go nigdy nie uwiodly</p>
					  <p>Ani chec osobistej chwaly, ni zysk podly,</p>
					  <p>I ze nigdy z moskiewska partyja nie trzymal;</p>
					  <p>Na sam widok Moskala pienil sie i zzymal.</p>
					  <p>By nie spotkac Moskala, po kraju zaborze</p>
					  <p>Siedzial w domu, jak niedzwiedz, gdy ssie lape w borze.</p>
					  <p>&nbsp;</p>
					  <p>Ostatni raz wojowal, poszedlszy z Oginskim</p>
					  <p>Do Wilna, gdzie sluzyli oba pod Jasinskim.</p>
					  <p>I tam z Rozeczka cudow dokazal odwagi.</p>
					  <p>Wiadomo, ze sam jeden skoczyl z walow Pragi</p>
					  <p>Bronic pana Pocieja, ktory, odbiezany</p>
					  <p>Na placu boju, dostal dwadziescia trzy rany.</p>
					  <p>Myslano dlugo w Litwie, ze obu zabito;</p>
					  <p>Wrocili oba, kazdy pokluty jak sito.</p>
					  <p>Pan Pociej, zacny czlowiek, chcial zaraz po wojnie</p>
					  <p>Obronce Dobrzynskiego wynagrodzic hojnie,</p>
					  <p>Dawal mu folwark pieciu dymow w dozywocie</p>
					  <p>I wyznaczyl mu rocznie tysiac zlotych w zlocie.</p>
					  <p>Lecz Dobrzynski odpisal: &quot;Niech Pociej Macieja,</p>
					  <p>A nie Maciej Pocieja ma za dobrodzieja&quot;.</p>
					  <p>Odmowil wiec folwarku i nie przyjal placy;</p>
					  <p>Sam wrociwszy do domu, zyl z wlasnej rak pracy,</p>
					  <p>Sprawujac ule dla pszczol, lekarstwa dla bydla,</p>
					  <p>Szlac na targ kuropatwy, ktore lowil w sidla,</p>
					  <p>I polujac na zwierza. </p>
					  <p>&nbsp;</p>
					  <p>Bylo dosc w Dobrzynie</p>
					  <p>Starych ludzi roztropnych, ktorzy po lacinie</p>
					  <p>Umieli i w palestrze cwiczyli sie z mlodu;</p>
					  <p>Bylo dosc majetniejszych; a z calego rodu</p>
					  <p>Maciek, prostak ubogi, byl najwiecej czczony,</p>
					  <p>Nie tylko jako rebacz Rozeczka wslawiony,</p>
					  <p>Lecz jako czlek madrego i pewnego zdania,</p>
					  <p>Znajacy dzieje kraju, rodziny podania,</p>
					  <p>Zarowno swiadom prawa, jak i gospodarstwa.</p>
					  <p>Wiedzial takze sekreta strzelcow i lekarstwa,</p>
					  <p>Przyznawano mu nawet (czemu pleban przeczy)</p>
					  <p>Wiadomosc nadzwyczajnych i nadludzkich rzeczy.</p>
					  <p>To pewna, ze powietrza zmiany zna dokladnie</p>
					  <p>I czesciej niz kalendarz gospodarski zgadnie.</p>
					  <p>Nie dziw tedy, ze czy to siejbe rozpoczynac,</p>
					  <p>Czy wiciny wyprawiac, czy zboze zazynac,</p>
					  <p>Czy procesowac, czyli zawierac uklady,</p>
					  <p>Nie dzialo sie w Dobrzynie nic bez Macka rady.</p>
					  <p>&nbsp;</p>
					  <p>Wplywu takiego starzec bynajmniej nie szukal,</p>
					  <p>Owszem, chcial sie go pozbyc, klijentow swych fukal</p>
					  <p>I najczesciej wypychal milczkiem za drzwi domu,</p>
					  <p>Rady rzadko udzielal i nie lada komu,</p>
					  <p>Ledwie w niezmiernie waznych sporach lub umowach</p>
					  <p>Pytany wyrzekl zdanie, i w niewielu slowach.</p>
					  <p>Myslano, ze dzisiejszej podejmie sie sprawy</p>
					  <p>I stanie swa osoba na czele wyprawy;</p>
					  <p>Bo bijatyke lubil niezmiernie za mlodu</p>
					  <p>I byl nieprzyjacielem moskiewskiego rodu.</p>
					  <p>&nbsp;</p>
					  <p>Wlasnie staruszek chodzil po samotnym dworze,</p>
					  <p>Nucac piosenke: &quot;Kiedy ranne wstaja zorze&quot;,</p>
					  <p>Rad, ze sie wypogadza; mgla nie szla do gory,</p>
					  <p>Jak sie dziac zwyklo, kiedy zbieraja sie chmury,</p>
					  <p>Ale coraz spadala; wiatr rozwinal dlonie</p>
					  <p>I mgle muskal, wygladzal, rozscielal na blonie;</p>
					  <p>Tymczasem slonko z gory tysiacem promieni</p>
					  <p>Tlo przetyka, posrebrza, wyzlaca, rumieni.</p>
					  <p>Jak para mistrzow w Slucku lity pas wyrabia:</p>
					  <p>Dziewica, siedzac w dole, krosny ujedwabia</p>
					  <p>I tlo reka wygladza, tymczasem tkacz z gory</p>
					  <p>Zrzuca jej nitki srebra, zlota i purpury,</p>
					  <p>Tworzac barwy i kwiaty - tak dzis ziemie cala</p>
					  <p>Wiatr tumanami osnul, a slonce dzierzgalo.</p>
					  <p>&nbsp;</p>
					  <p>Maciej ogrzal sie sloncem, zakonczyl pacierze</p>
					  <p>I juz sie do swojego gospodarstwa bierze.</p>
					  <p>Wyniosl traw, liscia; usiadl przed domem i swisnal:</p>
					  <p>Na ten swist roj krolikow spod ziemi wytrysnal.</p>
					  <p>Jako narcyzy nagle wykwitle nad trawe,</p>
					  <p>Biela sie dlugie sluchy; pod nimi jaskrawe</p>
					  <p>Przeswiecaja sie oczki jak krwawe rubiny</p>
					  <p>Gesto wszyte w aksamit zielonej darniny.</p>
					  <p>Juz kroliki na lapkach stoja, kazdy slucha,</p>
					  <p>Patrzy, na koniec cala trzodka bialopucha</p>
					  <p>Biezy do starca, liscmi kapusty znecona,</p>
					  <p>Do nog mu, na kolana skacze, na ramiona;</p>
					  <p>On, sam bialy jak krolik, lubi ich gromadzic</p>
					  <p>Wkolo siebie i reka cieply ich puch gladzic,</p>
					  <p>A druga reka z czapki proso w trawe miota</p>
					  <p>Dla wroblow; spada z dachow krzykliwa holota.</p>
					  <p>&nbsp;</p>
					  <p>Gdy sie staruszek bawil widokiem biesiady,</p>
					  <p>Nagle kroliki znikly w ziemi, a gromady</p>
					  <p>Wroblow na dach uciekly przed goscmi nowymi,</p>
					  <p>Ktorzy szli do folwarku krokami predki?mi.</p>
					  <p>Byli to z plebaniji przez szlachty gromade</p>
					  <p>Poslowie wyprawieni do Macka po rade.</p>
					  <p>Z dala witajac starca niskiemi uklony,</p>
					  <p>Rzekli: &quot;Niech bedzie Jezus Chrystus pochwalony&quot;.</p>
					  <p>&quot;Na wieki wiekow, amen&quot; - starzec
					  odpowiedzial,</p>
					  <p>A gdy sie o waznosci poselstwa dowiedzial,</p>
					  <p>Prosi do chaty; weszli, zasiadaja lawe,</p>
					  <p>Pierwszy z poslow stal w srodku i jal zdawac sprawe.</p>
					  <p>&nbsp;</p>
					  <p>Tymczasem szlachty coraz gesciej przybywalo.</p>
					  <p>Dobrzynscy prawie wszyscy; sasiadow niemalo</p>
					  <p>Z okolicznych zasciankow, zbrojni i bezbronni,</p>
					  <p>W kalamaszkach i bryczkach, i piesi, i konni,</p>
					  <p>Stawia wozy, podjezdki do brzezinek wiaza,</p>
					  <p>Ciekawi skutku narad kolo domu kraza:</p>
					  <p>Juz izbe napelnili, kupia sie do sieni;</p>
					  <p>Inni sluchaja, w okna glowami wcisnieni.</p>
 
				</div>
{% endblock %}