{% extends 'NataliaTadeuszBundle::bars.html.twig' %}

{% block header %}
	<font SIZE="4"><h1 ALIGN="center">KSIĘGA SIÓDMA<br>
  	</font><font size="5">RADA</font></h1>
{% endblock %}

{% block content %}
	<div class="col-md-8">
					    
					  <font SIZE="4"><h2 ALIGN="center">Tresc:</h2>
					  <h2 ALIGN="center">Zbawienne rady Bartka, zwanego Prusak - Glos zolnierski Macka
					  Chrzciciela - Glos polityczny pana Buchmana - Jankiel radzi ku zgodzie, ktora Scyzoryk
					  rozcina - Rzecz Gerwazego, z ktorej okazuja sie wielkie skutki wymowy sejmowej -
					  Protestacja starego Macka - Nagle przybycie posilkow wojennych zrywa narade - Hejze
					  na Soplice!</font></h2>
					  <hr width="50%" size="1">
					  <p>&nbsp;</p>
					  <p>Z kolei Bartek posel rzecz swa wyprowadzal;</p>
					  <p>Ten, ze czesto na strugach do Krolewca chadzal,</p>
					  <p>Nazwany byl Prusakiem od swych spolrodakow</p>
					  <p>Przez zart, bo nienawidzil okropnie Prusakow,</p>
					  <p>Choc lubil o nich gadac; czlek podeszly w lata,</p>
					  <p>W podrozach swych dalekich wiele zwiedzil swiata;</p>
					  <p>Gazet pilny czytelnik, polityki swiadom,</p>
					  <p>Mogl wiec niemalo swiatla udzielic obradom.</p>
					  <p>Ten tak rzecz konczyl: </p>
					  <p>&nbsp;</p>
					  <p>&quot;Nie jest to, Panie Macieju,</p>
					  <p>Bracie moj, a nas wszystkich Ojcze Dobrodzieju,</p>
					  <p>Nie jest to marna pomoc. Ja bym na Francuzow</p>
					  <p>Spuscil sie w czasie wojny jak na czterech tuzow:</p>
					  <p>Lud bitny, a od czasow pana Tadeusza</p>
					  <p>Kosciuszki swiat takiego nie mial genijusza</p>
					  <p>Wojennego jak wielki Cesarz Bonaparte.</p>
					  </font><p>&nbsp;</p>
					  <p>Pamietam, kiedy przeszli Francuzi przez Warte,</p>
					  <p>Bawilem za granica wtenczas, w roku Panskim</p>
					  <p>Tysiacznym osimsetnym szostym; wlasnie z Gdanskiem</p>
					  <p>Handlowalem, a krewnych mam wielu w Poznanskiem.</p>
					  <p>Jezdzilem ich odwiedzic; wiec z panem Jozefem</p>
					  <p>Grabowskim, ktory teraz jest rejmentu szefem,</p>
					  <p>A podowczas zyl na wsi blisko Obiezierza,</p>
					  <p>Polowalismy sobie na malego zwierza.</p>
					  <p>Byl pokoj w Wielko - Polszcze, jak teraz na Litwie;</p>
					  <p>Wtem nagle rozeszla sie wiesc o strasznej bitwie;</p>
					  <p>Przybiegl do nas poslaniec od pana Todwena,</p>
					  <p>Grabowski list przeczytal, krzyknal: &lt;&lt;Jena! Jena!</p>
					  <p>Zbito Prusakow na leb, na szyje, wygrana!&gt;&gt;</p>
					  <p>Ja, z konia zsiadlszy, zaraz padlem na kolana,</p>
					  <p>Dziekujac Panu Bogu. </p>
					  <p>&nbsp;</p>
					  <p>Do miasta jedziemy</p>
					  <p>Niby dla interesu, niby nic nie wiemy,</p>
					  <p>Az tu widzimy: wszystkie landraty, hofraty,</p>
					  <p>Komisarze i wszystkie podobne psubraty</p>
					  <p>Klaniaja sie nam nisko; kazdy drzy, blednieje,</p>
					  <p>Jako owad prusaczy, gdy wrzatkiem kto zleje.</p>
					  <p>My smiejac sie, trac rece, prosim unizenie</p>
					  <p>O nowinki? pytamy, co slychac o Jenie?</p>
					  <p>Tu ich strach zdjal, dziwia sie, ze o klesce owej</p>
					  <p>Juz wiemy; krzycza Niemcy: &lt;&lt;Achary Got! o wej!&gt;&gt;</p>
					  <p>Spusciwszy nos, do domow, z domow dalej w nogi -</p>
					  <p>O, to byl rwetes! Wszystkie wielkopolskie drogi</p>
					  <p>Pelne uciekajacych; niemczyska jak mrowie</p>
					  <p>Pelzna, ciagna pojazdy, ktore lud tam zowie</p>
					  <p>Wageny i fornalki; mezczyzni, kobiety,</p>
					  <p>Z fajkami, z imbryczkami, wleka pudla, bety;</p>
					  <p>Drapia, jak moga; a my milczkiem wchodzim w rade:</p>
					  <p>Hejze na kon, pomieszac Niemcom rejterade!</p>
					  <p>Nuz landratom tluc w karki, z hofratow drzec schaby,</p>
					  <p>A herow oficerow lowic za harcaby -</p>
					  <p>A jeneral Dabrowski wpada do Poznania</p>
					  <p>I cesarski przynosi rozkaz: do powstania!</p>
					  <p>W tydzien jeden - tak lud nasz Prusakow wychlostal</p>
					  <p>I wygnal, na lekarstwo Niemca bys nie dostal!</p>
					  <p>&nbsp;</p>
					  <p>Gdyby sie tak obrocic i gracko, i raznie,</p>
					  <p>I u nas w Litwie sprawic Moskwie taka laznie?</p>
					  <p>He? co myslisz, Macieju? Jesli z Bonapartem</p>
					  <p>Moskwa drze koty, to on wojuje nie zartem:</p>
					  <p>Bohater pierwszy w swiecie, a wojsk ma bez liku!</p>
					  <p>He, coz myslisz, Macieju, nasz ojcze Kroliku?&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>Skonczyl. Czekaja wszyscy Macieja wyroku.</p>
					  <p>Maciej glowy nie ruszyl ani podniosl wzroku,</p>
					  <p>Tylko reka kilkakroc uderzyl po boku,</p>
					  <p>Jak gdyby szabli szukal (od zaboru kraju</p>
					  <p>Szabli nie nosil; przeciez z dawnego zwyczaju</p>
					  <p>Na wspomnienie Moskala zawsze reke zwracal</p>
					  <p>Na lewy bok, zapewne Rozeczki swej macal;</p>
					  <p>I stad byl nazywany powszechnie Zabokiem).</p>
					  <p>Juz wzniosl glowe, sluchaja w milczeniu glebokiem.</p>
					  <p>Maciej oczekiwanie powszechne omylil,</p>
					  <p>Nachmurzyl brwi i znowu glowe na piers schylil.</p>
					  <p>Na koniec odezwal sie, z wolna kazde slowo</p>
					  <p>Wymawiajac z przyciskiem, a w takt kiwal glowa:</p>
					  <p>&nbsp;</p>
					  <p>&quot;Cicho! skadze ta cala nowina pochodzi?</p>
					  <p>Jak daleko Francuzi? Kto nimi dowodzi?</p>
					  <p>Czy juz wojne zaczeli z Moskwa? gdzie i o co?</p>
					  <p>Ktoredy maja ciagnac? z jaka ida moca?</p>
					  <p>Wiele piechoty, jazdy? Kto wie, niechaj gada!&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>Milczala, patrzac na sie kolejno, gromada.</p>
					  <p>&quot;Radzilbym - rzecze Prusak - czekac bernardyna</p>
					  <p>Robaka, bo od niego pochodzi nowina;</p>
					  <p>Tymczasem poslac pewnych szpiegow nad granice</p>
					  <p>I po cichu uzbrajac cala okolice,</p>
					  <p>A tymczasem ostroznie cala rzecz prowadzic,</p>
					  <p>Aby Moskalom naszych zamiarow nie zdradzic&quot;.</p>
					  <p>&nbsp;</p>
					  <p>He! czekac? szczekac? zwlekac? - </p>
					  <p>przerwal Maciej drugi,</p>
					  <p>Ochrzczony Kropicielem od wielkiej maczugi,</p>
					  <p>Ktora zwal Kropidelkiem; mial ja dzis przy sobie.</p>
					  <p>Stanal za nia, na galce zwiesil rece obie,</p>
					  <p>Na reku oparl brode krzyczac: &quot;Czekac! zwlekac!</p>
					  <p>Sejmikowac! Hem, trem, brem, a potem uciekac.</p>
					  <p>Ja w Prusach nie bywalem; rozum krolewiecki</p>
					  <p>Dobry dla Prus, a u mnie jest rozum szlachecki.</p>
					  <p>To wiem, ze kto chce bic sie, niech Kropidlo chwyta,</p>
					  <p>Kto umierac, ten ksiedza niech wola, i kwita!</p>
					  <p>Ja chce zyc, bic! Bernardyn po co? czy my zaki?</p>
					  <p>Co mi tam Robak! otoz my bedziem robaki,</p>
					  <p>I dalej Moskwe toczyc! trem, bdrem, szpiegi, wzwiady;</p>
					  <p>Wiecie wy, co to znaczy? - Oto, ze wy dziady,</p>
					  <p>Niedolegi! He, Bracia! to wyzla rzecz tropic,</p>
					  <p>Bernardynska kwestowac, a moja rzecz: kropic,</p>
					  <p>Kropic, kropic i kwita!&quot; - Tu maczuge glasnal,</p>
					  <p>Za nim caly tlum szlachty: &quot;Kropic, kropic!&quot; -
					  wrzasnal.</p>
					  <p>&nbsp;</p>
					  <p>Poparl strone Chrzciciela Bartek, zwan Brzytewka,</p>
					  <p>Od szabli cienkiej, tudziez Maciej, zwan Konewka,</p>
					  <p>Od sztucca, ktory naszal, z gardlem tak szerokiem,</p>
					  <p>Ze zen, jak z konwi tuzin kulek lal potokiem;</p>
					  <p>Oba krzyczeli: &quot;Wiwat Chrzciciel z Kropidelkiem!&quot;</p>
					  <p>Prusak chcial mowic, ale zgluszono go zgielkiem</p>
					  <p>I smiechem: &quot;Precz - wolano - precz Prusaki, tchorze!</p>
					  <p>Kto tchorz, niech w bernardynskim chowa sie kapturze&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Wtem znowu glowe z wolna podniosl Maciej stary</p>
					  <p>I zaczely cokolwiek uciszac sie gwary.</p>
					  <p>&quot;Nie drwijcie - rzekl - z Robaka; </p>
					  <p><font SIZE="4">znam go, to cwik klecha,</p>
					  <p>Ten robaczek wiekszego od was zgryzl orzecha;</p>
					  <p>Raz go tylko widzialem, ledwiem okiem rzucil,</p>
					  <p>Poznalem, co za ptaszek; ksiadz oczy odwrocil,</p>
					  <p>Lekajac sie, zebym go nie zaczal spowiadac;</p>
					  <p>Ale to rzecz nie moja, wiele o tym gadac!</p>
					  <p>On tu nie przyjdzie, prozno wzywac Bernardyna.</p>
					  <p>Jesli od niego wyszla ta cala nowina,</p>
					  <p>To kto wie, w jakim celu: bo to bies ksiezyna!</p>
					  <p>Jesli procz tej nowiny nic wiecej nie wiecie,</p>
					  <p>Wiec po coscie tu przyszli? i czego wy chcecie?&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>&quot;Wojny!&quot; - krzykneli. - &quot;Jakiej?&quot; -
					  spytal. - Zawolali:</p>
					  <p>&quot;Wojny z Moskalem! bic sie! Hajze na Moskali!&quot;</p>
					  <p>&nbsp;</p>
					  <p>Prusak wciaz wolal, a glos coraz wyzej wznosil,</p>
					  <p>Az posluchanie czescia uklonem wyprosil,</p>
					  <p>Czescia zdobyl swa mowa krzykliwa i cienka.</p>
					  <p>&quot;I ja chce bic sie - wolal, tlukac sie w
					  piers reka -</p>
					  <p>Choc kropidla nie nosze, dragiem od wiciny</p>
					  <p>Sprawilem raz Prusakom czterem dobre chrzciny,</p>
					  <p>Ktorzy mie po pjanemu chcieli w Preglu topic&quot;.</p>
					  <p>&quot;Tos zuch, Bartku - rzekl Chrzciciel -</p>
					  <p><font SIZE="4">dobrze! kropic kropic!&quot;</p>
					  <p>&quot;Alez, najslodszy Jezu! trzeba pierwej wiedziec,</p>
					  <p>Z kim wojna? o co? Trzeba to swiatu powiedziec -</p>
					  <p>Wolal Prusak - bo jakze lud ruszy za nami?</p>
					  <p>Gdzie pojdzie, kiedy, gdzie isc, my nie wiemy sami!</p>
					  <p>Bracia Szlachta! Panowie! potrzeba rozsadku!</p>
					  <p>Dobrodzieje! potrzeba ladu i porzadku!</p>
					  <p>Chcecie wojny, wiec zrobmy konfederacyja,</p>
					  <p>Obmyslmy, gdzie zawiazac i pod laska czyja?</p>
					  <p>Tak bylo w Wielko - Polszcze: widzim rejterade</p>
					  <p>Niemiecka, coz my robim! Wchodzim tajnie w rade,</p>
					  <p>Uzbrajamy i szlachte, i wloscian gromade,</p>
					  <p>Gotowi, Dabrowskiego czekamy rozkazu,</p>
					  <p>Na koniec, hajze na kon! powstajem od razu!&quot;</p>
					  <p>&nbsp;</p>
					  <p>&quot;Prosze o glos!&quot; - zawolal pan komisarz z
					  Klecka,</p>
					  <p>Czlowiek mlody, przystojny, ubrany z niemiecka;</p>
					  <p>Zwal sie Buchman, lecz Polak byl, w Polszcze sie rodzil;</p>
					  <p>Nie wiedziec pewnie, czyli ze szlachty pochodzil,</p>
					  <p>Lecz o to nie pytano; i wszyscy Buchmana</p>
					  <p>Szacowali, iz sluzyl u wielkiego pana.</p>
					  <p>Byl dobry patryjota i pelen nauki,</p>
					  <p>Z ksiag obcych wyuczyl sie gospodarstwa sztuki</p>
					  <p>I dobr administracja prowadzil porzadnie;</p>
					  <p>O polityce takze wnioskowal rozsadnie,</p>
					  <p>Pieknie pisac i gladko umial sie wyslawiac,</p>
					  <p>Zatem umilkli wszyscy, kiedy jal rozprawiac.</p>
					  <p>&quot;Prosze o glos!&quot; - powtorzyl, po dwakroc odchrzaknal,</p>
					  <p>Uklonil sie i usty dzwiecznemi tak brzaknal:</p>
					  <p>&nbsp;</p>
					  <p>&quot;Preopinanci moi w swych glosach wymownych</p>
					  <p>Dotkneli wszystkich punktow stanowczych i glownych,</p>
					  <p>Dyskusyja na wyzsze wzniesli stanowisko;</p>
					  <p>Mnie tylko pozostaje w jedno zjac ognisko</p>
					  <p>Rzucone trafne mysli i rozumowania;</p>
					  <p>Mam nadzieje w ten sposob sprzeczne zgodzic zdania.</p>
					  <p>Dwie czesci dyskusyi calej uwazalem,</p>
					  <p>Podzial juz jest zrobiony, ide tym podzialem.</p>
					  <p>Naprzod: dlaczego mamy przedsiebrac powstanie?</p>
					  <p>W jakim duchu? to pierwsze zywotne pytanie;</p>
					  <p>Drugie rewolucyjnej wladzy sie dotycze;</p>
					  <p>Podzial jest trafny, tylko przewrocic go zycze.</p>
					  <p>Naprzod zaczac od wladzy; skoro pojmiem wladze,</p>
					  <p>Z niej powstania istote, duch, cel wyprowadze.</p>
					  <p>Co do wladzy wiec - kiedy oczyma przebiegam</p>
					  <p>Dzieje calej ludzkosci, i coz w nich spostrzegam?</p>
					  <p>Oto rod ludzki dziki, w lasach rozpierzchniony,</p>
					  <p>Skupia sie, zbiera, laczy dla wspolnej obrony,</p>
					  <p>Obmysla ja; i to jest najpierwsza obrada.</p>
					  <p>Potem kazdy wolnosci wlasnej czastke sklada</p>
					  <p>Dla dobra powszechnego: to pierwsza ustawa,</p>
					  <p>Z ktorej jako ze zrodla plyna wszystkie prawa.</p>
					  <p>Widzimy tedy, ze rzad umowa sie tworzy,</p>
					  <p>Nie pochodzac, jak mylnie sadza, z woli Boz?j.</p>
					  <p>Owoz, rzad na kontrakcie oparlszy spolecznym,</p>
					  <p>Podzial wladzy juz tylko jest skutkiem koniecznym...&quot;</p>
					  <p>&nbsp;</p>
					  <p>&quot;Otoz sa i kontrakty! kijowskie czy minskie? -</p>
					  <p>Rzekl stary Maciej - owoz i rzady babinskie!</p>
					  <p>Panie Buchman, czy Bog nam chcial cara narzucic,</p>
					  <p>Czy diabel, ja z Waszecia nie bede sie klocic;</p>
					  <p>Panie Buchman, gadaj Wasc, jakby cara zrucic&quot;.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Tu sek! - krzyknal Kropiciel - gdybym mogl
					  podskoczyc</p>
					  <p>Do tronu i Kropidlem, plusk, raz cara zmoczyc,</p>
					  <p>To juz by on nie wrocil ni kijowskim traktem,</p>
					  <p>Ni minskim, ni za zadnym Buchmana kontraktem,</p>
					  <p>Aniby go wskrzesili z mocy Bozej popi,</p>
					  <p>Ni z mocy Belzebuba - ten mi zuch, kto kropi.</p>
					  <p>Panie Buchman, Wascina rzecz bardzo wymowna,</p>
					  <p>Ale wymowa - szum, drum; kropic - to rzecz glowna&quot;.</p>
					  <p>&nbsp;</p>
					  </font><p><font SIZE="4">&quot;To, to, to!&quot; - pisnal, rece trac,
					  Bartek Brzytewka,</p>
					  <p>Od Chrzciciela do Macka biegajac jak cewka,</p>
					  <p>Od jednej strony krosien przerzucana w druga -</p>
					  <p>&quot;Tylko ty, Macku z Rozga, ty, Macku z maczuga,</p>
					  <p>Tylko zgodzcie sie, dalbog, pobijem na druzgi</p>
					  <p>Moskala; Brzytew idzie pod komende Rozgi&quot;.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Komenda - przerwal Chrzciciel - dobra ku
					  paradzie;</p>
					  <p>U nas byla komenda w kowienskiej brygadzie</p>
					  <p>Krotka a wezlowata: Strasz, sam sie nie strachaj -</p>
					  <p>Bij, nie daj sie - postepuj czesto, gesto machaj:</p>
					  <p>Szach, mach!&quot;</p>
					  </font><p><font SIZE="4">&quot;To - pisnal Brzytwa - to mi regulament!</p>
					  <p>Po co tu pisac akta, po co psuc atrament?</p>
					  <p>Konfederacji trzeba? O to cala sprzeczka?</p>
					  <p>Jest marszalek nasz Maciej, a laska Rozeczka&quot;.</p>
					  <p>&quot;Niech zyje - krzyknal Chrzciciel - Kurek na kosciele!&quot;</p>
					  <p>Szlachta odpowiedziala: &quot;Wiwant Kropiciele!&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>Ale w katach szmer powstal, choc w srodku tlumiony;</p>
					  <p>Widac, ze sie rozdziela rada na dwie strony.</p>
					  <p>Buchman krzyknal: &quot;Ja zgody nigdy nie pochwalam!</p>
					  <p>To moj system!&quot; Ktos drugi wrzasnal: &quot;Nie pozwalam!&quot;</p>
					  <p>Inni z katow wtoruja. Nareszcie glos gruby</p>
					  <p>Ozwal sie przybylego szlachcica Skoluby:</p>
					  <p>&nbsp;</p>
					  <p>&quot;Coz to, Panstwo Dobrzynscy! a to co sie
					  swieci?</p>
					  <p>A my czy to bedziemy spod prawa wyjeci?</p>
					  <p>Kiedy nas zapraszano z naszego zascianku,</p>
					  <p>A zapraszal nas klucznik Rebajlo Mopanku,</p>
					  <p>Mowiono nam, ze wielkie rzeczy dziac sie mialy,</p>
					  <p>Ze tu nie o Dobrzynskich, lecz o powiat caly,</p>
					  <p>O cala szlachte idzie; toz i Robak bakal,</p>
					  <p>Choc nigdy nie dokonczyl i zawsze sie jakal,</p>
					  <p>I ciemno sie tlumaczyl; wreszcie, koniec koncow,</p>
					  <p>My zjechali, sasiadow wezwali przez goncow.</p>
					  <p>Nie sami tu, Panowie Dobrzynscy, jestescie;</p>
					  <p>Z roznych innych zasciankow jest tu nas ze dwiescie;</p>
					  <p>Wszyscy wiec radzmy. Jesli potrzeba marszalka,</p>
					  <p>Glosujmy wszyscy; rowna u kazdego galka.</p>
					  <p>Niech zyje rownosc!&quot;</p>
					  <p>&nbsp;</p>
					  <p>Zatem dwaj Terajewicze</p>
					  <p>I czterej Stupulkowscy, i trzej Mickiewicze</p>
					  <p>Krzykneli: &quot;Wiwat rownosc!&quot; - stojac za Skoluba.</p>
					  <p>Tymczasem Buchman wolal: &quot;Zgoda bedzie zguba!&quot;</p>
					  <p>Kropiciel krzyczal: &quot;Bez was obejdziem sie sami;</p>
					  <p>Niech zyje nasz marszalek, Maciek nad Mackami!</p>
					  <p>Hej, do laski!&quot; Dobrzynscy krzycza:
					  &quot;Zapraszamy!&quot;</p>
					  <p>A obca szlachta wola w glos: &quot;Nie pozwalamy!&quot;</p>
					  <p>Rozstrycha sie tlum na dwie kupy rozdzielony</p>
					  <p>I kiwajac glowami w dwie przeciwne strony,</p>
					  <p>Tamci: &quot;Nie pozwalamy!&quot; - ci krzycza: &quot;Prosiemy!&quot;</p>
					  <p>&nbsp;</p>
					  <p>Maciek stary w posrodku jeden siedzial niemy</p>
					  <p>I jedna glowa jego byla nieruchoma.</p>
					  <p>Przeciw niemu stal Chrzciciel, zwieszony rekoma</p>
					  <p>Na maczudze, a glowa na koncu maczugi</p>
					  <p>Wsparta krecil jak tykwa wbita na kij dlugi</p>
					  <p>I na przemiany to w tyl, to sie naprzod kiwal,</p>
					  <p>I ustawicznie: &quot;Kropic, kropic!&quot; wykrzykiwal.</p>
					  <p>Wzdluz izby zas przebiegal Brzytewka ruchawy</p>
					  <p>Ciagle od Kropiciela do Macieja lawy.</p>
					  <p>Konewka zas powoli wszerz izbe przechodzil</p>
					  <p>Od Dobrzynskich do szlachty, niby to ich godzil;</p>
					  <p>Jeden wciaz wolal: &quot;Golic!&quot; - a drugi:
					  &quot;Zalewac!&quot;</p>
					  <p>Maciek milczal, lecz widno, ze sie zaczal gniewac.</p>
					  <p>&nbsp;</p>
					  <p>Cwierc godziny wrzal halas, gdy nad tlum
					  wrzeszczacy,</p>
					  <p>Ze srodka glow, wyskoczyl w gore slup blyszczacy:</p>
					  <p>Byl to rapier saznistej dlugosci, szeroki</p>
					  <p>Na cala piedz, a sieczny na obadwa boki.</p>
					  <p>Widocznie miecz teutonski, z norymberskiej stali</p>
					  <p>Ukuty; wszyscy milczac na bron pogladali.</p>
					  <p>Kto ja podniosl? nie widac, lecz zaraz zgadniono:</p>
					  <p>&quot;To Scyzoryk! Niech zyje Scyzoryk! - krzykniono -</p>
					  <p>Wiwat Scyzoryk, klejnot Rebajlow zascianku!</p>
					  <p>Wiwat Rebajlo, Szczerbiec, Polkozic, Mopanku!&quot;</p>
					  <p>&nbsp;</p>
					  <p>Wnet Gerwazy (to on byl) przez tlum sie przecisnal</p>
					  <p>Na srodek izby, wkolo Scyzorykiem blysnal,</p>
					  <p>Potem, w dol chylac ostrze na znak powitania</p>
					  <p>Przed Mackiem, rzekl: &quot;Rozeczce Scyzoryk sie klania.</p>
					  <p>Bracia szlachta Dobrzynscy! Ja nie bede radzil</p>
					  <p>Nic a nic, powiem tylko, po com Was zgromadzil,</p>
					  <p>A co robic, jak robic, decydujcie sami.</p>
					  <p>Wiecie, sluch dawno chodzi miedzy zasciankami,</p>
					  <p>Ze sie na wielkie rzeczy zanosi na swiecie;</p>
					  <p>Ksiadz Robak o tem gadal, wszakze wszyscy wiecie?&quot;</p>
					  <p>&quot;Wiemy!&quot; - krzykneli. - &quot;Dobrze. Owoz madrej glowie
					  -</p>
					  <p>Ciagnal mowca spojrzawszy bystro - dosc dwie slowie,</p>
					  <p>Nieprawdaz?&quot; &quot;Prawda!&quot; - rzekli. - &quot;Gdy cesarz
					  francuski -</p>
					  <p>Rzekl Klucznik - stad przyciaga, a stamtad car ruski:</p>
					  <p>Wiec wojna, car z cesarzem, krolowie z krolami</p>
					  <p>Pojda za lby, jak zwykle miedzy monarchami;</p>
					  <p>A nam czy siedziec cicho? Gdy wielki wielkiego</p>
					  <p>Bedzie dusic, my dusmy mniejszych, kazdy swego.</p>
					  <p>Z gory i z dolu, wielcy wielkich, malych mali,</p>
					  <p>Jak zaczniem ciac, tak cale szelmostwo sie zwali</p>
					  <p>I tak zakwitnie szczescie i Rzeczpospolita.</p>
					  <p>Nieprawdaz?&quot; </p>
					  <p>&quot;Prawda! - rzekli - jakby z ksiazki czyta&quot;.</p>
					  <p>&quot;Prawda! - powtorzyl Chrzciciel - krop a krop, i kwita&quot;.</p>
					  <p>&quot;Ja zawsze gotow golic&quot; - ozwal sie Brzytewka.</p>
					  <p>&quot;Tylko zgodzcie sie - prosil uprzejmie Konewka -</p>
					  <p>Chrzcicielu i Macieju, pod czyja isc wodza&quot;.</p>
					  <p>Ale mu przerwal Buchman: &quot;Niech sie glupi godza!</p>
					  <p>Dyskusyje publicznej sprawie nie zaszkodza.</p>
					  <p>Prosze milczec! Sluchamy! Sprawa na tem zyska,</p>
					  <p>Pan Klucznik ja z nowego zwaza stanowiska&quot;.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Owszem - zawolal Klucznik - u mnie po staremu:</p>
					  <p>O wielkich rzeczach myslec nalezy wielkiemu;</p>
					  <p>Jest na to cesarz, bedzie krol, senat, poslowie.</p>
					  <p>Takie rzeczy, Mopanku, robia sie w Krakowie</p>
					  <p>Lub w Warszawie, nie u nas, w zascianku, w Dobrzynie;</p>
					  <p>Aktow konfederackich nie pisza w kominie</p>
					  <p>Kreda, nie na wicinie, lecz na pergaminie:</p>
					  <p>Nie nam to pisac akta, ma Polska pisarzy</p>
					  <p>Koronnych i litewskich, tak robili starzy;</p>
					  <p>Moja rzecz Scyzorykiem wyrzynac&quot;. -
					  &quot;Kropidlem</p>
					  <p>Pluskac&quot; - dodal Kropiciel. - &quot;I wykalac Szydlem&quot; -</p>
					  <p>Krzyknal Bartek Szydelko, dobywszy swej szpadki.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Wszystkich was - konczyl Klucznik - biore tu na swiadki,</p>
					  <p>Czy Robak nie powiadal, ze wprzod nim przyjmiecie</p>
					  <p>W dom wasz Napoleona, trzeba wymiesc smiecie?</p>
					  <p>Slyszeliscie to wszyscy, a czy rozumiecie?</p>
					  <p>Ktoz jest smieciem powiatu? Kto zdradziecko zabil</p>
					  <p>Najlepszego z Polakow, kto go okradl, zgrabil?</p>
					  <p>I jeszcze chce ostatki wydrzec z rak dziedzica?</p>
					  <p>Ktoz to? Mamze wam gadac?&quot;</p>
					  <p>&nbsp;</p>
					  <p>&quot;A juzci Soplica -</p>
					  <p>Przerwal Konewka - to lotr!&quot; - &quot;Oj, to
					  ciemiezyciel!&quot; -</p>
					  <p>Pisnal Brzytewka. - &quot;Wiec go kropic!&quot; - dodal
					  Chrzciciel.</p>
					  <p>&quot;Jesli zdrajca - rzekl Buchman - wiec na szubienice!&quot;</p>
					  <p>&quot;Hejze! - krzykneli wszyscy - hajze na Soplice!&quot;</p>
					  <p>&nbsp;</p>
					  <p>Lecz Prusak smial podjac sie Sedziego obrony</p>
					  <p>I wolal z wzniesionemi ku szlachcie ramiony:</p>
					  <p>&quot;Panowie Bracia! aj! aj! a na boskie rany!</p>
					  <p>Co znowu? Panie Klucznik, czy Wasc opetany?</p>
					  <p>Czy o tem byla mowa? ze ktos mial wariata,</p>
					  <p>Banita bratem, to co? karac go za brata!</p>
					  <p>To mi po chrzescijansku! Sa tu w tym konszachty</p>
					  <p>Hrabiego. - Zeby Sedzia byl ciezki dla szlachty,</p>
					  <p>Nieprawda! dalibogze! to wy tylko sami</p>
					  <p>Pozywacie go, a on zgody szuka z wami,</p>
					  <p>Ustepuje ze swego, jeszcze grzywny placi,</p>
					  <p>Ma proces z Hrabia, coz stad? obadwa bogaci;</p>
					  <p>Niechaj pan drze sie z panem, coz to do nas braci?</p>
					  <p>Pan Sedzia ciemiezyciel! On pierwszy zabranial,</p>
					  <p>Azeby sie chlop przed nim do ziemi nie klanial,</p>
					  <p>Mowiac, ze to grzech. Nieraz u niego gromada</p>
					  <p>Chlopska, ja sam widzialem, do stolu z nim siada;</p>
					  <p>Placil za wlosc podatki, a nie tak jest w Klecku,</p>
					  <p>Choc tam Wasc, Panie Buchman, rzadzisz po niemiecku.</p>
					  <p>Sedzia zdrajca! - My sie z nim od infimy znamy:</p>
					  <p>Poczciwe bylo dziecko i dzis taki samy;</p>
					  <p>Polske kocha nad wszystko, polskie obyczaje</p>
					  <p>Chowa, modom moskiewskim przystepu nie daje.</p>
					  <p>Ilekroc z Prus powracam, chcac zmyc sie z niemczyzny,</p>
					  <p>Wpadam do Soplicowa jak w centrum polszczyzny:</p>
					  <p>Tam sie czlowiek napije, nadysze Ojczyzny!</p>
					  <p>Dalbog, Dobrzynscy! ja wasz brat, ale Sedziego</p>
					  <p>Nie pozwole pokrzywdzic, nie bedzie nic z tego.</p>
					  <p>Nie tak, Panowie Bracia, w Wielko - Polszcze bylo:</p>
					  <p>Co za duch! co za zgoda! az przypomniec milo!</p>
					  <p>Nikt tam podobna fraszka nie smial rady mieszac!&quot;</p>
					  <p>&nbsp;</p>
					  <p>&quot;To nie fraszka - zawolal Klucznik - lotrow
					  wieszac!&quot;</p>
					  <p>&nbsp;</p>
					  <p>Szmer wzmagal sie; wtem Jankiel posluchania prosil,</p>
					  <p>Na lawe wskoczyl, stanal i nad glowy wznosil</p>
					  <p>Brode jak wieche, co mu az do pasa wisi;</p>
					  <p>Prawa reka zdjal z wolna z glowy kolpak lisi,</p>
					  <p>Lewa reka jarmulke zruszona poprawil,</p>
					  <p>Potem lewice za pas zatknal i tak prawil,</p>
					  <p>Kolpakiem lisim w kolej klaniajac sie nisko</p>
					  <p>&nbsp;</p>
					  <p>&quot;Nu, Panowie Dobrzynscy, ja sobie zydzisko;</p>
					  <p>Mnie Sedzia ni brat, ni swat; szanuje Soplicow,</p>
					  <p>Jak panow bardzo dobrych i moich dziedzicow;</p>
					  <p>Szanuje tez Dobrzynskich Bartkow i Maciejow,</p>
					  <p>Jako dobrych sasiadow, panow dobrodziejow;</p>
					  <p>A mowie tak: jezeli Panstwo chca gwalt zrobic</p>
					  <p>Sedziemu, to bardzo zle; mozecie sie pobic,</p>
					  <p>Zabic... - A asesory? a sprawnik? a turma?</p>
					  <p>Bo w wiosce u Soplicy jest zolnierzy hurma,</p>
					  <p>Wszystko jegry! Asesor w domu; tylko swisnie,</p>
					  <p>Tak wraz przymaszeruja, stoja jak umyslnie.</p>
					  <p>A co bedzie? A jesli czekacie Francuza,</p>
					  <p>To Francuz jest daleko jeszcze, droga duza.</p>
					  <p>Ja Zyd, o wojnach nie wiem, a bylem w Bielicy</p>
					  <p>I widzialem tam zydkow od samej granicy;</p>
					  <p>Slychac, ze Francuz stoi nad rzeka Lososna,</p>
					  <p>A wojna jesli bedzie, to chyba az wiosna.</p>
					  <p>&nbsp;</p>
					  <p>Nu, mowie tak: czekajcie; wszak dwor Soplicowa</p>
					  <p>Nie budka kramna, co sie rozbierze, w woz schowa</p>
					  <p>I pojedzie - dwor jak stal, do wiosny stac bedzie;</p>
					  <p>A pan Sedzia to nie jest zydek na arendzie,</p>
					  <p>Nie uciecze, to jego mozna znalezc wiosna;</p>
					  <p>A teraz rozejdzcie sie, a nie gadac glosno</p>
					  <p>O tem, co bylo, bo to gadac, to daremno!</p>
					  <p>A czyja laska Panow Szlachty, prosze ze mna.</p>
					  <p>Moja Siora powila malego Jankielka,</p>
					  <p>Ja dzis traktuje wszystkich, a muzyka wielka!</p>
					  <p>Kaze przyniesc kozice, basetle, dwie skrzypiec,</p>
					  <p>A pan Maciej Dobrodziej lubi stary lipiec</p>
					  <p>I nowego mazurka; mam nowe mazurki,</p>
					  <p>A wyuczylem spiewac fein moje bachurki&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Wymowa lubionego powszechnie Jankiela</p>
					  <p>Trafiala do serc; powstal krzyk, oklask wesela,</p>
					  <p>Szmer przyzwolenia nawet za domem sie szerzyl,</p>
					  <p>Gdy Gerwazy w Jankiela Scyzorykiem zmierzyl.</p>
					  <p>Zyd skoczyl, wpadl w tlum;</p>
					  <p>Klucznik wolal: &quot;Precz stad, Zydzie!</p>
					  <p>Nie tkaj palcow miedzy drzwi, nie o ciebie idzie!</p>
					  <p>Panie Prusak! ze Waszec sedziowska handlujesz</p>
					  <p>Para wicin mizernych, to juz zan gardlujesz?</p>
					  <p>Zapomniales, Mopanku, ze ojciec Wasz?cin</p>
					  <p>Splawial do Prus dwadziescie Horeszkowskich wicin?</p>
					  <p>Stad sie zbogacil i on, i jego rodzina;</p>
					  <p>Ba, nawet wszyscy, ilu was tu jest z Dobrzyna.</p>
					  <p>Bo pamietacie, starzy, slyszeliscie mlodzi,</p>
					  <p>Ze Stolnik byl was wszystkich ojciec i dobrodzi?j:</p>
					  <p>Kogoz on komisarzem slal do swych dobr pinskich?</p>
					  <p>Dobrzynskiego! Rachmistrzow kogo mial? Dobrzynskich!</p>
					  <p>Marszalkostwa, kredensu nie zwierzal nikomu,</p>
					  <p>Tylko Dobrzynskim: pelno Dobrzynskich mial w domu!</p>
					  <p>On forytowal wasze w trybunalach sprawy,</p>
					  <p>On wyrabial u krola dla was chleb laskawy,</p>
					  <p>Dzieci wasze kopami pomieszczal w konwikcie</p>
					  <p>Pijarskim, na swym koszcie, odziezy i wikcie;</p>
					  <p>Doroslych promowowal takze swym nakladem.</p>
					  <p>A dlaczego to robil? Ze wam byl sasiadem!</p>
					  <p>Dzis Soplica kopcami tyka waszych granic;</p>
					  <p>Coz kiedy wam dobrego zrobil on?&quot;</p>
					  <p>&quot;Nic a nic! -</p>
					  <p>Przerwal Konewka - bo to wyroslo z szlachciury,</p>
					  <p>A jak dmie sie, phu phu phu, jak nos drze do gory!</p>
					  <p>Pamietacie, prosilem na corki wesele;</p>
					  <p>Poje, nie chce pic, mowi: &lt;&lt;Nie pije tak wiele</p>
					  <p>Jak wy szlachta; wy szlachta ciagniecie jak baki!&gt;&gt;</p>
					  <p>Ot, magnat! delikacik z marymonckiej maki!</p>
					  <p>Nie pil, lelismy w gardlo; krzyczal: &lt;&lt;Gwalt sie
					  dzieje!&gt;&gt;</p>
					  <p>Czekaj no, niech no ja mu z Konewki naleje&quot;.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Filut - zawolal Chrzciciel - oj, i ja go kropne</p>
					  <p>Za swoje. Moj syn - bylo to dziecko roztropne,</p>
					  <p>Teraz tak zglupial, ze go nazywaja Sakiem.</p>
					  <p>A z przyczyny Sedziego zostal glupcem takim.</p>
					  <p>Mowilem: &lt;&lt;Po co tobie lezc do Soplicowa?</p>
					  <p>Jezeli cie tam zlowie, niech cie Bog uchowa!&gt;&gt;</p>
					  <p>On znowu smyk do Zosi, dybie przez konopie;</p>
					  <p>Zlowilem go, a zatem za uszy i kropie;</p>
					  <p>A on beczy i beczy jak malenkie chlopie:</p>
					  <p>&lt;&lt;Ojcze, choc zabij, musze tam isc&gt;&gt; - a wciaz
					  szlocha .</p>
					  <p>Co tobie? A on mowi, ze te Zosie kocha!</p>
					  <p>Chcialby popatrzyc na nia! Zal mi nieboraka;</p>
					  <p>Mowie Sedziemu: &lt;&lt;Sedzio, daj Zosie dla Saka!&gt;&gt;</p>
					  <p>On mowi: &lt;&lt;Jeszcze mala, czekaj ze trzy lata,</p>
					  <p>Jak sama zechce&gt;&gt;. Lotr! lze, juz ja komus
					  swata.</p>
					  <p>Slyszalem; juz ja sie tam na wesele wkrece,</p>
					  <p>Ja im loze malzenskie Kropidlem poswiece&quot;.</p>
					  <p>&nbsp;</p>
					  <p>&quot;I taki lotr - zawolal Klucznik - ma panowac?</p>
					  <p>I dawnych panow, lepszych od siebie, rujnowac?</p>
					  <p>A Horeszkow i pamiec, i imie zaginie!</p>
					  <p>Gdziez jest wdziecznosc na swiecie? </p>
					  <p>- nie ma jej w Dobrzynie.</p>
					  <p>Bracia! chcecie boj z ruskim wiesc imperatorem,</p>
					  <p>A boicie sie wojny z Soplicowskim dworem?</p>
					  <p>Strach wam turmy! czyz to ja wzywam na rozboje?</p>
					  <p>Bron Boze! Szlachta Bracia! ja przy prawie stoje.</p>
					  <p>Wszak Hrabia wygral, zyskal dekretow niemalo;</p>
					  <p>Tylko je egzekwowac! Tak dawniej bywalo:</p>
					  <p>Trybunal pisal dekret, szlachta wypelniala,</p>
					  <p>A szczegolniej Dobrzynscy, i stad wasza chwala</p>
					  <p>Urosla w Litwie! </p>
					  <p>Wszakze to Dobrzynscy sami</p>
					  <p>Bili sie na zajezdzie myskim z Moskalami,</p>
					  <p>Ktorych przywiodl jeneral ruski Wojnilowicz</p>
					  <p>I lotr, przyjaciel jego, pan Wolk z Lugomowicz;</p>
					  <p>Pamietacie, jak Wolka wzielismy w niewole,</p>
					  <p>Jak chcielismy go wieszac na belce w stodole,</p>
					  <p>Iz byl tyran dla chlopstwa, a sluga Moskali;</p>
					  <p>Ale sie chlopi glupi nad nim zlitowali!</p>
					  <p>(Upiec go musze kiedys na tym Scyzoryku).</p>
					  <p>Nie wspomne innych wielkich zajazdow bez liku,</p>
					  <p>Z ktorych wyszlismy zawsze, jak szlachcie przystalo,</p>
					  <p>I z zyskiem, i aplauzem powszechnym, i z chwala!</p>
					  <p>&nbsp;</p>
					  <p>Po coz o tem wspominac! Dzis darmo pan Hrabia,</p>
					  <p>Sasiad wasz, sprawe toczy, dekrety wyrabia,</p>
					  <p>Juz nikt z was pomoc nie chce biednemu sierocie!</p>
					  <p>Dziedzic Stolnika, tego, ktory zywil krocie,</p>
					  <p>Dzis nie ma przyjaciela oprocz mnie - Klucznika,</p>
					  <p>I ot, tego wiernego mego Scyzoryka!&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>&quot;I Kropidla! - rzekl Chrzciciel - gdzie ty,
					  Gerwazenku,</p>
					  <p>Tam i ja, poki reka, poki plusk plask w reku.</p>
					  <p>Co dwaj, to dwaj! Dalibog, moj Gerwazy! ty miecz,</p>
					  <p>Ja mam Kropidlo; dalbog! ja kropie, a ty siecz,</p>
					  <p>I tak szach mach, plusk i plask; oni niech gawedza!&quot;</p>
					  <p>&nbsp;</p>
					  <p>&quot;Toc i Bartka - rzekl Brzytwa - Bracia nie
					  odpedza;</p>
					  <p>Juz co wy namydlicie, to ja wszystko zgole&quot;.</p>
					  <p>&quot;I ja - przydal Konewka - z wami ruszyc wole,</p>
					  <p>Gdy ich nie mozna zgodzic na obior marszalka;</p>
					  <p>Co mi tam glosy, galki, u mnie insza galka</p>
					  <p>(Tu wydobyl z kieszeni garsc kul, dzwonil niemi):</p>
					  <p>Ot, galki! - krzyknal - w Sedzie galkami wszystkiemi!&quot;</p>
					  <p>&quot;Do was - wolal Skoluba - do was sie laczymy!&quot;</p>
					  <p>&quot;Gdzie wy - krzyknela szlachta - gdzie wy, to tam i my!</p>
					  <p>Niech zyja Horeszkowie! wiwant Polkozice!</p>
					  <p>Wiwat Klucznik Rebajlo! Hajze na Soplice!&quot;</p>
					  <p>&nbsp;</p>
					  <p>I tak wszystkich pociagnal wymowny Gerwazy:</p>
					  <p>Bo wszyscy ku Sedziemu mieli swe urazy,</p>
					  <p>Jak zwyczajnie w sasiedztwie, to o szkode skargi,</p>
					  <p>To o wyreby, to o granice zatargi:</p>
					  <p>Jednych gniew, drugich tylko podburzala zawisc</p>
					  <p>Bogactw Sedziego - wszystkich zgodzila nienawisc.</p>
					  <p>Cisna sie do Klucznika, podnosza do gory</p>
					  <p>Szable, palki... </p>
					  <p>Az Maciek, dotychczas ponury,</p>
					  <p>Nieruchomy, wstal z lawy i wolnemi kroki</p>
					  <p>Wyszedl na srodek izby, i podparl sie w boki;</p>
					  <p>I spojrzawszy przed siebie, i kiwajac glowa,</p>
					  <p>Zabral glos, wymawiajac z wolna kazde slowo,</p>
					  <p>Z przestankiem i przyciskiem: &quot;A glupi! a glupi!</p>
					  <p>A glupi wy! Na kim sie mlelo, na was skrupi.</p>
					  <p>To poki o wskrzeszeniu Polski byla rada,</p>
					  <p>O dobru pospolitem, glupi, u was zwada?</p>
					  <p>Nie mozna bylo, glupi, ani sie rozmowic,</p>
					  <p>Glupi, ani porzadku, ani postanowic</p>
					  <p>Wodza nad wami, glupi! A niech no kto podda</p>
					  <p>Osobiste urazy, glupi, u was zgoda!</p>
					  <p>Precz stad! bo jakem Maciek, was, do milijonow</p>
					  <p>Krocset kroci tysiecy fur beczek furgonow</p>
					  <p>Diablow!!!...&quot;</p>
					  <p>Ucichli wszyscy jak razeni gromem!</p>
					  <p>Ale razem straszliwy powstal krzyk za domem:</p>
					  <p>&quot;Wiwat Hrabia!&quot; On wjezdzal na folwark Maciejow,</p>
					  <p>Sam zbrojny, za nim zbrojnych dziesieciu dzokejow.</p>
					  <p>Hrabia siedzial na dzielnym koniu, w czarnym stroju;</p>
					  <p>Na sukni orzechowy plaszcz wloskiego kroju,</p>
					  <p>Szeroki, bez rekawow, jak wielka opona,</p>
					  <p>Spiety klamra u szyi, spadal przez ramiona;</p>
					  <p>Kapelusz mial okragly z piorem, w reku szpade,</p>
					  <p>Okrecil sie i szpada powital gromade.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Wiwat Hrabia! - krzykneli - z nim zyc i
					  umierac!&quot;</p>
					  <p>Szlachta zaczela z chaty przez okna wyzierac</p>
					  <p>I za Klucznikiem coraz ku drzwiom sie napierac;</p>
					  <p>Klucznik wyszedl, a za nim tlum przeze drzwi runal,</p>
					  <p>Maciek reszte wypedzil, drzwi zamknal, zasunal</p>
					  <p>I przez okno wyjrzawszy, raz jeszcze rzekl: &quot;Glupi!&quot;</p>
					  <p>&nbsp;</p>
					  <p>A tymczasem sie szlachta do Hrabiego kupi;</p>
					  <p>Ida w karczme, Gerwazy wspomnial dawne czasy,</p>
					  <p>Kazal sobie trzy podac od kontuszow pasy,</p>
					  <p>Na nich ze sklepu karczmy beczki wydobywa</p>
					  <p>Trzy: jedna miodu, druga wodki, trzecia piwa.</p>
					  <p>Wyjal gozdzie, wnet z szumem trysnely trzy strugi:</p>
					  <p>Jeden bialy jak srebro, krwawnikowy drugi,</p>
					  <p>Trzeci zolty; troista graja w gorze tecza,</p>
					  <p>A spadajac w sto kubkow, we sto szklanek brzecza.</p>
					  <p>Wre szlachta, tamci pija, ci Hrabiemu zycza</p>
					  <p>Lat setnych, wszyscy: &quot;Hajze na Soplice!&quot; krzycza.</p>
					  <p>&nbsp;</p>
					  <p>Jankiel wymknal sie milczkiem, oklep; Prusak rownie,</p>
					  <p>Nie sluchany, choc jeszcze rozprawial wymownie,</p>
					  <p>Chcial zmykac, szlachta w pogon, wolajac, ze zdradzil.</p>
					  <p>Mickiewicz stal z daleka, ni krzyczal, ni radzil,</p>
					  <p>Ale z miny poznano, ze cos zlego knuje,</p>
					  <p>Wiec do kordow, i hajze! On sie rejteruje,</p>
					  <p>Odcina sie, juz ranny, przyparty do plotow,</p>
					  <p>Gdy mu skoczyl na odsiecz Zan i trzech Czeczotow.</p>
					  <p>Zaczem rozjeto szlachte, ale w tym rozruchu</p>
					  <p>Dwoch bylo cietych w rece, ktos dostal po uchu.</p>
					  <p>Reszta wsiadala na kon.</p>
					  <p>&nbsp;</p>
					  <p>Hrabia i Gerwazy</p>
					  <p>Porzadkuja, rozdaja oreze, rozkazy.</p>
					  <p>W koncu wszyscy przez dluga zascianku ulice</p>
					  <p>Puscili sie w cwal, krzyczac: &quot;Hajze na Soplice!&quot;</p>
					  <p>&nbsp;</p>
 
				</div>
{% endblock %}