{% extends 'NataliaTadeuszBundle::bars.html.twig' %}

{% block header %}
	<font SIZE="4"><h1 ALIGN="center">KSIĘGA SIÓDMA<br>
  	</font><font size="5">RADA</font></h1>
{% endblock %}

{% block content %}

				<div class="col-md-8">
					  <font SIZE="4"><h1 ALIGN="center">KSIĘGA ÓSMA<br>
  </font><font size="5">ZAJAZD</font></h1>
					  <font SIZE="4"><h2 ALIGN="center">Tresc:</h2>
					  <h2 ALIGN="center">Astronomia Wojskiego - Uwaga Podkomorzego nad kometami - Tajemnicza
					  scena w pokoju Sedziego - Tadeusz, chcac zrecznie wyplatac sie, wpada w wielkie
					  klopoty - Nowa Dydo- Zajazd - Ostatnia woznienska protestacja - Hrabia zdobywa
					  Soplicowo - Szturm i rzez - Gerwazy piwnicznym - Uczta zajazdowa.</font></h2>
					  <hr width="50%" size="1">
					  <p>&nbsp;</p>
					  <p>Przed burza bywa chwila cicha i ponura,</p>
					  <p>Kiedy nad glowy ludzi przyleciawszy chmura</p>
					  <p>Stanie i grozac twarza, dech wiatrow zatrzyma,</p>
					  <p>Milczy, obiega ziemie blyskawic oczyma,</p>
					  <p>Znaczac te miejsca, gdzie wnet cisnie grom po gromie:</p>
					  <p>Tej ciszy chwila byla w Soplicowskim domie.</p>
					  <p>Myslilbys, ze przeczucie nadzwyczajnych zdarzen</p>
					  <p>Scielo usta i wznioslo duchy w kraje marzen.</font></p>
					  <p>&nbsp;</p>
					  <p>Po wieczerzy i Sedzia, i goscie ze dworu</p>
					  <p>Wychodza na dziedziniec uzywac wieczoru;</font></p>
					  <p>Zasiadaja na przyzbach wyslanych murawa;</p>
					  <p>Cale grono z posepna i cicha postawa</p>
					  <p>Poglada w niebo, ktore zdawalo sie znizac,</p>
					  <p>Sciesniac i coraz bardziej ku ziemi przyblizac,</p>
					  <p>Az oboje, skrywszy sie pod zaslone ciemna</p>
					  <p>Jak kochankowie, wszczeli rozmowe tajemna,</p>
					  <p>Tlumaczac swe uczucia w westchnieniach tlumionych,</p>
					  <p>Szeptach, szmerach i slowach na wpol wymowionych,</p>
					  <p>Z ktorych sklada sie dziwna muzyka wieczoru.</font></p>
					  <p>&nbsp;</p>
					  <p>Zaczal ja puszczyk, jeczac na poddaszu dworu;</p>
					  <p>Szepnely wiotkiem skrzydlem niedoperze, leca</font></p>
					  <p>Pod dom, gdzie szyby okien, twarze ludzi swieca;</p>
					  <p>Nizej zas - niedoperzow siostrzyczki, cmy, rojem</p>
					  <p>Wija sie, przywabione bialym kobiet strojem.</p>
					  <p>Mianowicie przykrza sie Zosi, bijac w lice</p>
					  <p>I w jasne oczki, ktore biora za dwie swi?ce.</p>
					  <p>Na powietrzu owadow wielki krag sie zbiera,</font></p>
					  <p>Kreci sie, grajac jako harmoniki sfera;</p>
					  <p>Ucho Zosi rozroznia wsrod tysiaca gwarow</p>
					  <p>Akord muszek i polton falszywy komarow.</font></p>
					  <p>&nbsp;</p>
					  <p>W polu koncert wieczorny ledwie jest zaczety;</p>
					  <p>Wlasnie muzycy koncza stroic instrumenty.</p>
					  <p>Juz trzykroc wrzasnal derkacz, pierwszy skrzypak laki,</p>
					  <p>Juz mu z dala wtoruja z bagien basem baki,</p>
					  <p>Juz bekasy do gory porwawszy sie wija</p>
					  <p>I bekajac raz po raz jak w bebenki bija.</font></p>
					  <p>&nbsp;</p>
					  <p>Na final szmerow muszych i ptaszecej wrzawy</p>
					  <p>Odezwaly sie chorem podwojnym dwa stawy,</p>
					  <p>Jako zaklete w gorach kaukaskich jeziora,</font></p>
					  <p>Milczace przez dzien caly, grajace z wieczora.</p>
					  <p>Jeden staw, co ton jasna i brzeg mial piaszczysty,</p>
					  <p>Modra piersia jek wydal cichy, uroczysty;</p>
					  <p>Drugi staw, z dnem blotnistem i gardzielem metnym,</p>
					  <p>Odpowiedzial mu krzykiem zalosnie namietnym;</p>
					  <p>W obu stawach pialy zab niezliczone hordy,</font></p>
					  <p>Oba chory zgodzone w dwa wielkie akordy.</font></p>
					  <p>Ten fortissimo zabrzmial, tamten nuci z cicha,</p>
					  <p>Ten zdaje sie wyrzekac, tamten tylko wzdycha;</p>
					  <p>Tak dwa stawy gadaly do siebie przez pola,</p>
					  <p>Jak grajace na przemian dwie arfy Eola.</p>
					  </font><p>&nbsp;</p>
					  <p>Mrok gestnial; tylko w gaju i okolo rzeczki,</p>
					  <p>W lozach, blyskaly wilcze oczy jako swieczki,</p>
					  <p>A dalej, u sciesnionych widnokregu brzegow,</font></p>
					  <p>Tu i owdzie ogniska pastuszych noclegow.</font></p>
					  <p>Nareszcie ksiezyc srebrna pochodnie zaniecil,</p>
					  <p>Wyszedl z boru i niebo i ziemie oswiecil.</p>
					  <p>One teraz, z pomroku odkryte w polowie,</p>
					  <p>Drzemaly obok siebie jako malzonkowie</p>
					  <p>Szczesliwi: niebo w czyste objelo ramiona</p>
					  <p>Ziemi piers, co ksiezycem swieci posrebrzona.</font></p>
					  <p>&nbsp;</p>
					  <p>Juz naprzeciw ksiezyca gwiazda jedna, druga</p>
					  <p>Blysnela; juz ich tysiac, juz milijon mruga.</p>
					  <p>Kastor z bratem Polluksem jasnieli na czele,</p>
					  <p>Zwani niegdys u Slawian: Lele i Polele;</font></p>
					  <p>Teraz ich w zodyjaku gminnym znow przechrzczono,</font></p>
					  <p>Jeden zowie sie L i t w a, a drugi K o r o n a.</font></p>
					  <p>&nbsp;</p>
					  <p>Dalej niebieskiej W a g i dwie szale blyskaja;</p>
					  <p>Na nich Bog w dniu stworzenia (starzy powiadaja)</p>
					  <p>Wazyl z kolei wszystkie planety i ziemie,</p>
					  <p>Nim w przepasciach powietrza osadzil ich brzemie;</p>
					  <p>Potem wagi zlociste zawiesil na niebie:</p>
					  <p>Z nich to ludzie wag i szal wzor wzieli dla siebie.</font></p>
					  <p>&nbsp;</p>
					  <p>Na polnoc swieci okrag gwiazdzistego S i t a,</p>
					  <p>Przez ktore Bog (jak mowia) przesial ziarnka zyta,</p>
					  <p>Kiedy je z nieba zrucal dla Adama ojca,</font></p>
					  <p>Wygnanego za grzechy z rozkoszy ogrojca.</p>
					  </font><p>&nbsp;</p>
					  <p>Nieco wyzej D a w i d a w o z, gotow do jazdy,</p>
					  <p>Dlugi dyszel kieruje do Polarnej Gwiazdy.</font></p>
					  <p>Starzy Litwini wiedza o rydwanie owym,</p>
					  <p>Ze nieslusznie pospolstwo zwie go Dawidowym,</p>
					  <p>Gdyz to jest woz Anielski. Na nim to przed czasy</p>
					  <p>Jechal Lucyper, Boga gdy wyzwal w zapasy,</p>
					  <p>Mlecznym goscincem pedzac w cwal w niebieskie progi,</p>
					  <p>Az go Michal zbil z wozu, a woz zrucil z drogi.</p>
					  <p>Teraz, popsuty, miedzy gwiazdami sie wala,</p>
					  <p>Naprawiac go archaniol Michal nie pozwala.</font></p>
					  <p>&nbsp;</p>
					  <p>I to wiadomo takze u starych Litwinow</p>
					  <p>(A wiadomosc te pono wzieli od rabinow),</p>
					  <p>Ze ow zodyjakowy S m o k, dlugi i gruby,</p>
					  <p>Ktory gwiazdziste wije po niebie przeguby,</font></p>
					  <p>Ktorego mylnie W e z e m chrzcza astronomowie,</p>
					  <p>Jest nie wezem, lecz ryba. Lewiatan sie zowie.</p>
					  <p>Przed czasy mieszkal w morzach, ale po potopie</p>
					  <p>Zdechl z niedostatku wody; wiec na niebios stropie,</p>
					  <p>Tak dla osobliwosci, jako dla pamiatki,</font></p>
					  <p>Anieli zawiesili jego martwe szczatki.</p>
					  <p>Podobnie pleban mirski zawiesil w kosciele</p>
					  <p>Wykopane olbrzymow zebra i piszczele.</font></p>
					  <p>&nbsp;</p>
					  <p>Takie gwiazd historyje, ktore z ksiazek zbadal</p>
					  <p>Albo slyszal z podania, Wojski opowiadal;</p>
					  <p>Chociaz wieczorem slaby mial wzrok Wojski stary</font></p>
					  <p>I nie mogl w niebie dojrzec nic przez okulary,</p>
					  <p>Lecz na pamiec znal imie i ksztalt kazdej gwiazdy;</p>
					  <p>Wskazywal palcem miejsca i droge ich jazdy.</font></p>
					  <p>&nbsp;</p>
					  <p>Dzis malo go sluchano, nie zwazano wcale</p>
					  <p>Na Sito ni na Smoka, ani tez na Szale;</p>
					  <p>Dzis oczy i mysl wszystkich pociaga do siebie</p>
					  <p>Nowy gosc, dostrzezony niedawno na niebie:</p>
					  <p>Byl to k o m e t a pierwszej wielkosci i mocy,</p>
					  <p>Zjawil sie na zachodzie, lecial ku polnocy;</font></p>
					  <p>Krwawym okiem z ukosa na rydwan spoziera,</font></p>
					  <p>Jakby chcial zajac puste miejsce Lucypera,</font></p>
					  <p>Warkocz dlugi w tyl rzucil i czesc nieba trzecia</p>
					  <p>Obwinal nim, gwiazd krocie zagarnal jak siecia</p>
					  <p>I ciagnie je za soba, a sam wyzej glowa</p>
					  <p>Mierzy, na polnoc, prosto w gwiazde biegunowa.</font></p>
					  <p>&nbsp;</p>
					  <p>Z niewymownym przeczuciem caly lud litewski</p>
					  <p>Pogladal kazdej nocy na ten cud niebieski,</font></p>
					  <p>Biorac zla wrozbe z niego tudziez z innych
					  znakow;</p>
					  <p>Bo zbyt czesto slyszano krzyk zlowieszczych ptakow,</p>
					  <p>Ktore na pustych polach gromadzac sie w kupy,</p>
					  <p>Ostrzyly dzioby, jakby czekajac na trupy.</p>
					  <p>Zbyt czesto postrzegano, ze psy ziemie ryly</font></p>
					  <p>I jak gdyby smierc wietrzac, przerazliwie wyly:</p>
					  <p>Co wrozy glod lub wojne; a straznicy boru</p>
					  <p>Widzieli, jak przez smetarz szla dziewica moru,</p>
					  <p>Ktora wznosi sie czolem nad najwyzsze drzewa,</p>
					  <p>A w lewym reku chustka skrwawiona powiewa.</font></p>
					  <p>&nbsp;</p>
					  <p>Rozne stad wnioski tworzyl stojacy przy plocie</p>
					  <p>Cywun, co przyszedl zdawac sprawe o robocie,</font></p>
					  <p>I pisarz prowentowy w szeptach z ekonomem.</p>
					  </font><p>&nbsp;</p>
					  <p>Lecz Podkomorzy siedzial na przyzbie przed domem.</p>
					  <p>Przerwal rozmowe gosci, znac, ze glos zabiera;</p>
					  <p>Blysnela przy ksiezycu wielka tabakiera</p>
					  <p>(Cala z szczerego zlota, z brylantow oprawa,</p>
					  <p>We srodku za szklem portret krola Stanislawa);</p>
					  <p>Zadzwonil w nia palcami, zazyl i rzekl: &quot;Panie</p>
					  <p>Tadeuszu, Wascine o gwiazdach gadanie</p>
					  <p>Jest tylko echem tego, co slyszales w szkole.</p>
					  <p>Ja o cudzie - prostakow poradzic sie wole.</font></p>
					  <p>I ja astronomiji sluchalem dwa lata</p>
					  <p>W Wilnie, gdzie Puzynina, madra i bogata</p>
					  <p>Pani, oddala dochod z wioski dwiestu chlopow</p>
					  <p>Na zakupienie roznych szkiel i teleskopow;</p>
					  <p>Ksiadz Poczobut, czlek slawny, byl obserwatorem</p>
					  <p>I calej Akademiji naonczas rektorem,</p>
					  <p>Przeciez w koncu katedre i teleskop rzucil,</p>
					  <p>Do klasztoru, do cichej celi swej powrocil</p>
					  <p>I tam umarl przykladnie. Znam sie tez z Sniadeckim,</p>
					  <p>Ktory jest madrym bardzo czlekiem, chociaz swieckim.</font></p>
					  <p>&nbsp;</p>
					  <p>Owoz astronomowie planete, komete,</p>
					  <p>Uwazaja tak jako mieszczanie karete;</p>
					  <p>Wiedza, czyli zajezdza przed krola stolice,</p>
					  <p>Czyli z rogatek miejskich rusza za granice;</p>
					  <p>Lecz kto w niej jechal? po co? co z krolem rozmawial?</p>
					  <p>Czy krol posla z pokojem, czy z wojna wyprawial?</p>
					  <p>O to ani pytaja. </font></p>
					  <p>&nbsp;</p>
					  <p>Pomne, za mych czasow,</font></p>
					  <p>Gdy Branecki kareta swa ruszyl do Jassow</p>
					  <p>I za ta niepoczciwa pociagnal kareta</p>
					  <p>Ogon targowiczanow, jak za ta kometa -</p>
					  <p>Lud prosty, choc w publiczne nie mieszal sie rady,</p>
					  <p>Zgadnal zaraz, ze ogon ow jest wrozba zdrady.</p>
					  <p>Slychac, ze lud dal imie m i o t l y tej komecie,</font></p>
					  <p>I powiada, ze ona milijon wymiecie&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>A na to rzekl z uklonem Wojski: &quot;Prawda, Jasnie</p>
					  <p>Wielmozny Podkomorzy; przypominam wlasnie,</p>
					  <p>Co mnie mowiono niegdys, malemu dziecieciu,</p>
					  <p>Pamietam, choc nie mialem wowczas lat dziesieciu,</p>
					  <p>Kiedy widzialem w domu naszym nieboszczyka</font></p>
					  <p>Sapiehe, pancernego znaku porucznika,</p>
					  <p>Co potem byl nadwornym marszalkiem krolewskim,</p>
					  <p>Na koniec umarl wielkim kanclerzem litewskim,</p>
					  <p>Miawszy lat sto i dziesiec. Ten, za krola Jana</p>
					  <p>Trzeciego byl pod Wiedniem w choragwi hetmana</font></p>
					  <p>Jablonowskiego; owoz ow kanclerz powiadal,</p>
					  <p>Ze wlasnie kiedy na kon krol Jan Trzeci siadal,</p>
					  <p>Gdy nuncjusz papieski zegnal go na droge,</p>
					  <p>A posel austryjacki calowal mu noge,</p>
					  <p>Podajac strzemie (posel zwal sie Wilczek hrabia),</p>
					  <p>Krol krzyknal: &lt;&lt;Patrzcie, co sie na niebie wyrabia&gt;&gt;</font></p>
					  <p>Spojrza, alic nad glowy suwal sie kometa</p>
					  <p>Droga, jaka ciagnely wojska Mahometa:</p>
					  <p>Z wschodu na zachod; potem i ksiadz Bartochowski,</p>
					  <p>Skladajac panegiryk na tryumf krakowski,</p>
					  <p>Pod godlem <i>Orientis Fulmen</i>, prawil wiele</p>
					  <p>O tym komecie; takze czytam o nim w dziele</font></p>
					  <p>Pod tytulem <i>Janina</i>, gdzie jest opisana</font></p>
					  <p>Cala wyprawa krola nieboszczyka Jana</p>
					  <p>I wyryta choragiew wielka Mahometa,</p>
					  <p>I ow taki, jak dzis go widzimy, kometa&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>&quot;Amen - rzekl na to Sedzia - ja wrozbe Waszeci</p>
					  <p>Przyjmuje; oby z gwiazda zjawil sie Jan Trzeci!</font></p>
					  <p>Jest na zachodzie wielki dzis bohater; moze</p>
					  <p>Kometa go przywiedzie do nas; co daj Boze!&quot;</font></p>
					  <p>&nbsp;</p>
					  <p>Na to rzekl Wojski, glowe pochyliwszy smutnie:</p>
					  <p>&quot;Kometa czasem wojny, czasem wrozy klotnie!</p>
					  <p>Niedobrze, iz sie zjawil tuz nad Soplicowem:</p>
					  <p>Moze nam grozi jakiem nieszczesciem domowem.</p>
					  <p>Mielismy wczora dosyc rozterku i zwady,</font></p>
					  <p>Tak w czasie polowania, jako i biesiady,</font></p>
					  <p>Rejent klocil sie z rana z panem Asesorem,</p>
					  <p>A pan Tadeusz wyzwal Hrabiego wieczorem.</p>
					  <p>Pono spor ten ze skory niedzwiedziej pochodzil;</font></p>
					  <p>I gdyby mnie Dobrodziej Sedzia nie przeszkodzil,</p>
					  <p>Ja bym u stolu obu przeciwnikow zgodzil.</p>
					  <p>Bo chcialem opowiedziec wypadek ciekawy,</font></p>
					  <p>Podobny do zdarzenia wczorajszej wyprawy,</font></p>
					  <p>Co trafil sie najpierwszym strzelcom za mych czasow,</p>
					  <p>Poslowi Rejtanowi i ksieciu Denassow.</font></p>
					  <p>Przypadek byl takowy: </font></p>
					  <p>&nbsp;</p>
					  <p>Jeneral Podolskich</p>
					  <p>Ziem przejezdzal z Wolynia do swoich dobr polskich,</p>
					  <p>Czy tez, gdy dobrze pomne, na sejm do Warszawy.</p>
					  <p>Po drodze zwiedzal szlachte, juz to dla zabawy,</p>
					  <p>Juz dla popularnosci; wstapil wiec do pana</font></p>
					  <p>Tadeusza, dzis swietej pamieci, Rejtana,</p>
					  <p>Ktory byl potem naszym nowogrodzkim poslem</p>
					  <p>I w ktorego ja domu od dziecinstwa wzroslem.</p>
					  <p>Owoz Rejtan na przyjazd ksiecia Jenerala</p>
					  <p>Zaprosil gosci - liczna szlachta sie zebrala,</p>
					  <p>Bylo teatrum (Ksiaze kochal sie w teatrze);</font></p>
					  <p>Fajerwerk dawal Kaszyc, ktory mieszka w Jatrze,</p>
					  <p>Pan Tyzenhauz tancerzy przyslal, a kapele</p>
					  <p>Oginski i pan Soltan, co mieszka w Zdzieciele.</p>
					  <p>Slowem, dawano huczne nad spodziw zabawy</p>
					  <p>W domu, a w lasach wielkie robiono oblawy.</p>
					  <p>Wiadomo zas Waszmosciom jest, ze prawie wszyscy,</p>
					  <p>Ile ich zapamietac mozna, Czartoryscy,</p>
					  <p>Choc ida z Jagiellonow krwi, lecz do myslistwa</p>
					  <p>Nie sa bardzo pochopni, pewno nie z lenistwa,</p>
					  <p>Lecz z gustow cudzoziemskich; i ksiaze Jeneral</p>
					  <p>Czesciej do ksiazek nizli do psiarni zazieral,</font></p>
					  <p>I do alkowek damskich czesciej niz do lasow.</font></p>
					  <p>&nbsp;</p>
					  <p>W swicie Ksiecia byl ksiaze niemiecki Denassow,</p>
					  <p>O ktorym powiadano, ze w libijskiej ziemi</p>
					  <p>Goszczac, polowal niegdys z krolmi murzynskiemi</p>
					  <p>I tam tygrysa spisa w recznym boju zwalil,</p>
					  <p>Z czego sie bardzo ksiaze ow Denassow chwalil.</p>
					  <p>U nas zas polowano na dziki w te pore;</p>
					  <p>Rejtan zabil ze sztucca ogromna maciore,</p>
					  <p>Z wielkim niebezpieczenstwem, bo z bliska wypalil.</p>
					  <p>Kazdy z nas trafnosc strzalu wydziwial i chwalil,</p>
					  <p>Tylko Niemiec Denassow obojetnie sluchal</p>
					  <p>Pochwal takich i, chodzac, pod nos sobie dmuchal:</p>
					  <p>Ze trafny strzal dowodzi tylko smiale oko,</p>
					  <p>Biala bron smiala reke; i zaczal szeroko</p>
					  <p>Znowu gadac o swojej Libiji i spisie,</p>
					  <p>O swych krolach murzynskich i o swym tygrysie.</p>
					  <p>Markotno to sie stalo panu Rejtanowi,</p>
					  <p>Byl czlek zywy, uderzyl po szabli i mowi:</p>
					  <p>&lt;&lt;Mosci Ksiaze! kto patrzy smiele, walczy smiele;</font></p>
					  <p>Warte dziki tygrysow, a spis karabele&gt;&gt; - </font></p>
					  <p>I zaczynali z Niemcem dyskurs nazbyt zwawy.</p>
					  <p>Szczesciem, ksiaze Jeneral przerwal te rozprawy,</p>
					  <p>Godzac ich po francusku. Co tam gadal, nie wiem,</font></p>
					  <p>Ale ta zgoda byl to popiol nad zarzewiem,</p>
					  <p>Bo Rejtan wzial do serca, okazyi czekal</p>
					  <p>I dobra sztuke splatac Niemcowi przyrzekal;</p>
					  <p>Tej sztuki ledwie wlasnym nie przyplacil zdrowiem,</p>
					  <p>A splatal ja nazajutrz, jak to wnet opowiem&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>Tu Wojski umilknawszy prawa reke wznosil</p>
					  <p>I u Podkomorzego tabakiery prosil;</p>
					  <p>Dlugo zazywa, konczyc powiesci nie raczy,</p>
					  <p>Jak gdyby chcial zaostrzyc ciekawosc sluchaczy.</p>
					  <p>Zaczynal wreszcie, kiedy znowu mu przerwano</p>
					  <p>Powiesc taka ciekawa, tak pilnie sluchana!</p>
					  <p>Bo do Sedziego nagle ktos przyslal czlowieka,</p>
					  <p>Donoszac, ze z niezwlocznym interesem czeka.</font></p>
					  <p>&nbsp;</p>
					  <p>Sedzia, dajac dobranoc, zegnal cale grono;</p>
					  <p>Natychmiast sie po roznych stronach rozpierzchniono:</p>
					  <p>Ci spac do domu, tamci w stodole na sianie;</p>
					  <p>Sedzia szedl podroznemu dawac posluchanie.</font></p>
					  <p>&nbsp;</p>
					  <p>Inni juz spia. Tadeusz po sieniach sie zwija,</p>
					  <p>Chodzac jako wartownik okolo drzwi stryja,</p>
					  <p>Bo musi w waznych rzeczach rady jego szukac</p>
					  <p>Dzis jeszcze, nim spac pojdzie; nie smie do drzwi stukac.</p>
					  <p>Sedzia drzwi na klucz zamknal, z kims tajnie rozmawia;</font></p>
					  <p>Tadeusz konca czeka, a ucha nadstawia.</font></p>
					  <p>&nbsp;</p>
					  <p>Slyszy wewnatrz szlochanie; nie tracajac klamek,</p>
					  <p>Ostroznie dziurka klucza zaglada przez zamek.</p>
					  <p>Widzi rzecz dziwna! Sedzia i Robak na ziemi</p>
					  <p>Kleczeli objawszy sie i lzami rzewnemi</p>
					  <p>Plakali, Robak rece Sedziego calowal,</p>
					  <p>Sedzia Ksiedza za szyje placzac obejmowal;</p>
					  <p>Wreszcie po cwiercgodzinnem przerwaniu rozmowy</p>
					  <p>Robak po cichu tymi odezwal sie slowy:</font></p>
					  <p>&nbsp;</p>
					  <p>&quot;Bracie; Bog wie, zem dotad tajemnic dochowal,</p>
					  <p>Ktorem z zalu za grzechy w spowiedzi slubowal;</p>
					  <p>Ze Bogu i Ojczyznie poswiecony caly,</p>
					  <p>Nie sluzac pysze, ziemskiej nie szukajac chwaly,</p>
					  <p>Zylem dotad i chcialem umrzec bernardynem,</p>
					  <p>Nie wydajac nazwiska nie tylko przed gminem,</p>
					  <p>Ale nawet przed toba i przed wlasnym synem!</p>
					  <p>Wszakze ksiadz prowincyjal dal mi pozwolenie</font></p>
					  <p>In articulo mortis zrobic objawienie.</p>
					  <p>Kto wie, czy wroce zywy! Kto wie, co sie stanie</font></p>
					  <p>W Dobrzynie! Bracie! wielkie, wielkie zamieszanie!</p>
					  <p>Francuz jeszcze daleko; nim przeminie zima,</font></p>
					  <p>Trzeba czekac, a szlachta pono nie dotrzyma.</p>
					  <p>Mozem zanadto czynnie z powstaniem sie krzatal!</font></p>
					  <p>Pono zle zrozumieli! Klucznik wszystko splatal!</p>
					  <p>Ten wariat Hrabia! slysze, pobiegl do Dobrzyna!</p>
					  <p>Nie moglem go uprzedzic, wazna w tym przyczyna:</p>
					  <p>Stary Maciek mnie poznal, a jesli odkryje,</p>
					  <p>Potrzeba bedzie oddac pod Scyzoryk szyje.</font></p>
					  <p>Nic Klucznika nie wstrzyma! mniejsza o ma glowe,</p>
					  <p>Lecz tym odkryciem spisku zerwalbym osnowe.</font></p>
					  <p>&nbsp;</p>
					  <p>Przeciez dzis tam byc musze! widziec, co sie
					  dzieje,</p>
					  <p>Chocbym zginal; beze mnie szlachta oszaleje!</p>
					  <p>Badz zdrow, najmilszy bracie, badz zdrow, spieszyc musze.</p>
					  <p>Jesli zgine, ty jeden westchniesz za ma dusze;</p>
					  <p>W przypadku wojny tobie cala tajemnica</p>
					  <p>Wiadoma; koncz, com zaczal, pomnij, zes Soplica!&quot;</font></p>
					  <p>&nbsp;</p>
					  <p>Tu Ksiadz lzy otarl, habit zapial, kaptur wlozyl</p>
					  <p>I okienice tylna po cichu otworzyl,</p>
					  <p>Widac bylo, ze oknem do ogrodu skakal;</p>
					  <p>Sedzia, zostawszy jeden, siadl w krzesle i plakal.</font></p>
					  <p>&nbsp;</p>
					  <p>Chwile czekal Tadeusz, nim w klamke zadzwonil;</p>
					  <p>Otworzono mu; cicho wszedl, nisko sie sklonil:</p>
					  <p>&quot;Stryjaszku Dobrodzieju - rzekl - ledwie dni kilka</p>
					  <p>Przebawilem tu, dni te minely jak chwilka;</p>
					  <p>Nie mialem czasu z twoim domem sie nacieszyc</p>
					  <p>I z toba, a odjezdzac musze, musze spieszyc</font></p>
					  <p>Zaraz, dzisiaj, Stryjaszku, a jutro najdal?j:</font></p>
					  <p>Wszak pamietacie, zesmy Hrabiego wyzwali.</p>
					  <p>Bic sie z nim to rzecz moja, poslalem wyzwanie,</font></p>
					  <p>W Litwie jest zakazane pojedynkowanie,</font></p>
					  <p>Jade wiec na granice Warszawskiego Ksiestwa;</p>
					  <p>Hrabia, prawda, fanfaron, lecz mu nie brak mestwa,</p>
					  <p>Na miejsce naznaczone zapewne sie stawi,</p>
					  <p>Rozprawim sie; a jesli Bog poblogoslawi,</p>
					  <p>Ukarze go, a potem za Lososny brzegi</p>
					  <p>Przeplyne, gdzie mnie bratnie czekaja szeregi.</p>
					  <p>Slyszalem, ze mi ojciec testamentem kazal</p>
					  <p>Sluzyc w wojsku, a nie wiem, kto testament zmazal&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>&quot;Moj Tadeuszku - rzekl stryj - czy Waszec
					  kapany</p>
					  <p>W goracej wodzie, czy tez krecisz jak lis szczwany,</p>
					  <p>Co indziej kita wije, a sam indziej biezy?</p>
					  <p>Wyzwalismy, zapewne, i bic sie nalezy.</p>
					  <p>Ale jechac dzis, skadzes Waszec tak sie zacial?</p>
					  <p>Przed pojedynkiem zwyczaj jest poslac przyjaciol,</p>
					  <p>Ukladac sie, wszak Hrabia moze nas przeprosic,</p>
					  <p>Deprekowac; czekaj Wasc, czasu jeszcze dosyc.</p>
					  <p>Chyba inny giez jaki Wasci stad wygania,</font></p>
					  <p>To gadaj szczerze, po co takie omawiania?</font></p>
					  <p>Jestem twoj stryj; choc stary, znam, co serce mlode;</p>
					  <p>Bylem ci ojcem (mowiac gladzil go pod brode).</p>
					  <p>Juz w ucho szepnal o tem mnie moj palec maly,</p>
					  <p>Ze Waszec masz tu jakies z damami kabaly.</p>
					  <p>Za katy, predko teraz mlodz do dam sie bierze!</p>
					  <p>No, Tadeuszku, przyznaj mi sie Wasc, a szczerze&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>&quot;Juzci - baknal Tadeusz - prawda, sa przyczyny</p>
					  <p>Inne, kochany Stryju! moze z mojej winy!</p>
					  <p>Omylka! coz? nieszczescie! juz trudno naprawic!</p>
					  <p>Nie, drogi Stryju, dluzej nie moge tu bawic!</p>
					  <p>Blad mlodosci! Stryjaszku, nie pytaj o wiecej,</p>
					  <p>Ja musze z Soplicowa wyjezdzac co predzej&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>&quot;Ho - rzekl stryj - pewnie jakies milosne
					  zatargi!</p>
					  <p>Uwazalem, ze Waszec wczora gryzles wargi</p>
					  <p>Pogladajac spode lba na pewna dziewczynke,</p>
					  <p>Widzialem, ze i ona miala kwasna minke.</font></p>
					  <p>Znam ja te wszystkie glupstwa; kiedy dzieci para</p>
					  <p>Kocha sie; to tam u nich nieszczesc co niemiara;</p>
					  <p>To ciesza sie, to znowu trapia sie i smuca;</p>
					  <p>To znowu Bog wie o co do zebow sie skloca;</p>
					  <p>To stojac w katkach jakby mruki, nie gadaja</font></p>
					  <p>Do siebie, czasem nawet w pole uciekaja.</p>
					  <p>Jezeli na was raptus podobny napada,</p>
					  <p>Badzcie tylko cierpliwi, juz jest na to rada;</p>
					  <p>Biore na siebie wkrotce przywiesc was do zgody.</p>
					  <p>Znam ja te wszystkie glupstwa, wszakze bylem mlody.</p>
					  <p>Powiedz mi Wasze wszystko; ja moze nawzajem</p>
					  <p>Cos odkryje i tak sie oba poprzyznajem&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>&quot;Stryjaszku - rzekl Tadeusz (calujac mu reke</p>
					  <p>I rumieniac sie) - powiem prawde; te panienke,</p>
					  <p>Zosie, wychowanice Stryja, podobalem</p>
					  <p>Bardzo, choc tylko pare razy ja widzialem;</p>
					  <p>A mowia, ze Stryj dla mnie za zone przeznacza</font></p>
					  <p>Podkomorzanke, piekna i corke bogacza.</p>
					  <p>Teraz nie moglbym z panna Roza sie ozenic,</p>
					  <p>Kiedy kocham te Zosie; trudno serce zmienic!</p>
					  <p>Nieuczciwie, zeniac sie z jedna, kochac druga,</p>
					  <p>Czas moze mnie uleczy; wyjade - na dlugo&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>&quot;Tadeuszku! - stryj przerwal - to mi dziwny
					  sposob</font></p>
					  <p>Kochania sie: uciekac od kochanych osob!</p>
					  <p>Dobrze, zes szczery; widzisz, glupstwo bys wyplatal</p>
					  <p>Odjezdzajac: a co Wasc powiesz, gdybym swatal</p>
					  <p>Sam Waci Zosie! He! coz, nie skoczysz z radosci?&quot;</font></p>
					  <p>&nbsp;</p>
					  <p>Tadeusz rzekl po chwili: &quot;Dobroc Jegomosci</font></p>
					  <p>Dziwi mnie! Lecz coz? laska Stryja Dobrodzieja</p>
					  <p>Nie przyda sie juz na nic! Ach! prozna nadzieja!</font></p>
					  <p>Bo pani Telimena nie odda mi Zosi!&quot;</font></p>
					  <p>&quot;Bedziem prosic&quot; - rzekl Sedzia. </font></p>
					  <p>&quot;Nikt jej nie uprosi -</font></p>
					  <p>Przerwal predko Tadeusz - nie, czekac nie moge,</p>
					  <p>Stryjaszku, musze predko, jutro jechac w droge.</p>
					  <p>Daj mi, 5tryjaszku, tylko twe blogoslawienstwo,</p>
					  <p>Wszystko przygotowalem, jade zaraz w Ksiestwo&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>Sedzia was krecac, z gniewem na chlopca spozieral:</p>
					  <p>&quot;To Wasc tak szczery? takes mi serce otwieral?</p>
					  <p>Naprzod ow pojedynek! Potem znowu milosc</p>
					  <p>I ten wyjazd, oj! jest tu w tem jakas zawilosc.</p>
					  <p>Juz mnie gadano, juzem kroki Wasci badal!</p>
					  <p>Asan balamut i trzpiot, Asan klamstwa gadal.</p>
					  <p>A gdziez to Asan chodzil onegdaj wieczorem?</p>
					  <p>Czego Asan jak wyzel tropil pode dworem?</font></p>
					  <p>O Tadeuszku! jesli moze Asan Zosie</p>
					  <p>Zbalamucil i teraz uciekasz? mlokosie,</p>
					  <p>To sie Waci nie uda; lubisz czy nie lubisz,</p>
					  <p>Zapowiadam Asanu, ze Zosie poslubisz,</font></p>
					  <p>A nie, to bizun - jutro staniesz na kobiercu!</p>
					  <p>I gada mnie o czuciach! o niezmiennym sercu!</font></p>
					  <p>Lgarz jestes! pfe! ja z Wasci, Panie Tadeuszu,</p>
					  <p>Zrobie sledztwo, ja Wasci jeszcze natre uszu!</p>
					  <p>Dzis dosc mialem klopotow! Az mi glowa boli!</p>
					  <p>Ten mi jeszcze spokojnie zasnac nie dozwoli!</p>
					  <p>Idz mi Wasc spac!&quot;</p>
					  <p>To mowiac, drzwi na wsciaz otwieral</p>
					  <p>I zawolal Woznego, zeby go rozbieral.</font></p>
					  <p>&nbsp;</p>
					  <p>Tadeusz cicho wyszedl, opusciwszy glowe;</p>
					  <p>Rozbieral w mysli przykra ze stryjem rozmowe,</p>
					  <p>Pierwszy raz polajany tak ostro!... ocenil</p>
					  <p>Slusznosc wyrzutow, sam sie przed soba rumienil.</p>
					  <p>Co poczac? jesli Zosia o wszystkiem sie dowie?</p>
					  <p>Prosic o reke? a coz Telimena powie?</p>
					  <p>Nie - czul, ze nie mogl dluzej zostac w Soplicowie.</font></p>
					  <p>&nbsp;</p>
					  <p>Tak zadumany, ledwie zrobil krokow pare,</p>
					  <p>Gdy mu cos droge zaszlo; spojrzal, widzi mare,</p>
					  <p>Cala w bieliznie, dluga, wysmukla i cienka.</font></p>
					  <p>Suwala sie ku niemu z wyciagnieta reka,</p>
					  <p>Od ktorej odbijal sie drzacy blask miesieczny,</p>
					  <p>I przystapiwszy, cicho jeknela: &quot;Niewdzieczny!</p>
					  <p>Szukales wzroku mego, teraz go unikasz,</p>
					  <p>Szukales rozmow ze mna, dzis uszy zamykasz,</p>
					  <p>Jakby w slowach, we wzroku mym byla trucizna!</font></p>
					  <p>Dobrze mi tak, wiedzialam, kto jestes! - mezczyzna!</p>
					  <p>Nie znajac kokieterii, nie chcialam cie dreczyc,</p>
					  <p>Uszczesliwilam; takzes umial mnie zawdzieczyc!</p>
					  <p>Tryumf nad miekkim sercem serce twe zatwardzil;</p>
					  <p>Zes je zdobyl zbyt lacno, zbyt predkos niem wzgardzil!</p>
					  <p>Dobrze mi tak! lecz straszna nauczona proba,</p>
					  <p>Wierz mi, iz wiecej niz ty - gardze sama soba!&quot;</font></p>
					  <p>&nbsp;</p>
					  <p>&quot;Telimeno - Tadeusz rzekl - dalbog, nietwarde</p>
					  <p>Mam serce ani ciebie unikam przez wzgarde,</p>
					  <p>Ale uwaz no sama, wszak nas widza, sledza,</p>
					  <p>Czyz mozna tak otwarcie? coz ludzie powiedza?</font></p>
					  <p>Wszak to nieprzyzwoicie, to, dalbog, jest
					  grzechem&quot;.</font></p>
					  <p>&quot;Grzechem! - odpowiedziala mu z gorzkim usmiechem
					  -</p>
					  <p>Niewiniatko! baranek! Ja, bedac kobi?ta,</p>
					  <p>Jesli z milosci nie dbam, chocby mnie odkryto,</p>
					  <p>Chocby mnie oslawiono; a ty, ty mezczyzna?</p>
					  <p>Coz szkodzi z was ktoremu, chociaz sie i przyzna,</p>
					  <p>Ze ma romans z dziesieciu razem kochankami?</p>
					  <p>Mow prawde: chcesz mnie rzucic?&quot; - Zalala sie lzami.</font></p>
					  <p>&nbsp;</p>
					  <p>&quot;Telimeno, coz by swiat mowil o czlowieku -</p>
					  <p>Rzekl Tadeusz - ktory by teraz, w moim wieku,</p>
					  <p>Zdrow, zyl na wsi, kochal sie - kiedy tyle mlodzi,</p>
					  <p>Tylu zonatych od zon, od dzieci uchodzi</p>
					  <p>Za granice, pod znaki narodowe biezy?</p>
					  <p>Chocbym chcial zostac, czy to ode mnie zalezy?</p>
					  <p>Ojciec mnie testamentem kazal, abym sluzyl</font></p>
					  <p>W wojsku polskiem, teraz stryj ten rozkaz powtorzyl.</p>
					  <p>Jutro jade, zrobilem juz postanowienie,</p>
					  <p>I dalbog, Telimeno, juz go nie odmienie&quot;.</p>
					  <p>&quot;Ja - rzekla Telimena - nie chce ci zagradzac</p>
					  <p>Drogi do slawy, szczesciu twojemu przeszkadzac!</p>
					  <p>Jestes mezczyzna, znajdziesz kochanke godniejsza</font></p>
					  <p>Serca twojego, znajdziesz bogatsza, piekniejsza!</font></p>
					  <p>Tylko dla mej pociechy niech wiem przed rozstaniem,</font></p>
					  <p>Ze twoja sklonnosc byla prawdziwem kochaniem,</p>
					  <p>Ze to nie byl zart tylko, nie rozpusta plocha,</p>
					  <p>Lecz milosc; niech wiem, ze mnie moj Tadeusz kocha!</p>
					  <p>Niech slowo &lt;&lt;kocham&gt;&gt; jeszcze raz z ust twych uslysze,</p>
					  <p>Niech je w sercu wyryje i w mysli zapisze;</p>
					  <p>Przebacze lacniej, chociaz przestaniesz mnie kochac,</p>
					  <p>Pomnac, jakes mnie kochal...&quot; - I zaczela szlochac.</font></p>
					  <p>&nbsp;</p>
					  <p>Tadeusz, widzac, ze tak placze i tak blaga</font></p>
					  <p>Czule, i tylko takiej drobnostki wymaga,</p>
					  <p>Wzruszyl sie, przejely go szczery zal i litosc,</p>
					  <p>I jezeliby badal serca swego skrytosc,</p>
					  <p>Moze by sie w tej chwili i sam nie dowiedzial,</p>
					  <p>Czyli ja kochal, czy nie. - Wiec zywo powiedzial:</p>
					  <p>&quot;Telimeno, bogdaj mnie jasny piorun ubil,</p>
					  <p>Jesli nieprawda, zem cie, dalbog, bardzo lubil</p>
					  <p>Czy kochal; krotkie z soba spedzilismy chwile,</p>
					  <p>Ale one mnie przeszly tak slodko, tak mile,</p>
					  <p>Ze beda dlugo, zawsze mysli mej przytomne,</p>
					  <p>I dalibogze, nigdy ciebie nie zapomne&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>Telimena skoczywszy padla mu na szyje:</p>
					  <p>&quot;Tegom sie spodziewala, kochasz mnie, wiec zyje!</p>
					  <p>Bo dzisiaj mialam dni me wlasna reka skrocic!</p>
					  <p>Gdy mnie kochasz, moj drogi, czyz mozesz mnie rzucic?</p>
					  <p>Tobie oddalam serce, oddam ci majatek,</p>
					  <p>Pojde za toba wszedzie; kazdy swiata katek</p>
					  <p>Bedzie mnie z toba mily! Z najdzikszej pustyni</p>
					  <p>Milosc, wierzaj mi, ogrod rozkoszy uczyni&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>Tadeusz, wydarlszy sie z objecia przemoca:</p>
					  <p>&quot;Jak to? - rzekl - czys z rozumu obrana? gdzie? po co?</p>
					  <p>Jechac ze mna? Ja, bedac sam prostym zolnierzem,</p>
					  <p>Wloczyc, czy markietanke?&quot; &quot;To my sie pobierzem&quot; -</p>
					  <p>Rzekla mu Telimena. &quot;Nie, nigdy! - zawola</p>
					  <p>Tadeusz. Ja zenic sie nie mam teraz zgola</p>
					  <p>Zamiaru ni kochac sie - fraszki! dajmy pokoj!</p>
					  <p>Prosze cie, moja droga, rozmysl sie! uspokoj!</p>
					  <p>Ja jestem tobie wdzieczen, ale niepodobna</p>
					  <p>Zenic sie, kochajmy sie, ale tak - z osobna.</font></p>
					  <p>Zostac dluzej nie moge; nie, nie, jechac musze,</p>
					  <p>Badz zdrowa, Telimeno moja, jutro rusze&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>Rzekl, nasuwal kapelusz, odwracal sie bokiem,</p>
					  <p>Chcac isc; lecz go wstrzymala Telimena okiem</p>
					  <p>I twarza, jak Meduzy glowa; musial zostac</p>
					  <p>Mimowolnie; pogladal z trwoga na jej postac,</p>
					  <p>Stala blada, bez ruchu, bez tchu i bez zycia!</p>
					  <p>Az wyciagajac reke jak miecz do przebicia,</font></p>
					  <p>Z palcem zmierzonym prosto w Tadeusza oczy:</font></p>
					  <p>&quot;Tego chcialam - krzyknela - ha, jezyku smoczy!</p>
					  <p>Serce jaszczurcze! To nic, zem toba zajeta</p>
					  <p>Wzgardzila Asesora, Hrabie i Rejenta,</p>
					  <p>Zes mnie uwiodl i teraz porzucasz sierote,</p>
					  <p>To nic! Jestes mezczyzna, znam wasza niecnote,</p>
					  <p>Wiem, ze jak inni, tak ty moglbys wiare zlamac,</p>
					  <p>Lecz nie wiedzialam, ze tak podle umiesz klamac!</p>
					  <p>Sluchalam pode drzwiami stryja! wiec to dziecko?</p>
					  <p>Zosia? wpadla ci w oko? i na nia zdradziecko</p>
					  <p>Dybiesz! Zaledwies jedna nieszczesna oszukal,</p>
					  <p>A juzes pod jej bokiem nowych ofiar szukal!</p>
					  <p>Uciekaj, lecz cie moje doscigna przeklectwa -</p>
					  <p>Lub zostan, wydam swiatu twoje bezecenstwa;</p>
					  <p>Twe sztuki juz nie zwioda innych, jak mnie zwiodly!</p>
					  <p>Precz! gardze toba! jestes klamca, czlowiek podly!&quot;</font></p>
					  <p>&nbsp;</p>
					  <p>Na obelge smiertelna dla uszu szlachcica,</p>
					  <p>I ktorej zaden nigdy nie slyszal Soplica,</p>
					  <p>Zadrzal Tadeusz, twarz mu pobladla jak trupia,</p>
					  <p>Tupnawszy noga, usta przyciawszy, rzekl: &quot;Glupia!&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>Odszedl; lecz wyraz &quot;podlosc&quot; echem sie
					  powtorzyl</p>
					  <p>W sercu, wzdrygnal sie mlodzian, czul, ze nan zasluzyl;</p>
					  <p>Czul, ze wyrzadzil wielka krzywde Telimenie,</p>
					  <p>Ze go slusznie skarzyla, mowilo sumnienie;</p>
					  <p>Lecz czul, ze po tych skargach tem mocniej ja zbrzydzil;</p>
					  <p>O Zosi, ach! pomyslic nie wazyl sie, wstydzil.</p>
					  <p>Przeciez ta Zosia, taka piekna, taka mila!</p>
					  <p>Stryj swatal ja! moze by jego zona byla,</p>
					  <p>Gdyby nie szatan, co go placzac w grzech za grzechem,</p>
					  <p>W klamstwo za klamstwem, wreszcie odstapil z usmiechem.</p>
					  <p>Zlajany, pogardzony od wszystkich! w dni pare</p>
					  <p>Zmarnowal przyszlosc! Uczul sluszna zbrodni kare.</font></p>
					  <p>&nbsp;</p>
					  <p>W tej burzy uczuc, jakby kotwica spoczynku,</p>
					  <p>Zablysnela mu nagle mysl o pojedynku:</p>
					  <p>&quot;Zamordowac Hrabiego! lotra! - krzyknal w gniewie. -</p>
					  <p>Zginac albo zemscic sie!&quot; A za co? Sam nie wie!</font></p>
					  <p>I ten gniew wielki, jak sie zajal w mgnieniu oka,</p>
					  <p>Tak wywietrzal; znow zdjela go zalosc gleboka.</p>
					  <p>Myslil: &quot;Jesli prawdziwe bylo postrzezenie,</p>
					  <p>Ze Hrabia z Zosia jakies ma porozumienie,</p>
					  <p>I coz stad? Moze Hrabia kocha Zosie szczerze,</p>
					  <p>Moze go ona kocha? za meza wybierze!</p>
					  <p>Jakimze prawem chcialbym zerwac to zamescie</p>
					  <p>I, sam nieszczesnik, wszystkich mam zaburzac szczescie?&quot;</font></p>
					  <p>&nbsp;</p>
					  <p>Wpadl w rozpacz i nie widzial innego sposobu,</p>
					  <p>Chyba ucieczke predka; gdzie? chyba do grobu!</font></p>
					  <p>&nbsp;</p>
					  <p>Wiec kulak przycisnawszy na schylonem czole,</font></p>
					  <p>Biegl ku lakom, gdzie stawy blyszczaly sie w dole,</p>
					  <p>I stanal nad blotnistym; w zielonawe tonie</p>
					  <p>Lakomy wzrok utopil i blotniste wonie</p>
					  <p>Z rozkosza ciagnal piersia, i otworzyl usta</p>
					  <p>Ku nim: bo samobojstwo jak kazda rozpusta</p>
					  <p>Jest wymyslna; on w glowy szalonym zawrocie</p>
					  <p>Czul niewymowny pociag utopic sie w blocie.</font></p>
					  <p>&nbsp;</p>
					  <p>Lecz Telimena, z dzikiej mlodzienca postawy</p>
					  <p>Zgadujac rozpacz, widzac, ze pobiegl nad stawy,</p>
					  <p>Chociaz ku niemu takim slusznym gniewem pala,</p>
					  <p>Przelekla sie; w istocie dobre serce miala.</font></p>
					  <p>Zal jej bylo, ze inna smial Tadeusz lubic,</p>
					  <p>Chciala go skarac, ale nie myslila zgubic;</p>
					  <p>Wiec puscila sie za nim, wznoszac rece obie,</p>
					  <p>Krzyczac: &quot;Stoj! glupstwo! kochaj czy nie! zen sie sobie</p>
					  <p>Czy jedz! tylko stoj!&quot; - Ale on juz szybkim biegiem</p>
					  <p>Wyprzedzil ja daleko; juz - stanal nad brzegiem.</font></p>
					  <p>&nbsp;</p>
					  <p>Dziwnym zrzadzeniem losow, po tym samym brzegu</p>
					  <p>Jechal Hrabia na czele dzokejow szeregu,</p>
					  <p>A zachwycony wdziekiem nocy tak pogodnej</p>
					  <p>I harmonija cudna orkiestry podwodnej,</p>
					  <p>Owych chorow, co brzmialy jak arfy eolskie</p>
					  <p>(Zadne zaby nie graja tak pieknie jak polskie),</p>
					  <p>Wstrzymal konia i o swej zapomnial wyprawie,</p>
					  <p>Zwrocil ucho do stawu i sluchal ciekawie.</p>
					  <p>Oczy wodzil po polach, po niebios obszarze:</p>
					  <p>Pewnie ukladal w mysli nocne peizaze.</font></p>
					  <p>&nbsp;</p>
					  <p>Zaiste, okolica byla malownicza!</font></p>
					  <p>Dwa stawy pochylily ku sobie oblicza</p>
					  <p>Jako para kochankow: prawy staw mial wody</p>
					  <p>Gladkie i czyste jako dziewicze jagody;</p>
					  <p>Lewy, ciemniejszy nieco, jako twarz mlodziana</p>
					  <p>Smaglawa i juz meskim puchem osypana.</p>
					  <p>Prawy zlocistym piaskiem polyskal sie wkolo</p>
					  <p>Jak gdyby wlosem jasnym; a lewego czolo</p>
					  <p>Najezone lozami, wierzbami czubate;</p>
					  <p>Oba stawy ubrane w zielonosci szate.</font></p>
					  <p>&nbsp;</p>
					  <p>Z nich dwa strugi, jak rece zwiazane pospolu,</p>
					  <p>Sciskaja sie; strug dalej upada do dolu;</p>
					  <p>Upada, lecz nie ginie, bo w rowu ciemnote</font></p>
					  <p>Unosi na swych falach ksiezyca pozlote;</p>
					  <p>Woda warstami spada, a na kazdej warscie</p>
					  <p>Polyskaja sie blasku miesiecznego garscie,</p>
					  <p>Swiatlo w rowie na drobne drzazgi sie roztraca,</p>
					  <p>Chwyta je i w glab niesie ton uciekajaca,</p>
					  <p>A z gory znow garsciami spada blask miesiaca.</p>
					  <p>Myslalbys, ze u stawu siedzi Switezianka,</p>
					  <p>Jedna reka zdroj leje z bezdennego dzbanka,</p>
					  <p>A druga reka w wode dla zabawki miota</p>
					  <p>Brane z fartuszka garscie zakletego zlota.</font></p>
					  <p>&nbsp;</p>
					  <p>Dalej, z rowu wybieglszy, strumien na rowninie</p>
					  <p>Rozkreca sie, ucisza, lecz widac, ze plynie,</font></p>
					  <p>Bo na jego ruchomej, drgajacej powloce</p>
					  <p>Wzdluz miesieczne swiatelko drgajace migoce.</p>
					  <p>Jako piekny waz zmudzki, zwany g i w o j t o s e m,</p>
					  <p>Chociaz zdaje sie drzemac, lezac miedzy wrzosem,</p>
					  <p>Pelznie, bo na przemiany srebrzy sie i zloci,</p>
					  <p>Az nagle zniknie z oczu we mchu lub paproci:</font></p>
					  <p>Tak strumien krecacy sie chowal sie w olszynach,</p>
					  <p>Ktore na widnokregu czernialy konczynach,</p>
					  <p>Wznoszac swe ksztalty lekkie, niewyrazne oku,</p>
					  <p>Jak duchy na wpol widne, na poly w obloku.</font></p>
					  <p>&nbsp;</p>
					  <p>Miedzy stawami w rowie mlyn ukryty siedzi;</font></p>
					  <p>Jako stary opiekun, co kochankow sledzi,</p>
					  <p>Podsluchal ich rozmowe, gniewa sie, szamoce,</p>
					  <p>Trzesie glowa, rekami, i grozby belkoce:</p>
					  <p>Tak ow mlyn nagle zatrzasl mchem obrosle czolo</p>
					  <p>I palczasta swa piescia wykrecajac wkolo,</p>
					  <p>Ledwo kleknal i szczeki zebowate ruszyl,</p>
					  <p>Zaraz milosna stawow rozmowe zagluszyl</p>
					  <p>I zbudzil Hrabie. </font></p>
					  <p>&nbsp;</p>
					  <p>Hrabia, widzac, ze tak blisko</p>
					  <p>Tadeusz naszedl jego zbrojne stanowisko,</p>
					  <p>Krzyczy: &quot;Do broni! lapaj!&quot; Skoczyli dzokeje;</p>
					  <p>Nim Tadeusz rozeznac mogl, co sie z nim dzieje,</p>
					  <p>Juz go chwycili; biega do dworu, w podworze</font></p>
					  <p>Wpadaja; dwor budzi sie, psy w halas, w krzyk
					  stroze.</p>
					  <p>Wyskoczyl wpol ubrany Sedzia; widzi zgraje</p>
					  <p>Zbrojna, mysli, ze zbojcy, az Hrabie poznaje.</p>
					  <p>&quot;Co to jest?&quot; - pyta. Hrabia szpada nad nim mignal,</p>
					  <p>Lecz widzac bezbronnego w zapale ostygnal.</p>
					  <p>&quot;Soplico! - rzekl - odwieczny wrogu mej rodziny.</p>
					  <p>Dzis skarze cie za dawne i za swieze winy,</p>
					  <p>Dzis zdasz mi sprawe z mojej fortuny zaboru,</p>
					  <p>Nim pomszcze sie obelgi mojego honoru!&quot;</font></p>
					  <p>&nbsp;</p>
					  <p>Lecz Sedzia zegnajac sie krzyknal: &quot;W imie
					  Ojca</font></p>
					  <p>I Syna! tfu! Mospanie Hrabia, czy wasc zbojca?</p>
					  <p>Przebog! czy to sie zgadza z Pana urodzeniem,</p>
					  <p>Wychowaniem i z Pana na swiecie znaczeniem?</p>
					  <p>Nie pozwole skrzywdzic sie!&quot; - Wtem Sedziego sludzy</font></p>
					  <p>Biegli, jedni z kijami, ze strzelbami drudzy;</font></p>
					  <p>Wojski, stojac z daleka, pogladal ciekawie</font></p>
					  <p>W oczy panu Hrabiemu, a noz mial w rekawie.</font></p>
					  <p>&nbsp;</p>
					  <p>Juz mieli zaczac bitwe, lecz Sedzia przeszkodzil;</p>
					  <p>Prozno bylo bronic sie, nowy wrog nadchodzil:</p>
					  <p>Postrzezono w olszynie blask, wystrzal rusznicy!</p>
					  <p>Most na rzece zahuczal tetentem konnicy</p>
					  <p>I &quot;Hajze na Soplice!&quot; tysiac glosow wrzaslo.</p>
					  <p>Wzdrygnal sie Sedzia, poznal Gerwazego haslo.</p>
					  <p>&quot;Nic to - zawolal Hrabia - bedzie tu nas wiec?j,</p>
					  <p>Poddaj sie, Sedzio, to sa moi sprzymierzency&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>Wtem Asesor nadbiegal krzyczac: &quot;Areszt klade</p>
					  <p>W imie Imperatorskiej Mosci; oddaj szpade,</font></p>
					  <p>Panie Hrabio, bo wezwe wojskowej pomocy!</p>
					  <p>A wiesz Pan, ze kto zbrojnie smie napadac w nocy,</p>
					  <p>Zastrzezono tysiacznym dwochsetnym ukazem,</p>
					  <p>Ze jak zlo...&quot; Wtem go Hrabia w twarz uderzyl plazem.</p>
					  <p>Padl zgluszony Asesor i skryl sie w pokrzywy;</p>
					  <p>Wszyscy mysleli, ze byl ranny lub niezywy.</font></p>
					  <p>&nbsp;</p>
					  <p>&quot;Widze - rzekl Sedzia - ze sie na rozboj
					  zanosi&quot;.</p>
					  <p>Jekneli wszyscy; wszystkich zagluszyl wrzask Zosi,</p>
					  <p>Ktora krzyczala, Sedzie objawszy rekami,</p>
					  <p>Jako dziecko od Zydow klute igielkami.</font></p>
					  <p>&nbsp;</p>
					  <p>Tymczasem Telimena wpadla miedzy konie,</font></p>
					  <p>Wyciagnela ku Hrabi zalamane dlonie:</p>
					  <p>&quot;Na twoj honor! - krzyknela przerazliwym glosem,</p>
					  <p>Z glowa w tyl wychylona, z rozpuszczonym wlosem -</p>
					  <p>Przez wszystko, co jest swietem, na kleczkach blagamy!</p>
					  <p>Hrabio, smieszze odmowic? prosza ciebie damy;</font></p>
					  <p>Okrutniku, nas pierwej musisz zamordowac!&quot;</p>
					  <p>Padla zemdlona - Hrabia skoczyl ja ratowac,</p>
					  <p>Zadziwiony i nieco zmieszany ta scena.</font></p>
					  <p>&quot;Panno Zofijo - rzecze - Pani Telimeno!</font></p>
					  <p>Nigdy sie krwia bezbronnych ta szpada nie splami;</p>
					  <p>Soplicowie, jestescie mojemi wiezniami.</p>
					  <p>Tak zrobilem we Wloszech, kiedy pod opoka,</p>
					  <p>Ktora Sycylijanie zwa Birbante-rokka,</p>
					  <p>Zdobylem tabor zbojcow; zbrojnych mordowalem,</p>
					  <p>Rozbrojonych zabralem i zwiazac kazalem:</p>
					  <p>Szli za konmi i tryumf moj zdobili swietny,</p>
					  <p>Potem ich powieszono u podnoza Etny&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>Bylo to osobliwe szczescie dla Soplicow,</p>
					  <p>Ze Hrabia, majac lepsze konie od szlachcicow</p>
					  <p>I chcac spotkac sie pierwszy, zostawil ich w tyle</p>
					  <p>I biegl przed reszta jazdy, przynajmniej o mile</p>
					  <p>Ze swym dzokejstwem, ktore, posluszne i karne,</p>
					  <p>Stanowilo niejako wojsko regularne,</font></p>
					  <p>Gdy inna szlachta byla, zwyczajem powstania,</p>
					  <p>Burzliwa i niezmiernie skora do wieszania.</font></p>
					  <p>&nbsp;</p>
					  <p>Hrabia mial czas ostygnac z zapalu i gniewu,</p>
					  <p>Przemyslal, jak by skonczyc boj bez krwi rozlewu;</p>
					  <p>Wiec rodzine Soplicow w domu zamknac kaze</p>
					  <p>Jako wiezniow wojennych; u drzwi stawi straze.</font></p>
					  <p>&nbsp;</p>
					  <p>Wtem &quot;Hajze na Soplicow!&quot; wpada szlachta
					  hurmem,</p>
					  <p>Obstepuje dwor wkolo i bierze go szturmem,</p>
					  <p>Tym lacniej, ze wodz wziety i pierzchla zaloga;</p>
					  <p>Lecz zdobywcy chca bic sie, wyszukuja wroga.</p>
					  <p>Do domu nie wpuszczeni, biega do folwarku,</font></p>
					  <p>Do kuchni. </p>
					  <p>&nbsp;</p>
					  <p>Gdy do kuchni weszli, widok garkow,</font></p>
					  <p>Ogien ledwie zagasly, potraw zapach swiezy,</p>
					  <p>Chrupanie psow, gryzacych ostatki wieczerzy,</p>
					  <p>Chwyta wszystkich za serca, mysl wszystkich odmienia,</p>
					  <p>Studzi gniewy, zapala potrzebe jedzenia.</p>
					  <p>Marszem i calodziennym znuzeni sejmikiem,</p>
					  <p>&quot;Jesc! jesc!&quot; - po trzykroc zgodnym wezwali okrzykiem,</p>
					  <p>Odpowiedziano: &quot;Pic! pic!&quot; Miedzy szlachty zgraja</p>
					  <p>Staja dwa chory: ci pic, a ci jesc wolaja;</p>
					  <p>Odglos leci echami; gdzie tylko dochodzi,</p>
					  <p>Wzbudza oskome w ustach, glod w zoladkach rodzi.</font></p>
					  <p>I tak na dane z kuchni haslo, niespodzianie</p>
					  <p>Rozeszla sie armija na furazowanie.</font></p>
					  <p>&nbsp;</p>
					  <p>Gerwazy, od pokojow Sedziego odparty,</p>
					  <p>Ustapic musial przez wzglad dla hrabiowskiej warty.</p>
					  <p>Wiec nie mogac zemscic sie na nieprzyjacielu,</p>
					  <p>Myslil o drugim wielkim tej wyprawy celu.</font></p>
					  <p>Jako czlek doswiadczony i biegly w prawnictwie,</p>
					  <p>Chce Hrabiego osadzic na nowym dziedzictwie</p>
					  <p>Legalnie i formalnie; wiec za Woznym biega,</p>
					  <p>Az go po dlugich sledztwach za piecem dostrzega.</p>
					  <p>Wnet porywa za kolnierz, na dziedziniec wlecze</font></p>
					  <p>I zmierzywszy mu w piersi Scyzoryk, tak rzecze:</font></p>
					  <p>&quot;Panie Wozny, pan Hrabia smie Wacpana prosic,</p>
					  <p>Abys raczyl przed szlachta bracia wnet oglosic</p>
					  <p>Intromisyja Hrabi do zamku, do dworu</font></p>
					  <p>Soplicow, do wsi, gruntow zasianych, ugoru,</font></p>
					  <p>Slowem, cum gais, boris et graniciebus,</font></p>
					  <p>Kmetonibus, scultetis et omnibus rebus</p>
					  <p>Et quibusdam alijis. Jak tam wiesz, tak szczekaj,</p>
					  <p>Nic nie opuszczaj!&quot; </p>
					  <p>&nbsp;</p>
					  <p>&quot;Panie Kluczniku, zaczekaj! -</font></p>
					  <p>Rzekl smialo, rece za pas wlozywszy Protazy -</p>
					  <p>Gotow jestem wypelniac wszelkie stron rozkazy,</font></p>
					  <p>Ale ostrzegam, ze akt nie bedzie mial mocy,</p>
					  <p>Wymuszony przez gwalty, ogloszony w nocy&quot;.</p>
					  <p>&quot;Co za gwalty? - rzekl Klucznik - tu nie ma napasci,</p>
					  <p>Wszak prosze Pana grzecznie; jesli ciemno Wasci,</p>
					  <p>To Scyzorykiem skrzesam ognia, ze Waszeci</p>
					  <p>Zaraz w slepiach jak w siedmiu kosciolach zaswieci&quot;.</font></p>
					  <p>&nbsp;</p>
					  <p>&quot;Gerwazenku - rzekl Wozny - po co sie tak
					  dasac?</p>
					  <p>Jestem wozny, nie moja rzecz sprawe roztrzasac;</p>
					  <p>Wszak wiadomo, ze strona woznego zaprasza</p>
					  <p>I dyktuje mu, co chce, a wozny oglasza.</p>
					  <p>Wozny jest poslem prawa, a poslow nie karza,</font></p>
					  <p>Nie wiem tedy, za co mnie trzymacie pod straza;</p>
					  <p>Wnet akt spisze, niech mi kto latarke przyniesie,</p>
					  <p>A tymczasem oglaszam: Bracia, uciszcie sie!&quot;</font></p>
					  <p>&nbsp;</p>
					  <p>I by donosniej mowic, wstapil na stos wielki</p>
					  <p>Belek (pod plotem sadu suszyly sie belki),</p>
					  <p>Wlazl na nie i zarazem, jakby go wiatr zdmuchnal,</p>
					  <p>Zniknal z oczu; slyszano, jak w kapuste buchnal;</p>
					  <p>Widziano, po konopiach ciemnych jego biala</p>
					  <p>Konfederatka niby golab przeleciala.</p>
					  <p>Konewka strzelil w czapke, ale chybil celu;</p>
					  <p>Wtem zatrzeszczaly tyki, juz Protazy w chmielu -</font></p>
					  <p>&quot;Protestuje!&quot; - zawolal; pewny byl
					  ucieczki,</p>
					  <p>Bo za soba mial loze i bagniska rzeczki.</font></p>
					  <p>&nbsp;</p>
					  <p>Po tej protestacyi, ktora sie ozwala</p>
					  <p>Jak na zdobytych walach ostatni strzal dziala,</p>
					  <p>Ustal juz wszelki opor w Soplicowskim dworze;</p>
					  <p>Szlachta glodna pladruje, zabiera, co moze.</p>
					  <p>Kropiciel, stanowisko zajawszy w oborze,</p>
					  <p>Jednego wolu i dwa cielce w lby zakropil,</p>
					  <p>A Brzytewka im szable w gardzielach utopil.</p>
					  <p>Szydelko rownie czynnie uzywal swej szpadki,</p>
					  <p>Kabany i prosieta kolac pod lopatki.</p>
					  <p>Juz rzez zagraza ptastwu. Czujne gesi stado,</font></p>
					  <p>Co niegdys ocalilo Rzym przed Gallow zdrada,</p>
					  <p>Darmo gega o pomoc; zamiast Manlijusza</font></p>
					  <p>Wpada w kotuch Konewka, jedne ptaki zdusza,</font></p>
					  <p>A drugie zywcem wiaze do pasa kontusza.</p>
					  <p>Prozno gesi, szyjami wywijajac, chrypia,</p>
					  <p>Prozno gesiory syczac napastnika szczypia.</font></p>
					  <p>On biezy; osypany iskrzacym sie puchem,</p>
					  <p>Unoszony jak kolmi gesich skrzydel ruchem,</p>
					  <p>Zdaje sie byc chochlikiem, skrzydlatym zlym duchem.</font></p>
					  <p>&nbsp;</p>
					  <p>Ale rzez najstraszniejsza, chociaz najmniej krzyku,</p>
					  <p>Miedzy kurami. Mlody Sak wpadl do kurniku</p>
					  <p>I z drabinek, stryczkami lowiac, ciagnie z gory</font></p>
					  <p>Kogutki i szurpate i czubate kury;</font></p>
					  <p>Jedne po drugich dusi i sklada do kupy,</p>
					  <p>Ptastwo piekne, karmione perlowemi krupy.</p>
					  <p>Niebaczny Saku, jakiz zapal cie unosi!</p>
					  <p>Nigdy juz odtad gniewnej nie przeblagasz Zosi.</font></p>
					  <p>&nbsp;</p>
					  <p>Gerwazy przypomina starodawne czasy.</font></p>
					  <p>Kaze sobie podawac od kontuszow pasy</font></p>
					  <p>I nimi z Soplicowskiej piwnicy dobywa</font></p>
					  <p>Beczki starej siwuchy, debniaku i piwa.</p>
					  <p>Jedne wnet odgwozdzono, a drugie ochoczo</p>
					  <p>Szlachta, gesta jak mrowie, porywaja, tocza</p>
					  <p>Do zamku; tam na nocleg caly tlum sie zbiera,</font></p>
					  <p>Tam zalozona glowna Hrabiego kwatera.</font></p>
					  <p>&nbsp;</p>
					  <p>Nakladaja sto ognisk, warza, skwarza, pieka,</p>
					  <p>Gna sie stoly pod miesem, trunek plynie rzeka;</p>
					  <p>Chce szlachta noc te przepic, przejesc i przespiewac.</p>
					  <p>Lecz powoli zaczeli drzemac i poziewac;</p>
					  <p>Oko gasnie za okiem, i cala gromada</font></p>
					  <p>Kiwa glowami, kazdy, gdzie siedzial, tam pada:</p>
					  <p>Ten z misa, ten nad kuflem, ten przy wolu cwierci.</p>
					  <p>Tak zwyciezcow zwyciezyl w koncu sen, brat smierci.</font></p>
					  <p>&nbsp;</p>
 
				</div>
{% endblock %}