{% extends 'NataliaTadeuszBundle::bars.html.twig' %}

{% block header %}
	<font SIZE="4"><h1 ALIGN="center">KSIĘGA DZIEWIĄTA<br>
	</font><font size="5">BITWA</font></h1>
{% endblock %}

{% block content %}
				<div class="col-md-8">
					  
					  <h2 ALIGN="center"><font SIZE="4">Tresc:</h2>
					  <h2 ALIGN="center">O niebezpieczenstwach wynikajacych z nieporzadnego obozowania -
					  Odsiecz niespodziana - Smutne polozenie szlachty - Odwiedziny kwestarskie sa wrozba
					  ratunku - Major Plut zbytnia zalotnoscia sciaga na siebie burze - Wystrzal z
					  krocicy, haslo boju - Czyny Kropiciela, czyny i niebezpieczenstwa Macka - Konewka
					  zasadzka ocala Soplicowo - Posilki jezdne, atak na piechote - Czyny Tadeusza -
					  Pojedynek dowodcow przerwany zdrada - Wojski stanowczym manewrem przechyla szale boju
					  - Czyny krwawe Gerwazego - Podkomorzy zwyciezca wspanialomyslny.</font></h2>
					  <hr width="50%" size="1">
					  <p>&nbsp;</p>
					  <p>A chrapali tak twardym snem, ze ich nie budzi</p>
					  <p>Blask latarek i wniscie kilkudziesiat ludzi,</p>
					  <p>Ktorzy wpadli na szlachte, jak pajaki scienne</p>
					  <p>Nazwane k o s a r z a m i na muchy wpolsenne:</p>
					  <p>Zaledwie ktora bzyknie, juz dlugimi nogi</p>
					  <p>Obejmuje ja wkolo i dusi mistrz srogi.</p>
					  <p>Sen szlachecki byl jeszcze twardszy niz sen muszy:</p>
					  <p>Zaden nie bzyka, leza wszyscy jak bez duszy,</p>
					  <p>Chociaz byli chwytani silnymi rekoma</p>
					  <p>I przewracani jako na przewiaslach sloma.</p>
					  <p>&nbsp;</p>
					  <p>Tylko jeden Konewka, ktoremu w powiecie</p>
					  <p>Nie znajdziesz rownie mocnej glowy przy bankiecie,</p>
					  <p>Konewka, co mogl wypic lipcu dwa antaly,</p>
					  <p>Nim mu splatal sie jezyk i nogi zachwialy,</p>
					  <p>Ten, choc dlugo ucztowal i usnal gleboko,</p>
					  <p>Dawal przecie znak zycia; przemknal jedno oko</p>
					  <p>I widzi! istne zmory! dwie okropne twarze</p>
					  <p>Tuz nad soba, a kazda ma wasow po parze;</p>
					  <p>Dysza nad nim, ust jego tykaja wasami</p>
					  <p>I czworgiem rak wokolo wija jak skrzydlami;</p>
					  <p>Zlakl sie, chcial przezegnac sie: darmo reke chwyta,</p>
					  <p>Reka prawa jak gdyby do boku przybita;</p>
					  <p>Ruszyl lewa, niestety! czuje, ze go duchy</p>
					  <p>Spowily ciasno, jako niemowle w pieluchy;</p>
					  <p>Zlakl sie jeszcze okropniej, wnet oko zawiera,</p>
					  <p>Lezy nie dyszac, stygnie, ledwie nie umiera!</p>
					  <p>&nbsp;</p>
					  <p>Lecz Kropiciel zerwal sie bronic sie - po czasie!</p>
					  <p>Bo juz byl skrepowany we swym wlasnym pasie;</p>
					  <p>Przeciez zwinal sie i tak sprezyscie podskoczyl,</p>
					  <p>Ze padl na piersi sennych, po glowach sie toczyl,</p>
					  <p>Miotal sie jako szczupak, gdy sie w piasku rzuca.</p>
					  <p>A ryczal jako niedzwiedz, bo mial silne pluca.</p>
					  <p>Ryczal: &quot;Zdrada!&quot; Wnet cala zbudzona gromada</p>
					  <p>Chorem odpowiedziala: &quot;Zdrada! gwaltu!
					  zdrada!&quot;</p>
					  <p>&nbsp;</p>
					  <p>Krzyk dochodzi echami zwierciadlanej sali,</p>
					  <p>Kedy Hrabia, Gerwazy i dzokeje spali;</p>
					  <p>Przebudza sie Gerwazy, darmo sie wydziera,</p>
					  <p>Zwiazany w kij do swego wlasnego rapiera;</p>
					  <p>Patrzy, widzi przy oknie ludzi uzbrojonych,</p>
					  <p>W czarnych, krotkich kaszkietach, w mundurach zielonych;</p>
					  <p>Jeden z nich, opasany szarfa, trzymal szpade</p>
					  <p>I ostrzem jej kierowal swych drabow gromade,</p>
					  <p>Szepcac: &quot;Wiaz! wiaz!&quot;</p>
					  <p>Dokola leza jak barany</p>
					  <p>Dzokeje w petach, Hrabia siedzi nie zwiazany,</p>
					  <p>Lecz bezbronny; przy nim dwaj z golemi bagnety</p>
					  <p>Stoja drabi. - Poznal ich Gerwazy, niestety!</p>
					  <p>Moskale!!! </p>
					  </font><p>&nbsp;</p>
					  <p>Nieraz Klucznik byl w podobnych trwogach,</p>
					  <p>Nieraz miewal powrozy na reku i nogach,</p>
					  <p>A przeciez sie uwalnial; wiedzial o sposobie</p>
					  <p>Rwania wiezow, byl silny bardzo, ufal sobie.</p>
					  <p>Przemyslal ratowac sie milczkiem; oczy zmruzyl,</p>
					  <p>Niby spi, z wolna rece i nogi przedluzyl,</p>
					  <p>Dech wciagnal, brzuch i piersi scisnal co najwezej;</p>
					  <p>Az jednym razem kurczy, wydyma sie, prezy,</p>
					  <p>Jak waz, glowe i ogon gdy chowa w przeguby,</p>
					  <p>Tak Gerwazy z dlugiego stal sie krotki, gruby;</p>
					  <p>Rozciagnely sie, nawet skrzypnely powrozy,</p>
					  <p>Ale nie pekly! Klucznik ze wstydu i zgrozy</p>
					  <p>Przewrocil sie i w ziemie schowawszy twarz gniewna,</p>
					  <p>Zamknawszy oczy, lezal nieczuly jak drewno.</p>
					  <p>&nbsp;</p>
					  </font><p><font SIZE="4">Wtem ozwaly sie bebny, naprzod z rzadka,
					  potem</p>
					  <p>Coraz gestszym i coraz glosniejszym loskotem;</p>
					  <p>Na ten apel rozkazal oficer Moskali</p>
					  <p>Dzokejow z Hrabia zamknac pod straza na sali,</p>
					  <p>Szlachte wiesc na dwor, kedy stala druga rota.</p>
					  <p>Nadaremnie Kropiciel dasa sie i miota.</p>
					  </font><p>&nbsp;</p>
					  <p>Sztab stal we dworze, a z nim zbrojnej szlachty wiele:</p>
					  <p>Podhajscy, Birbaszowie, Hreczechy, Biergele,</p>
					  <p>Wszyscy Sedziego krewni albo przyjaciele.</p>
					  <p>Na odsiecz mu przybiegli slyszac o napadzie,</p>
					  <p>Zwlaszcza ze z Dobrzynskimi byli z dawna w zwadzie.</p>
					  <p>&nbsp;</p>
					  <p>Kto z wiosek batalijon Moskalow sprowadzil?</p>
					  <p>Kto tak predko sasiedztwo z zasciankow zgromadzil?</p>
					  <p>Asesor-li, czy Jankiel? Roznie slychac o tem,</p>
					  <p>Lecz nikt pewnie nie wiedzial ni wtenczas, ni potem.</p>
					  <p>Juz tez i slonce wschodzi, krwawo sie czerwieni,</p>
					  <p>Brzegiem tepym, jak gdyby odartym z promieni,</p>
					  <p>Na wpol widne, na poly w czerni chmur sie chowa</p>
					  <p>Jak rozzarzona w weglach kowalskich podkowa.</p>
					  <p>Wiatr wzmagal sie i pedzil obloki ze wschodu,</p>
					  <p>Geste i poszarpane jako bryly lodu;</p>
					  <p>Kazdy oblok w przelocie deszczem zimnym proszy,</p>
					  <p>Z tylu za nim wiatr leci i deszcz znowu suszy,</p>
					  <p>Za wiatrem znowu oblok nadbiega wilgotny:</p>
					  <p>I tak dzien na przemiany byl chlodny i slotny.</p>
					  <p>&nbsp;</p>
					  <p>Tymczasem Major belki schnace pode dworem</p>
					  <p>Kaze wlec, w kazdej belce wysiekac toporem</p>
					  <p>Polokragle otwory, w te otwory wtyka</p>
					  <p>Nogi wiezniow i druga belka je zamyka.</p>
					  <p>Oba drewna gozdziami przebite po rogach</p>
					  <p>Scisnely sie, jako psie paszczeki, na nogach.</p>
					  <p>Zas powrozami mocniej sznurowano rece</p>
					  <p>Na plecach szlachty; Major, ku wiekszej ich mece,</p>
					  <p>Kazal pierwej pozdzierac z glow konfederatki,</p>
					  <p>Z plecow plaszcze, kontusze, nawet taratatki.</p>
					  <p>Nawet zupany. I tak szlachta, skuta w klodzie,</p>
					  <p>Siedziala rzedem, dzwoniac zebami na chlodzie</p>
					  <p>I na deszczu, bo coraz wzmagala sie slota,</p>
					  <p>Nadaremnie Kropiciel dasa sie i miota.</p>
					  <p>&nbsp;</p>
					  <p>Darmo Sedzia za szlachta instancyje wnosi</p>
					  <p>I Telimena laczy prosby do lez Zosi,</p>
					  <p>Azeby miano wiekszy wzglad na niewolnikow.</p>
					  <p>Wprawdzie oficer rotny, pan Nikita Rykow,</p>
					  <p>Moskal, lecz dobry czlowiek, dal sie udobruchac,</p>
					  <p>Coz, kiedy sam majora Pluta musial sluchac!</p>
					  <p>&nbsp;</p>
					  <p>Ten major, Polak rodem, z miasteczka Dzierowicz,</p>
					  <p>Nazywal sie (jak slychac) po polsku Plutowicz,</p>
					  <p>Lecz przechrzcil sie; lotr wielki, jak sie zwykle dzieje</p>
					  <p>Z Polakiem, ktory w carskiej sluzbie zmoskwicieje.</p>
					  <p>Plut stal z fajka przed frontem, w boki sie podpieral</p>
					  <p>I gdy mu klaniano sie, nos w gore zadzieral,</p>
					  <p>A za odpowiedz, na znak gniewnego humoru,</p>
					  <p>Wypuscil z ust klab dymu i poszedl do dworu.</p>
					  <p>&nbsp;</p>
					  <p>A tymczasem Rykowa Sedzia ulagadza</p>
					  <p>I Asesora takze na bok odprowadza;</p>
					  <p>Przemyslaja, jak by rzecz zakonczyc bez sadu,</p>
					  <p>A co jeszcze wazniejsza, bez mieszan sie rzadu.</p>
					  <p>&nbsp;</p>
					  <p>Wiec do majora Pluta rzekl kapitan Rykow:</p>
					  <p>&quot;Panie Major! co nam z tych wszystkich
					  niewolnikow?</p>
					  <p>Oddamy pod sad? bedzie szlachcie wielka bieda,</p>
					  <p>A Panu Majorowi nikt za to nic nie da.</p>
					  <p>Wiesz co, Major? ot, lepiej te sprawe zagodzic,</p>
					  <p>Pan Sedzia Majorowi musi trud nagrodzic,</p>
					  <p>My powiemy, ze my tu przyszli dla wizyty,</p>
					  <p>A tak i kozy cale, i wilk bedzie syty.</p>
					  <p>Przyslowie ruskie: Wszystko mozna, lecz ostroznie:</p>
					  <p>I to przyslowie: Sobie piecz na carskim roznie;</p>
					  <p>I to przyslowie: Lepsza zgoda od niezgody;</p>
					  <p>Zaplataj dobrze wezel, konce wsadz do wody.</p>
					  <p>Raportu nie podamy, tak sie nikt nie dowie.</p>
					  <p>Bog dal rece, zeby brac, to ruskie przyslowie&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Slyszac to Major wstaje i od gniewu parska:</p>
					  <p>&quot;Czy ty oszalal, Rykow? to sluzba cesarska,</p>
					  <p>A sluzba nie jest druzba, stary, glupi Rykow!</p>
					  <p>Czy ty oszalal? ja mam puszczac buntownikow!</p>
					  <p>W takim wojennym czasie! Ha, pany Polaki,</p>
					  <p>Ja was naucze buntu! Ha, szlachta lajdaki,</p>
					  <p>Dobrzynscy, oj, ja znam was! Niech lajdaki mokna!</p>
					  <p>(I zasmial sie na cale gardlo, patrzac w okno).</p>
					  <p>Wszakze ten sam Dobrzynski, co siedzi w surducie -</p>
					  <p>Hej, zdjac mu surdut! - w roku przeszlym na reducie</p>
					  <p>Zaczal ze mna te klotnie. Kto zaczal? on, nie ja.</p>
					  <p>On, gdy tanczylem, krzyknal: &lt;&lt;Precz, za drzwi
					  zlodzieja&gt;&gt;</p>
					  <p>Ze wtenczas za pulkowej okradzenie kasy</p>
					  <p>Bylem pod sledztwem, mialem wielkie ambarasy,</p>
					  <p>A jemu co do tego? Ja tancze mazura,</p>
					  <p>On krzyczy z tylu: &lt;&lt;Zlodziej!&gt;&gt; - Szlachta za nim:
					  &lt;&lt;Ura!&gt;&gt;</p>
					  <p>Skrzywdzili mnie - a co? wpadl w me szpony szlachciura.</p>
					  <p>Mowilem: Ej, Dobrzynski! ej, przyjdzie do woza</p>
					  <p>Koza - a co? Dobrzynski, widzisz! bedzie loza&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Potem Sedziemu szepnal, schyliwszy sie, w ucho:</p>
					  <p>&quot;Jesli chcesz, Sedzio, zeby to uszlo na sucho,</p>
					  <p>Za kazda glowe tysiac rubelkow gotowka.</p>
					  <p>Tysiac rubelkow, Sedzio, to ostatnie slowko&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Sedzia chcial targowac sie, lecz Major nie
					  sluchal,</p>
					  <p>Znowu biegal po izbie, dymem gesto buchal,</p>
					  <p>Podobny do szmermelu albo do rakiety.</p>
					  <p>Chodzily za nim proszac i placzac kobiety.</p>
					  <p>&quot;Majorze - mowil Sedzia - choc pozwiesz do prawa,</p>
					  <p>Coz wygrasz? Tu nie zaszla zadna bitwa krwawa,</p>
					  <p>Nie bylo ran; ze zjedli kury i polgaski,</p>
					  <p>Za to wedle Statutu zaplaca nawiazki.</p>
					  <p>Ja na pana Hrabiego nie zanosze skargi,</p>
					  <p>To tylko byly zwykle sasiedzkie zatargi&quot;.</p>
					  <p>&nbsp;</p>
					  <p>&quot;A czy Sedzia - rzekl Major -</p>
					  <p>z o l t a k s i e g e czytal?&quot;</p>
					  <p>&quot;Co to za zolta ksiega?&quot; pan Sedzia zapytal.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Ksiega - rzekl Major - lepsza niz wasze
					  statuty,</p>
					  <p>A w niej pisze co slowo: stryczek, Sybir, knuty;</p>
					  <p>Ksiega ustaw wojennych, teraz w Litwie cal?j</p>
					  <p>Ogloszonych; juz pod stol wasze trybunaly.</p>
					  <p>Podlug ustaw wojennych za takowa psote</p>
					  <p>Pojdziecie juz to najmniej w sybirna robote&quot;.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Apeluje - rzekl Sedzia - do gubernatora&quot;.</p>
					  <p>&quot;Apeluj - rzekl Plut - chocby do Imperatora.</p>
					  <p>Wiesz, ze gdy Imperator zatwierdza ukazy,</p>
					  <p>Z laski swej czesto kare powieksza dwa razy.</p>
					  <p>Apelujcie, ja moze wynajde w potrzebie,</p>
					  <p>Mospanie Sedzio, dobry kruczek i na ciebie.</p>
					  <p>Wszak Jankiel, szpieg, ktorego juz rzad dawno sledzi,</p>
					  <p>Jest twoim domownikiem, w karczmie twojej siedzi.</p>
					  <p>Moge teraz was wszystkich wziac w areszt od
					  razu&quot;.</p>
					  <p>&quot;Mnie - rzekl Sedzia - brac w areszt? jak smiesz bez
					  rozkazu?&quot;</p>
					  <p>I przychodzilo coraz do zywszego sporu,</p>
					  <p>Gdy nowy gosc zajechal na dziedziniec dworu.</p>
					  <p>&nbsp;</p>
					  <p>Wjazd tlumny, dziwny. Przodem, niby laufer, biezy</p>
					  <p>Ogromny, czarny baran, a leb mu sie jezy</p>
					  <p>Czterema rogami, z ktorych dwa jako kablaki</p>
					  <p>Kreca sie kolo uszu, ubrane we dzwonki,</p>
					  <p>A dwa, od czola na bok wysuwajac konce,</p>
					  <p>Wstrzasaja kulki kragle, mosiezne, brzeczace.</p>
					  <p>Za baranem szly woly, trzoda owiec, kozy,</p>
					  <p>Za bydlem cztery ciezko pakowane wozy.</p>
					  <p>&nbsp;</p>
					  <p>Wszyscy odgadli, ze to wjazd ksiedza Kwestarza.</p>
					  <p>Wiec pan Sedzia, powinnosc znajac gospodarza,</p>
					  <p>Stal w progu witac goscia. Ksiadz na pierwszej bryce</p>
					  <p>Jechal, kapturem na wpol zasloniwszy lice,</p>
					  <p>Ale go wnet poznano, bo gdy wiezniow minal,</p>
					  <p>Zwrocil sie ku nim twarza, palcem na znak skinal.</p>
					  <p>I drugiej bryki furman rownie byl poznany:</p>
					  <p>Stary Maciek Rozeczka, za chlopa przebrany;</p>
					  <p>Szlachta zaczela krzyczec, skoro sie pokazal,</p>
					  <p>On rzekl: &quot;Glupi!&quot; - i reka milczenie nakazal.</p>
					  <p>Na trzecim wozie Prusak w kubraku wytartym,</p>
					  <p>A pan Zan z Mickiewiczem jechali na czwartym.</p>
					  <p>&nbsp;</p>
					  <p>A tymczasem Podhajscy i Isajewicze,</p>
					  <p>Birbasze, Wilbikowie, Biergele, Kotwicze,</p>
					  <p>Widzac szlachte Dobrzynskich w tak ciezkiej
					  niewoli,</p>
					  <p>Zaczeli z dawnych gniewow ostygac powoli.</p>
					  <p>Bo szlachta polska, chociaz niezmiernie klotliwa</p>
					  <p>I porywcza do bitew, przeciez nie jest msciwa.</p>
					  <p>Biega wiec do Macieja starego po rade.</p>
					  <p>On kolo wozow cala ustawia gromade,</p>
					  <p>Kaze czekac. </p>
					  <p>Bernardyn wstapil do pokoju.</p>
					  <p>Zaledwie go poznano, choc nie zmienil stroju,</p>
					  <p>Tak przybral inna postac. Zwyczajnie ponury,</p>
					  <p>Zamyslony, a teraz glowe wzniosl do gory</p>
					  <p>I z mina rozjasniona, jak kwestarz rubacha,</p>
					  <p>Nim zaczal gadac, dlugo smial sie: </p>
					  <p>&quot;Cha, cha, cha, cha,</p>
					  <p>Klaniam, klaniam! cha, cha, cha, wysmienicie,
					  przednie!</p>
					  <p>Panowie oficery, kto poluje we dnie,</p>
					  <p>Wy w nocy! dobry polow, widzialem zwierzyne;</p>
					  <p>Oj, skubac, skubac szlachte, oj, drzec z nich lupine!</p>
					  <p>Oj, wezciez ich na munsztuk, bo tez szlachta bryka!</p>
					  <p>Winszuje ci, Majorze, zes zlowil Hrabika!</p>
					  <p>To tluscioszek, to bogacz, panicz z antenatow,</p>
					  <p>Nie wypuszczaj go z klatki bez trzystu dukatow;</p>
					  <p>A jak wezmiesz, na klasztor daj jakie trzy grosze</p>
					  <p>I dla mnie, bo ja zawzdy za twa dusze prosze.</p>
					  <p>Jakem bernardyn, bardzo mysle o twej duszy!</p>
					  <p>Smierc i sztabsoficerow porywa za uszy!</p>
					  <p>Dobrze napisal Baka, ze smierc dzga za katy</p>
					  <p>W szkarlaty i po suknie nieraz dobrze stuknie,</p>
					  <p>I po plotnie tak utnie, jak i po kapturze,</p>
					  <p>I po fryzurze rownie, jak i po mundurze.</p>
					  <p>Smierc matula, powiada Baka, jak cebula</p>
					  <p>Lzy wyciska, gdy sciska, a rownie przytula</p>
					  <p>I dziecko, co sie lula, i zucha, co hula!</p>
					  <p>Ach! ach! Majorze, dzisiaj zyjem, jutro gnijem,</p>
					  <p>To tylko nasze, co dzis zjemy i wypijem!</p>
					  <p>Panie Sedzio, wszakze to czas podobno sniadac?</p>
					  <p>Siadam za stol i prosze wszystkich ze mna siadac;</p>
					  <p>Majorze, gdyby zrazow? Panie Poruczniku,</p>
					  <p>Co myslisz? gdyby waze dobrego ponczyku?&quot;</p>
					  <p>&nbsp;</p>
					  <p>&quot;To prawda, Ojcze - rzekli dwaj oficerowie -</p>
					  <p>Czas by juz zjesc i wypic Pana Sedzi zdrowie!&quot;</p>
					  <p>&nbsp;</p>
					  <p>Zdziwili sie domowi, patrzac na Robaka,</p>
					  <p>Skad mu sie wziela mina i wesolosc taka.</p>
					  <p>Sedzia wnet kucharzowi powtorzyl rozkazy;</p>
					  <p>Wniesiono waze, cukier, butelki i zrazy.</p>
					  <p>Plut i Rykow tak czynnie zaczeli sie zwijac,</p>
					  <p>Tak lakomie polykac i gesto zapijac,</p>
					  <p>Ze w pol godziny zjedli dwadziescia trzy zrazy</p>
					  <p>I wychylili ponczu ogromne pol wazy.</p>
					  <p>&nbsp;</p>
					  <p>Wiec Major syt i wesol w krzesle sie rozwalil,</p>
					  <p>Dobyl fajke, biletem bankowym zapalil</p>
					  <p>I otarlszy sniadanie z ust koncem serwety,</p>
					  <p>Obrocil smiejace sie oczy na kobiety</p>
					  <p>I rzekl: &quot;Ja, piekne Panie, lubie was jak wety!</p>
					  <p>Na me szlify majorskie, gdy czlek zjadl sniadanie,</p>
					  <p>Najlepsza jest po zrazach zakaska gadanie</p>
					  <p>Z paniami tak pieknemi jak wy, piekne Panie!</p>
					  <p>&nbsp;</p>
					  <p>Wiecie co? grajmy w karty! w welba-cwelba? w wista?</p>
					  <p>Albo pojdzmy mazurka? he! do diablow trzysta!</p>
					  <p>Wszak ja w jegierskim pulku pierwszy mazurzysta!&quot;</p>
					  <p>Za czym ku damom blizej schylil sie wygiety</p>
					  <p>I puszczal na przemiany dym i komplementy.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Tanczyc! - zawolal Robak - gdy wychyle
					  flasze,</p>
					  <p>To i ja, choc ksiadz, habit czasami podkasze</p>
					  <p>I potancze mazurka! Ale wiesz, Majorze,</p>
					  <p>My tu pijem, a jegry tam zmarzna na dworze?</p>
					  <p>Hulac, to hulac! Sedzio, daj beczke siwuchy!</p>
					  <p>Major pozwoli, niechaj pija jegry zuchy!&quot;</p>
					  <p>&quot;Prosilbym - rzecze Major - lecz w tem nie ma musu&quot;.</p>
					  <p>&quot;Daj, Sedzio - szepnal Robak - beczke spirytusu&quot;.</p>
					  <p>I tak, kiedy we dworze sztab wesoly lyka,</p>
					  <p>Za domem zaczela sie w wojsku pijatyka.</p>
					  <p>&nbsp;</p>
					  </font><p><font SIZE="4">Rykow kapitan milczkiem kielichy wychylal,</p>
					  <p>Lecz Major pil i razem damom sie przymilal,</p>
					  <p>A wzmagal sie w nim coraz tancowania zapal;</p>
					  <p>Rzucil fajke i reke Telimeny zlapal,</p>
					  <p>Chcial tanczyc, lecz uciekla; wiec podszedl do Zosi,</p>
					  <p>Klaniajac sie, slaniajac, do mazurka prosi:</p>
					  <p>&quot;Hej! ty Rykow, przestanze tam trabic na
					  fajce,</p>
					  <p>Precz fajka, wszak ty dobrze grasz na balabajce;</p>
					  <p>Widzisz no tam gitare, podz no, wez gitare,</p>
					  <p>I mazurka! ja, Major, ide w pierwsza pare&quot;.</p>
					  <p>Kapitan wzial gitare i struny przykrecal,</p>
					  <p>Plut znowu Telimene do tanca zachecal.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Slowo majorskie, Panno, nie Rosyjaninem</p>
					  <p>Jestem, jezeli klamie! chce byc sukinsynem,</p>
					  <p>Jezeli klamie; spytaj, a oficerowie</p>
					  <p>Wszyscy poswiadcza, cala armija to powie,</p>
					  <p>Ze w tej drugiej armiji, w korpusie dziewiatym,</p>
					  <p>W drugiej pieszej dywizji, w pulku piecdziesiatym</p>
					  <p>Jegierskim major Plut jest pierwszy mazurzysta.</p>
					  <p>Podzze, Panienko! nie badz taka narowista!</p>
					  <p>Bo ja po oficersku ukarze Panienke...&quot;</p>
					  <p>&nbsp;</p>
					  <p>To mowiac skoczyl, chwycil Telimeny reke</p>
					  <p>I szerokim calusem w biale ramie klasnal,</p>
					  <p>Gdy Tadeusz, przypadlszy z boku, w twarz mu trzasnal.</p>
					  <p>I calus, i policzek ozwaly sie razem,</p>
					  <p>Jeden za drugim, jako wyraz za wyrazem.</p>
					  </font><p>&nbsp;</p>
					  <p>Major oslupial, oczy przetarl, z gniewu blady</p>
					  <p>Zawolal: &quot;Bunt! buntownik!&quot; - i dobywszy szpady,</p>
					  <p>Biegl przebic; wtem Ksiadz dostal z rekawa krocice:</p>
					  <p>&quot;Pal, Tadeuszku! - krzyknal - pal jak w jasna swi?ce!&quot;</p>
					  <p>Tadeusz wnet pochwycil, wymierzyl, wypalil,</p>
					  <p>Chybil, ale Majora zgluszyl i osmalil.</p>
					  <p>Porywa sie z gitara Rykow: &quot;Bunt! bunt!&quot; - wola,</p>
					  <p>Wpada na Tadeusza; lecz Wojski zza stola</p>
					  <p>Machnal reka na odlew; noz w powietrzu swisnal</p>
					  <p>Miedzy glowy i pierwej uderzyl, niz blysnal.</p>
					  <p>Uderza w dno gitary, na wylot ja wierci,</p>
					  <p>Schylil sie na bok Rykow i tak uszedl smierci.</p>
					  <p>Lecz strwozyl sie; krzyknawszy: </p>
					  <p>&quot;Jegry! bunt! Jej Bogu!&quot; -</p>
					  <p>Dobyl szpady, broniac sie zblizal sie do progu.</p>
					  <p>&nbsp;</p>
					  <p>Wtem z drugiej strony izby wpada szlachty wiele</p>
					  <p>Przez okna, z rapierami, Rozeczka na czele.</p>
					  <p>Plut w sieni, Rykow za nim, wolaja zolnierzy,</p>
					  <p>Juz trzech najblizszych domu na pomoc im biezy;</p>
					  <p>Juz przeze drzwi wlaza trzy blyszczace bagnety,</p>
					  <p>A za nimi trzy czarne schylone kaszkiety.</p>
					  </font><p>&nbsp;</p>
					  <p>Maciek stal u drzwi z Rozga wzniesiona do gory,</p>
					  <p>Lgnac do sciany, czatowal jako kot na szczury,</p>
					  <p>Az cial okropnie; moze glowy by trzy zwalil,</p>
					  <p>Lecz stary, czy nie dojrzal, czy zbyt sie zapalil,</p>
					  <p>Bo nim szyje wytkneli, rabnal po kaszkietach,</p>
					  <p>Zdarl je; Rozga spadajac brzakla po bagnetach.</p>
					  <p>Moskale cofaja sie, Maciek ich wygania</p>
					  <p>Na dziedziniec. </p>
					  </font><p>&nbsp;</p>
					  <p>Tam jeszcze wiecej zamieszania.</p>
					  <p>Tam stronnicy Soplicow pracuja w zawody</p>
					  <p>Nad rozkuciem Dobrzynskich, rozrywaja klody;</p>
					  <p>Widzac to jegry za bron porywaja, biega;</p>
					  <p>Sierzant, wpadlszy, bagnetem przebil Podhajskiego,</p>
					  <p>Dwoch drugich szlachty zranil, do trzeciego strzela,</p>
					  <p>Uciekaja; bylo to przy klodzie Chrzciciela.</p>
					  </font><p>&nbsp;</p>
					  <p>Ten juz mial rece wolne, gotowe ku walce:</p>
					  <p>Wstal, podniosl dlon i zwinal w klebek dlugie palce,</p>
					  <p>I z gory tak uderzyl w grzbiet Rosyjanina,</p>
					  <p>Ze twarz jego i skron wbil w zamek karabina.</p>
					  <p>Trzasl zamek, lecz zalany krwia proch juz nie spalil;</p>
					  <p>Sierzant u nog Chrzciciela na swa bron sie zwalil.</p>
					  <p>Chrzciciel schyla sie, chwyta karabin za rure</p>
					  <p>I wijac jak kropidlem, podnosi go w gore,</p>
					  <p>Robi mlynka, dwoch zaraz szeregowych zwala</p>
					  <p>Po ramionach i w glowe ugadza kaprala;</p>
					  <p>Reszta zlekla od klody cofa sie z przestrachem:</p>
					  <p>Tak Kropiciel ruchomym nakryl szlachte dachem.</p>
					  <p>&nbsp;</p>
					  <p>Zaczem rozbito klode, rozcieto powrozy,</p>
					  <p>Szlachta juz wolna wpada na kwestarskie wozy,</p>
					  <p>Z nich dobywa rapiery, palasze, tasaki,</p>
					  <p>Kosy, strzelby; Konewka znalazl dwa szturmaki</p>
					  <p>I worek kul; wsypal je do swego szturmaka,</p>
					  <p>Drugi, rownie nabiwszy, ustapil dla Saka.</p>
					  <p>&nbsp;</p>
					  <p>Jegrow wiecej przybywa, mieszaja sie, tluka;</p>
					  <p>Szlachta w zgielku nie moze ciac krzyzowa sztuka,</p>
					  <p>Jegry nie moga strzelac, juz walcza wrecz, z bliska -</p>
					  <p>Juz stal, zab za zab o stal porwawszy sie, pryska,</p>
					  <p>Bagnet o szable, kosa o gifes sie lamie,</p>
					  <p>Piesc spotyka sie z piescia i z ramieniem ramie.</p>
					  <p>&nbsp;</p>
					  <p>Lecz Rykow z czescia jegrow pobiegl, gdzie
					  stodola</p>
					  <p>Tyka plotow; tam staje, na zolnierzy wola,</p>
					  <p>Azeby zaprzestali bitwe tak bezladna,</p>
					  <p>Gdzie nie uzywszy broni, pod piesciami padna.</p>
					  <p>Gniewny, ze sam nie moze dac ognia, bo w tlumie</p>
					  <p>Moskalow od Polakow rozroznic nie umie,</p>
					  <p>Wola: &quot;Stroj sie!&quot; (co znaczy: formuj sie do szyku),</p>
					  <p>Ale komendy jego nie slychac srod krzyku.</p>
					  <p>&nbsp;</p>
					  <p>Stary Maciek, do recznych zapasow niezdolny,</p>
					  <p>Rejterowal sie, czyniac przed soba plac wolny</p>
					  <p>Na prawo i na lewo; tu koncem szablicy</p>
					  <p>Uciera bagnet z rury jako knot ze swi?cy;</p>
					  <p>Tam machnawszy na odlew, scina albo kole.</p>
					  <p>I tak ostrozny Maciek ustepuje w pole.</p>
					  <p>&nbsp;</p>
					  <p>Lecz z najwiekszym na niego naciera uporem</p>
					  <p>Stary Gifrejter, co byl pulku instruktorem,</p>
					  <p>Wielki mistrz na bagnety; zebral sie sam w sobie,</p>
					  <p>Skurczyl sie, a karabin porwal w rece obie,</p>
					  <p>Prawa u zamka, lewa, w pol rury porywa,</p>
					  <p>Kreci sie, podskakuje, czasem przysiadywa,</p>
					  <p>Lewa reke opuszcza, a bron z prawej reki</p>
					  <p>Suwa naprzod, jak zadlo z wezowej paszczeki,</p>
					  <p>I znowu ja w tyl cofa, na kolanie wspiera,</p>
					  <p>I tak krecac sie, skaczac, na Macka naciera.</p>
					  <p>&nbsp;</p>
					  <p>Ocenil przeciwnika zrecznosc Maciek stary</p>
					  <p>I lewa reka wlozyl na nos okulary,</p>
					  <p>Prawa rekojesc Rozgi tuz przy piersiach trzyma,</p>
					  <p>Cofa sie, Gifrejtera ruch sledzac oczyma,</p>
					  <p>Sam slania sie na nogach, jakby byl pijany;</p>
					  <p>Gifrejter biezy predzej i, pewny wygranej,</p>
					  <p>Zeby uchodzacego tem lacniej dosiegnal,</p>
					  <p>Powstal i cala prawa reke wzdluz wyciagnal</p>
					  <p>Popychajac karabin, a tak sie wysilil</p>
					  <p>Pchnieciem i waga broni, ze sie az pochylil;</p>
					  <p>Maciek tam, kedy bagnet wklada sie na rure,</p>
					  <p>Podstawia swa rekojesc, podbija bron w gore,</p>
					  <p>I wnet spuszczajac Rozge, tnie Moskala w reke</p>
					  <p>Raz, i znowu na odlew przecina mu szczeke. -</p>
					  <p>Tak padl Gifrejter, fechmistrz najpierwszy z Moskalow,</p>
					  <p>Kawaler trzech krzyzykow i czterech medalow.</p>
					  <p>&nbsp;</p>
					  <p>Tymczasem kolo klodek lewe szlachty skrzydlo</p>
					  <p>Juz jest bliskie zwyciestwa; tam walczyl Kropidlo,</p>
					  <p>Widny z dala, tam Brzytwa wil sie srod Moskali,</p>
					  <p>Ten ich w pol ciala rzeza, tamten w glowy wali;</p>
					  <p>Jako machina, ktora niemieccy majstrowie</p>
					  <p>Wymyslili i ktora mlockarnia sie zowie,</p>
					  <p>A jest razem sieczkarnia, ma cepy i noze,</p>
					  <p>Razem i slome kraje, i wybija zboze:</p>
					  <p>Tak pracuja Kropiciel i Brzytwa pospolu,</p>
					  <p>Mordujac nieprzyjaciol, ten z gory, ten z dolu.</p>
					  <p>&nbsp;</p>
					  <p>Lecz Kropiciel juz pewne porzuca zwyciestwo,</p>
					  <p>Biezy na prawe skrzydlo, gdzie niebezpieczenstwo</p>
					  <p>Nowe grozi Mackowi; smierci Gifrejtera</p>
					  <p>Mszczac sie, Proporszczyk z dlugim szpontonem naciera</p>
					  <p>(Szponton jest to zarazem dzida i siekiera,</p>
					  <p>Teraz juz zaniedbany, i tylko na flocie</p>
					  <p>Uzywaja go; wowczas sluzyl i piechocie).</p>
					  <p>Proporszczyk, czlowiek mlody, zrecznie sie uwijal;</p>
					  <p>Ilekroc mu przeciwnik bron na bok odbijal,</p>
					  <p>On cofal sie; mlodego nie mogl Maciek zgonic,</p>
					  <p>I tak, nie raniac, musial tylko siebie bronic.</p>
					  <p>Juz mu Proporszczyk dzida lekka rane zadal,</p>
					  <p>Juz wznoszac w gore berdysz, do ciecia sie skladal:</p>
					  <p>Chrzciciel nie zdola dobiec, lecz staje w pol drogi,</p>
					  <p>Okreca bron i ciska wrogowi pod nogi.</p>
					  <p>Skruszyl kosc; juz Proporszczyk szponton z rak upuszcza,</p>
					  <p>Slania sie; wpada Chrzciciel, za nim szlachty tluszcza,</p>
					  <p>A za szlachta Moskale od lewego skrzydla</p>
					  <p>Biega zmieszani; wszczal sie boj kolo Kropidla.</p>
					  <p>&nbsp;</p>
					  <p>Chrzciciel, ktory w obronie Macka orez stracil,</p>
					  <p>Ledwie ze tej przyslugi zyciem nie przyplacil,</p>
					  <p>Bo przypadlo nan z tylu dwoch silnych Moskali</p>
					  <p>I czworo rak zarazem we wlos mu wplatali;</p>
					  <p>Upiawszy sie nogami, ciagna jako liny</p>
					  <p>Sprezyste, uwiazane do masztu wiciny;</p>
					  <p>Daremnie w tyl Kropiciel ciska slepe razy,</p>
					  <p>Chwieje sie - a wtem postrzegl, ze blisko Gerwazy</p>
					  <p>Walczy; zawolal: &quot;Jezus Maria! Scyzoryku!&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>Klucznik, trwoge Chrzciciela poznawszy po krzyku,</p>
					  <p>Odwrocil sie i spuscil ostrze plytkiej stali</p>
					  <p>Miedzy glowe Chrzciciela i rece Moskali.</p>
					  <p>Cofneli sie, wydawszy przerazliwe glosy,</p>
					  <p>Lecz jedna reka, mocniej wplatana we wlosy,</p>
					  <p>Zostala sie, wiszaca i krwia buchajaca.</p>
					  <p>Tak orlik, jedna szpone gdy wbije w zajaca,</p>
					  <p>Druga, by wstrzymac zwierza, o drzewo uczepi,</p>
					  <p>A zajac, targnawszy sie, orla wpol rozszczepi,</p>
					  <p>Prawa szpona u drzewa zostaje sie w lesie,</p>
					  <p>A lewa, zakrwawiona, zwierz na pola niesie.</p>
					  </font><p>&nbsp;</p>
					  <p>Kropiciel, wolny, oczy obraca dokola,</p>
					  <p>Rece wyciaga, broni szuka, broni wola,</p>
					  <p>Tymczasem grzmi piesciami, stojac mocno w kroku</p>
					  <p>I pilnujac sie z bliska Gerwazego boku,</p>
					  <p>Az Saka, syna swego, postrzega w natloku.</p>
					  <p>Sak prawa reka szturmak wymierza, a lewa</p>
					  <p>Ciagnie za soba dlugie, sazniowate drzewo,</p>
					  <p>Uzbrojone w krzemienie i w guzy, i seki</p>
					  <p>(Nikt by go nie podzwignal procz Chrzciciela reki).</p>
					  <p>Chrzciciel, gdy mila bron swa, swe Kropidlo zoczyl,</p>
					  <p>Chwycil je, ucalowal, z radosci podskoczyl,</p>
					  <p>Zakrecil je nad glowa i zaraz ubroczyl.</p>
					  <p>&nbsp;</p>
					  <p>Co potem dokazywal, jakie kleski szerzyl,</p>
					  <p>Daremnie spiewac, nikt by muzie nie uwierzyl,</p>
					  <p>Jak nie wierzono w Wilnie ubogiej kobi?cie,</p>
					  <p>Ktora, stojac na swietej Ostrej Bramy szczycie,</p>
					  <p>Widziala, jako Dejow, moskiewski jeneral,</p>
					  <p>Wchodzac z pulkiem Kozakow, juz brame otwieral</p>
					  <p>I jak jeden mieszczanin, zwany Czarnobacki,</p>
					  <p>Zabil Dejowa i zniosl caly pulk kozacki.</p>
					  <p>&nbsp;</p>
					  <p>Dosyc, ze sie tak stalo, jak przewidzial Rykow:</p>
					  <p>Jegry w tlumie ulegli mocy przeciwnikow.</p>
					  <p>Dwudziestu trzech na ziemi wala sie zabitych,</p>
					  <p>Trzydziestu kilku jeczy ranami okrytych,</p>
					  <p>Wielu pierzchlo, skrylo sie w sad, w chmiele, nad rzeke,</p>
					  <p>Kilku wpadlo do domu pod kobiet opieke.</p>
					  <p>&nbsp;</p>
					  <p>Zwycieska szlachta biega z okrzykiem wesela,</p>
					  <p>Ci do beczek, ci lupy rwa z nieprzyjaciela;</p>
					  <p>Jeden Robak tryumfow szlachty nie podziela.</p>
					  </font><p>&nbsp;</p>
					  <p>On dotad sam nie walczyl (bo bronia kanony</p>
					  <p>Ksiedzu bic sie), lecz jako czlowiek doswiadczony</p>
					  <p>Dawal rady, plac boju z roznych stron obchodzil,</p>
					  <p>Wzrokiem, reka, walczacych zachecal, przywodzil.</p>
					  <p>I teraz wola, aby do niego sie laczyc,</p>
					  <p>Uderzyc na Rykowa, zwyciestwo dokonczyc.</p>
					  <p>Tymczasem przez poslanca wskazal do Rykowa,</p>
					  <p>Ze jezeli bron zlozy, zycie swe zachowa;</p>
					  <p>Jezeli zas oddanie broni bedzie zwlekac,</p>
					  <p>Robak kaze otoczyc reszte i wysiekac.</p>
					  <p>&nbsp;</p>
					  <p>Kapitan Rykow wcale nie prosil pardonu;</p>
					  <p>Zebrawszy kolo siebie z pol batalijonu,</p>
					  <p>Krzyknal: &quot;Za bron!&quot; - wnet szereg karabiny chwyta,</p>
					  <p>Chrzasnela bron, a byla juz dawno nabita;</p>
					  <p>Krzyknal: &quot;Cel!&quot; - rury rzedem zablysnely dlugim,</p>
					  <p>Krzyknal: &quot;Ognia koleja!&quot; - grzmia jeden po drugim;</p>
					  <p>Ten strzela, ten nabija, ten chwyta do reki,</p>
					  <p>Slychac swisty kul, zamkow chrzesty, sztenflow dzwieki.</p>
					  <p>Caly szereg zdaje sie byc ruchawym plazem,</p>
					  <p>Ktory tysiac blyszczacych nog wywija razem.</p>
					  <p>&nbsp;</p>
					  <p>Prawda, ze jegry byli mocnym trunkiem pjani,</p>
					  <p>Zle mierza i chybiaja, rzadko ktory rani,</p>
					  <p>Ledwie ktory zabije; przeciez dwoch Maciejow</p>
					  <p>Juz zraniono i polegl jeden z Bartlomiejow.</p>
					  <p>Szlachta z niewiela rusznic z rzadka sie odstrzela,</p>
					  <p>Chce szablami uderzyc na nieprzyjaciela,</p>
					  <p>Ale starsi wstrzymuja; kule gesto swiszcza,</p>
					  <p>Raza, spedzaja, wkrotce dziedziniec oczyszcza.</p>
					  <p>Juz az po szybach dworu zaczynaja dzwonic.</p>
					  <p>&nbsp;</p>
					  <p>Tadeusz, ktory zostal w domu kobiet bronic</p>
					  <p>Z rozkazu stryja, slyszac, ze coraz to gorz?j</p>
					  <p>Wre bitwa, wybiegl; za nim wybiegl Podkomorzy,</p>
					  <p>Ktoremu Tomasz wreszcie przyniosl karabele;</p>
					  <p>Spieszy, laczy sie z szlachta i staje na czele.</p>
					  <p>Biezy, bron wznioslszy, szlachta rusza jego sladem,</p>
					  <p>Jegry, przypusciwszy ich, sypneli kul gradem.</p>
					  <p>Legl Isajewicz, Wilbik, Brzytewka raniony;</p>
					  <p>Zaczem wstrzymuja szlachte, Robak z jednej strony,</p>
					  <p>A z drugiej Maciej; szlachta ostyga w zapale,</p>
					  <p>Oglada sie, cofa; widza to Moskale;</p>
					  <p>Kapitan Rykow mysli ostatni cios zadac,</p>
					  <p>Spedzic szlachte z dziedzinca i dworem owladac.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Formuj sie do ataku! - zawolal - na sztyki!</p>
					  <p>Naprzod!&quot; Wnet szereg, rury wytknawszy jak tyki,</p>
					  <p>Schyla glowy, zrusza sie i przyspiesza kroku;</p>
					  <p>Darmo szlachta wstrzymuje z przodu, strzela z boku,</p>
					  <p>Szereg juz pol dziedzinca przeszedl bez oporu;</p>
					  <p>Kapitan, pokazujac szpada na drzwi dworu,</p>
					  <p>Krzyczy: &quot;Sedzio! poddaj sie, bo dwor spalic kaze!&quot;</p>
					  <p>&quot;Pal - wola Sedzia - ja cie w tym ogniu usmaze&quot;.</p>
					  <p>&nbsp;</p>
					  <p>O dworze Soplicowski! jesli dotad cale</p>
					  <p>Swieca sie pod lipami twoje sciany biale</p>
					  <p>Jesli tam dotad szlachty sasiedzkiej gromada</p>
					  <p>Za goscinnemi stoly Sedziego zasiada,</p>
					  <p>Pewnie tam pija czesto za Konewki zdrowie;</p>
					  <p>Bez niego juz by bylo dzis po Soplicowie!</p>
					  </font><p>&nbsp;</p>
					  <p>Konewka dotad male dal mestwa dowody;</p>
					  <p>Choc najpierwszy ze szlachty uwolniony z klody,</p>
					  <p>Choc zaraz znalazl w wozie swa mila Konewke,</p>
					  <p>Swoj szturmak faworytny i z nim kul sakiewke,</p>
					  <p>Nie chcial bic sie; powiadal, ze sobie nie ufa</p>
					  <p>Na czczo; szedl wiec, gdzie stala spirytusu kufa,</p>
					  <p>Reka jak lyzka strumien do ust sobie chylil;</p>
					  <p>Dopiero gdy sie dobrze rozgrzal i posilil,</p>
					  <p>Poprawil czapke, z kolan wzial do rak Konewke,</p>
					  <p>Zmacal sztenflem naboju, podsypal panewke</p>
					  <p>I spojrzal na plac boju; widzi, ze blyszczaca</p>
					  <p>Fala bagnetow szlachte bije i roztraca;</p>
					  <p>Przeciw tej fali plynie, schyla sie do ziemi</p>
					  <p>I nurkuje pomiedzy trawami gestemi</p>
					  <p>Srodkiem dziedzinca, az tam, gdzie rosla pokrzywa,</p>
					  <p>Zasadza sie, a Saka gestami przyzywa.</p>
					  <p>&nbsp;</p>
					  <p>Sak, broniac dworu, stanal z szturmakiem u proga,</p>
					  <p>Bo w tym dworze mieszkala jego Zosia droga,</p>
					  <p>Od ktorej choc w zalotach zostal pogardzony,</p>
					  <p>Kochal ja zawsze, zginac rad dla jej obrony.</p>
					  <p>&nbsp;</p>
					  <p>Juz szereg jegrow w marszu na pokrzywe wkracza,</p>
					  <p>Gdy Konew ruszyl cyngla i z paszczy garlacza</p>
					  <p>Tuzin kul rozsiekanych puszcza srod Moskali;</p>
					  <p>Sak puszcza drugi tuzin, jegry sie zmieszali.</p>
					  <p>Przerazony zasadzka szereg w klab sie zwija,</p>
					  <p>Cofa sie, rzuca rannych; Chrzciciel ich dobija.</p>
					  <p>&nbsp;</p>
					  <p>Stodola juz daleko; bojac sie odwodu</p>
					  <p>Dlugiego, Rykow skoczyl pod parkan ogrodu,</p>
					  <p>Tam pierzchajaca rote zatrzymuje w biegu,</p>
					  <p>Szykuje, lecz szyk zmienia: z jednego szeregu</p>
					  <p>Robi trojkat, klin ostry wystawujac z przodu,</p>
					  <p>A dwa boki opiera o parkan ogrodu.</p>
					  <p>Dobrze zrobil, bo jazda nan od zamku wali.</p>
					  <p>&nbsp;</p>
					  <p>Hrabia, ktory byl w zamku pod straza Moskali,</p>
					  <p>Gdy pierzchla straz zlekniona, dworzan na kon wsadzil</p>
					  <p>I slyszac strzaly, w ogien jazde swa prowadzil,</p>
					  <p>Sam na czele, z zelazem nad glowe wzniesionem.</p>
					  <p>Wtem Rykow krzyknal: &quot;Ognia pol batalijonem!&quot;</p>
					  <p>Przeleciala po zamkach wzdluz nitka ognista</p>
					  <p>I z czarnych rur wytknietych swisnelo kul trzysta.</p>
					  <p>Trzech jezdnych padlo rannych, jeden trupem lezy.</p>
					  <p>Padl kon Hrabi, spadl Hrabia; Klucznik krzyczac biezy</p>
					  <p>Na ratunek, bo widzi: jegry na cel wzieli</p>
					  <p>Ostatniego z Horeszkow, chociaz po kadzieli.</p>
					  <p>Robak byl blizszy, Hrabie cialem swym zakrywa,</p>
					  <p>Dostal za niego postrzal, spod konia dobywa,</p>
					  <p>Uprowadza; a szlachcie kaze sie rozstapic,</p>
					  <p>Lepiej mierzyc, postrzalow nadaremnych skapic,</p>
					  <p>Kryc sie za ploty, studnie, za sciany obory;</p>
					  <p>Hrabia z jazda ma czekac sposobniejszej pory.</p>
					  <p>&nbsp;</p>
					  </font><p><font SIZE="4">Plany Robaka pojal i wykonal cudnie</p>
					  <p>Tadeusz; stal ukryty za drewniana studnie;</p>
					  <p>A ze trzezwy i dobrze strzelal z dubeltowki</p>
					  <p>(Mogl trafic do rzuconej w powietrze zlotowki),</p>
					  <p>Okropnie razi Moskwe, starszyzne wybiera:</p>
					  <p>Za pierwszym zaraz strzalem ubil feldfebera.</p>
					  <p>Potem z dwoch rur raz po raz dwoch sierzantow
					  sprzata,</p>
					  <p>Mierzy to po galonach, to w srodek trojkata,</p>
					  <p>Gdzie stal sztab; zaczem Rykow gniewa sie i dasa.</p>
					  <p>Tupa nogami, szpady swej rekojesc kasa:</p>
					  <p>&quot;Majorze Plucie - wola - co to z tego bedzie?</p>
					  <p>Wkrotce tu nie zostanie nikt z nas przy
					  komendzie!&quot;</p>
					  </font><p>&nbsp;</p>
					  <p>Wiec Plut na Tadeusza krzyknal z wielkim gniewem:</p>
					  <p>&quot;Panie Polak, wstydz sie Pan chowac sie za drzewem,</p>
					  <p>Nie badz tchorz, wyjdz na srodek, bij sie honorowie,</p>
					  <p>Po zolniersku&quot;. - A na to Tadeusz odpowie:</p>
					  <p>&quot;Majorze! Jesli jestes tak smialym rycerzem,</p>
					  <p>A czegoz ty sie chowasz za jegrow kolnierzem?</p>
					  <p>Nie tchorze ja przed toba, wynidz no zza plotow,</p>
					  <p>Dostales w twarz, jam przecie bic sie z toba gotow!</p>
					  <p>Po co krwi rozlew! Miedzy nami byla zwada,</p>
					  <p>Niechajze ja rozstrzygnie pistolet lub szpada.</p>
					  <p>Daje ci bron na wybor, od dziala do szpilki;</p>
					  <p>A nie, to was wystrzelam jako w jamie wilki&quot;.</p>
					  <p>I to mowiac wystrzelil, a tak dobrze mierzyl,</p>
					  <p>Ze porucznika obok Rykowa uderzyl.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Majorze - szepnal Rykow - wyjdz na pojedynek</p>
					  <p>I pomscij sie za jego raniejszy uczynek.</p>
					  <p>Jesli tego szlachcica kto inny zabije,</p>
					  <p>To, Major widzi, Major hanby swej nie zmyje.</p>
					  <p>Trzeba tego szlachcica na pole wywabic,</p>
					  <p>Nie mozna z karabina, to choc szpada zabic.</p>
					  <p>Co puka, to nie sztuka; to wole, co kole -</p>
					  <p>Mowil stary Suworow; wyjdz, Majorze, w pole,</p>
					  <p>Bo on nas powystrzela; patrz, bierze do celu&quot;.</p>
					  <p>Na to rzekl Major: &quot;Rykow! mily przyjacielu!</p>
					  <p>Ty jestes zuch na szpady, wyjdz ty, bracie Rykow,</p>
					  <p>Lub wiesz co? wyszlem kogo z naszych porucznikow.</p>
					  <p>Ja major, ja nie moge odstapic zolnierzy,</p>
					  <p>Do mnie batalijonu komenda nalezy&quot;.</p>
					  <p>Slyszac to Rykow szpade podniosl, wyszedl smialo,</p>
					  <p>Kazal ognia zaprzestac, machnal chustka biala.</p>
					  <p>Pyta sie Tadeusza, jaka bron podoba;</p>
					  <p>Po ukladach - na szpady zgodzili sie oba.</p>
					  <p>Tadeusz broni nie mial; gdy szukano szpady,</p>
					  <p>Wyskoczyl Hrabia zbrojny i zerwal uklady.</p>
					  <p>&nbsp;</p>
					  <p>&quot;Panie Soplico! - wolal - z przeproszeniem Pana,</p>
					  <p>Pan wyzwales Majora! ja do Kapitana</p>
					  <p>Mam dawniejsza uraze: on do zamku mego</p>
					  <p>(&quot;Mow Pan - przerwal Protazy - do zamku naszego&quot;)</p>
					  <p>On wpadl - rzekl konczac Hrabia - na czele zlodziejow,</p>
					  <p>On, poznalem Rykowa, wiazal mych dzokejow.</p>
					  <p>Skarze go, jakom zbojcow skaral pod opoka,</p>
					  <p>Ktora Sycylijanie zwa Birbante-rokko&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Uciszyli sie wszyscy, ustalo strzelanie,</p>
					  <p>Wojska ciekawe patrza na wodzow spotkanie:</p>
					  <p>Hrabia i Rykow ida, obroceni bokiem,</p>
					  <p>Prawa reka i prawym grozac sobie okiem;</p>
					  <p>Wtem lewymi rekami odkrywaja glowy</p>
					  <p>I klaniaja sie grzecznie (zwyczaj honorowy:</p>
					  <p>Nim przyjdzie do zabojstwa, naprzod sie przywitac).</p>
					  <p>Juz spotkaly sie szpady i zaczely zgrzytac;</p>
					  <p>Rycerze, wznoszac nogi, prawemi kolany</p>
					  <p>Przyklekaja, w przod i w tyl skaczac na przemiany.</p>
					  <p>&nbsp;</p>
					  <p>Ale Plut, Tadeusza widzac przed swym frontem,</p>
					  <p>Naradzal sie po cichu z gifrejterem Gontem,</p>
					  <p>Ktory w rocie uchodzil za pierwszego strzelca.</p>
					  <p>&quot;Gonto - rzekl Major - widzisz ty tego wisielca?</p>
					  <p>Jesli mu wsadzisz kule, tam pod piatym zebrem,</p>
					  <p>To dostaniesz ode mnie cztery ruble srebrem&quot;.</p>
					  <p>Gont odwodzi karabin, do zamka sie chyli,</p>
					  <p>Wierni go towarzysze plaszczami okryli;</p>
					  <p>Mierzy nie w zebro, ale w glowe Tadeusza,</p>
					  <p>Strzelil i trafil - blisko, w srodek kapelusza.</p>
					  <p>Okrecil sie Tadeusz, az Kropiciel wpada</p>
					  <p>Na Rykowa, a za nim szlachta, krzyczac: &quot;Zdrada!&quot;</p>
					  <p>Tadeusz go zaslania, ledwie zdolal Rykow</p>
					  <p>Zrejterowac sie i wpasc we srodek swych szykow.</p>
					  <p>&nbsp;</p>
					  <p>Znowu Dobrzynscy z Litwa natarli w zawody</p>
					  <p>I pomimo dawniejsze dwoch stronnictw niezgody</p>
					  <p>Walcza jak bracia, jeden drugiego zacheca.</p>
					  <p>Dobrzynscy, widzac jak sie Podhajski wykreca</p>
					  <p>Tuz przed szeregiem jegrow i kosa ich kraje,</p>
					  <p>Zawolali z radoscia: &quot;Niech zyja Podhaje!</p>
					  <p>Naprzod, bracia Litwini! Gora, gora Litwa!&quot;</p>
					  <p>Skolubowie zas, widzac, jak waleczny Brzytwa,</p>
					  <p>Choc ranny, leci z szabla wzniesiona do gory,</p>
					  <p>Krzykneli: &quot;Gora Macki, niech zyja Mazury!&quot;</p>
					  <p>Dodawszy wzajem serca, biega na Moskali;</p>
					  <p>Nadaremnie ich Robak z Mackiem wstrzymywali.</p>
					  <p>&nbsp;</p>
					  <p>Gdy tak na rote jegrow uderzano z przodu,</p>
					  <p>Wojski rzuca plac boju, idzie do ogrodu;</p>
					  <p>Przy boku jego stapal ostrozny Protazy,</p>
					  <p>A Wojski mu po cichu wydawal rozkazy.</p>
					  <p>&nbsp;</p>
					  <p>Stala w ogrodzie, prawie pod samym parkanem,</p>
					  <p>O ktory sie opieral Rykow swym trojgranem,</p>
					  <p>Wielka, stara sernica, budowana w kratki</p>
					  <p>Z belek na krzyz wiazanych, podobna do klatki.</p>
					  <p>W niej swiecily sie bialych serow mnogie kopy;</p>
					  <p>Wkolo zas wahaly sie suszace sie snopy</p>
					  <p>Szalwiji, benedykty kardy, macierzanki:</p>
					  <p>Cala zielna domowa apteka Wojszczanki.</p>
					  <p>Sernica w gorze miala wszerz sazni polczwarta.</p>
					  <p>A u dolu na jednym wielkim slupie wsparta,</p>
					  <p>Niby gniazdo bocianie. Stary slup debowy</p>
					  <p>Pochylil sie, bo juz byl wygnil do polowy,</p>
					  <p>Grozil upadkiem. Nieraz Sedziemu radzono,</p>
					  <p>Aby zrucil budowe wiekiem nadwatlona;</p>
					  <p>Ale Sedzia powiadal, ze woli poprawiac</p>
					  <p>Anizeli rozrucac, albo tez przestawiac.</p>
					  <p>Odkladal budowanie do sposobnej pory,</p>
					  <p>Tymczasem pod slup kazal wetknac dwie podpory.</p>
					  <p>Tak pokrzepiona, ale nietrwala budowa</p>
					  <p>Wygladala za parkan nad trojkat Rykowa.</p>
					  <p>&nbsp;</p>
					  <p>Ku tej sernicy Wojski z Woznym milczkiem ida,</p>
					  <p>Kazdy zbrojny ogromnym dragiem jakby dzida;</p>
					  <p>Za nimi ochmistrzyni dazy przez konopie</p>
					  <p>I kuchcik, male, ale bardzo silne chlopie.</p>
					  <p>Przyszedlszy, dragi wparli w wierzch slupa nadgnily,</p>
					  <p>Sami, u koncow wiszac, pchaja z calej sily,</p>
					  <p>Jako flisy uwiezla na rapach wicine</p>
					  <p>Dlugimi dragi z brzegu pedza na glebine.</p>
					  <p>&nbsp;</p>
					  <p>Trzasnal slup: juz sernica chwieje sie i wali</p>
					  <p>Z brzemieniem drzew i serow na trojkat Moskali,</p>
					  <p>Gniecie, rani, zabija; gdzie staly szeregi,</p>
					  <p>Leza drwa, trupy, sery biale jako sniegi,</p>
					  <p>Krwia i mozgiem splamione. Trojkat w sztuki pryska,</p>
					  <p>A juz w srodku Kropidlo grzmi, juz Brzytwa blyska,</p>
					  <p>Siecze Rozga, od dworu wpada szlachty tluszcza,</p>
					  <p>A Hrabia od bram jazde na rozpierzchlych puszcza.</p>
					  <p>&nbsp;</p>
					  <p>Juz tylko osmiu jegrow z sierzantem na czele</p>
					  <p>Bronia sie; biezy Klucznik; oni stoja smiele,</p>
					  <p>Dziewiec rur wymierzyli prosto w leb Klucznika;</p>
					  <p>On leci na strzal, krecac ostrze Scyzoryka.</p>
					  <p>Widzi to Ksiadz, zabiega Klucznikowi droge.</p>
					  <p>Sam pada i podbija Gerwazemu noge.</p>
					  <p>Upadli, wlasnie kiedy pluton ognia dawal;</p>
					  <p>Ledwie olow przeswisnal, juz Gerwazy wstawal,</p>
					  <p>Juz wskoczyl w dym; dwom jegrom zaraz glowy zmiata.</p>
					  <p>Uciekaja strwozeni, Klucznik goni, plata;</p>
					  <p>Oni biegna dziedzincem, Gerwazy ich torem;</p>
					  <p>Wpadaja we drzwi gumna stojace otworem,</p>
					  <p>I Gerwazy do gumna na ich karkach wjechal,</p>
					  <p>Zniknal w ciemnosci, ale bitwy nie zaniechal,</p>
					  <p>Bo przeze drzwi jek slychac, wrzask i geste razy.</p>
					  <p>Wkrotce ucichlo wszystko; wyszedl sam Gerwazy</p>
					  <p>Z mieczem krwawym. </p>
					  </font><p>&nbsp;</p>
					  <p>Juz szlachta odzierzyla pole,</p>
					  <p>Porozpedzanych jegrow sciga, rabie, kole;</p>
					  <p>Rykow sam zostal, krzyczy, ze broni nie zlozy,</p>
					  <p>Bije sie, gdy ku niemu podszedl Podkomorzy</p>
					  <p>I wznoszac karabele, rzekl powaznym tonem:</p>
					  <p>&quot;Kapitanie! nie splamisz czci twojej pardonem,</p>
					  <p>Dales proby, rycerzu nieszczesny, lecz mezny,</p>
					  <p>Twojej odwagi; porzuc opor niedolezny,</p>
					  <p>Zloz bron, nim cie naszymi szablami rozbroim;</p>
					  <p>Zachowasz zycie i czesc, jestes wiezniem moim!&quot;</p>
					  <p>&nbsp;</p>
					  <p>Rykow, Podkomorzego zwalczony powaga,</p>
					  <p>Sklonil sie i oddal mu swoje szpade naga,</p>
					  <p>Skrwawiona po rekojesc, i rzekl: &quot;Lachy braty!</p>
					  <p>Oj, biada mnie, zem nie mial choc jednej armaty!</p>
					  <p>Dobrze mowil Suworow: &lt;&lt;Pomnij, Rykow kamrat,</p>
					  <p>Zebys nigdy na Lachow nie chodzil bez armat!&gt;&gt;</p>
					  <p>Coz! jegry byli pjani, Major pic pozwolil!</p>
					  <p>Och, major Plut, on dzisiaj bardzo poswawolil!</p>
					  <p>On odpowie przed carem, bo on mial komende,</p>
					  <p>Ja, Panie Podkomorzy, wasz przyjaciel bede.</p>
					  <p>Ruskie przyslowie mowi: Kto sie mocno lubi,</p>
					  <p>Ten, Panie Podkomorzy, i mocno sie czubi.</p>
					  <p>Wy dobrzy do wypitki, dobrzy do wybitki,</p>
					  <p>Ale przestancie robic nad jegrami zbytki&quot;.</p>
					  <p>&nbsp;</p>
					  <p>Podkomorzy, slyszac to, karabele wznasza</p>
					  <p>I przez Woznego pardon powszechny oglasza,</p>
					  <p>Kaze rannych opatrzyc, z trupow czyscic pole,</p>
					  <p>A jegrow rozbrojonych prowadzic w niewole.</p>
					  <p>Dlugo szukano Pluta; on, w krzaku pokrzywy</p>
					  <p>Zarywszy sie gleboko, lezal jak niezywy;</p>
					  <p>Wyszedl wreszcie, ujrzawszy, ze bylo po bitwie.</p>
					  <p>&nbsp;</p>
					  <p>Taki mial koniec zajazd ostatni na Litwie.</p>
					  <p>&nbsp;</p>
 
				</div>
{% endblock %}