<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>The Shrimp World</title>
		<script src="{{ asset('bundles/shrimps/js/shrimps.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/shrimps/css/shrimps.css') }}">
	</head>
	<body>

		<h1>The Shrimp World</h1>
		<h2>Shrimp type</h2>
		{% block contents %}
		{% endblock %}
	</body>
</html>